@mixin wizard_btn_primary($color){
  background-color: $color;
  border-color: $color;
  border: 1px solid;
  border-radius: 8px;
  color: #fff;
  width: 80%;
  margin: 0 auto 10px;
  padding: 14px;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  text-transform: uppercase;
}

@mixin wizard_btn_secondary(){
  display: block;
  background-color: #aaa;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.wizard-wrapper{
  box-sizing: border-box;
  .title-wrapper{
    margin: 0 auto;
    h1.title{
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .wizard-content{
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    .headline{
      padding: 20px;
      border-bottom: 1px solid $waboot_color;
    }
    .content{
      padding: 10px 20px 0 20px;
      label.generator{
        display: none;
      }
      .generators{
        display: flex;
        flex-flow: row wrap;
        margin: 0 -10px;
        .generator-selector{
          width: 100%;
          padding: 0 10px;
          @include min-medium{
            width: 33.3333%;
          }
          img{
            max-width: 100%;
            width: 100%;
            cursor: pointer;
            padding: 20px;
            background-color: #eee;
            &.selected{
              border: 3px solid $waboot_color;
            }
          }
          h3{
            margin-bottom: 0;
          }
          p.description{
            color: #ccc;
          }
        }
      }
    }
    .footer{
      display: flex;
      flex-flow: row wrap;
      padding: 20px;
      .progress-status{
        width: 100%;
        margin-bottom: 20px;
      }
      .submit-wrapper{
        width: 50%;
        button[type="submit"]{
          @include wizard_btn_primary($waboot_color);
        }
        a.setup-finish-btn{
          @include wizard_btn_primary(#4CAF50);
          text-decoration: none;
          text-align: center;
        }
        a.manual-setup{
          @include wizard_btn_secondary();
        }
      }
      .info{
        width: 50%;
        h3{
          margin-top: 0;
        }
        ul{
          li{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}