.woocommerce-account {

  .woocommerce-MyAccount {

    &-navigation {
      margin-bottom: $gridGutter;
      ul {
        list-style-type : none;
        padding         : 0;
      }
      &-link {
        border-bottom : 1px solid $colorGreyLight;
        a {
          display : block;
          padding : 10px 0;
        }
        &.is-active {
          a {
            font-weight   : $fontWeightBold;
          }
        }
      }
    }

  }

  .woocommerce-form-login {
    .form-row {
      label {
        width: 100%;
      }
    }
  }

  .woocommerce-Address-title {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border-bottom   : 1px solid $colorGreyLight;
    margin-bottom   : 15px;
    h3 {
      margin: 0;
    }
  }

  .woocommerce-orders-table {
    &__cell-order-actions {
      a {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  @include up($medium) {
    .woocommerce-MyAccount {
      &-navigation {
        float: left;
        width: 25%;
        margin-bottom: 0;
        padding-right: 10px;
      }
      &-content {
        float: right;
        width: 75%;
        padding-left: 10px;
      }
    }
  }

}
