@mixin alertStyle($bgColor, $textColor, $svgBgColor: null) {
  background-color: $bgColor;
  color: $textColor;

  svg {
    background-color: if($svgBgColor, $svgBgColor, $textColor);
  }
}

.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
  flex: 0 0 100%;
  font-family: $fontPrimary;
  margin-bottom: 0;
  width: 100%;

  @include up($large){
    bottom: 8px;
    position: fixed;
    left: 24px;
    max-width: 300px;
    z-index: 999;
  }

  .wc-forward {
    display: none;
  }
}

.woocommerce {
  div[role=alert],
  ul[role=alert] {
    border: none;
    list-style-type: none;
    margin-bottom: 16px;
    padding: 16px;

    a {
      color: inherit;
      text-decoration: underline;
    }

    &.is-error {
      @include alertStyle($colorError40, $colorError180);
    }

    &.is-success {
      @include alertStyle($colorSuccess200, $colorSuccess900, $colorSuccess700);
    }

    &.is-warning {
      @include alertStyle($colorWarning200, $colorWarning900, $colorWarning700);
    }

    &.is-info {
      @include alertStyle($colorInfo50, $colorInfo900, $colorInfo700);
    }
  }
}

.woocommerce-message {
  background-color: $colorSuccess;
  color: $colorWhite;

  .button {
    background-color: $colorWhite;
    color: $colorText;
  }

  &--info {
    background-color: transparent;
    color: $colorText;
  }
}

.woocommerce-error {
  background-color: $colorError;
  color: $colorWhite;

  .button {
    background-color: $colorWhite;
    color: $colorText;

    &:hover {
      background-color: rgba($colorWhite, .9);
      color: $colorText;
    }

    &:focus {
      background-color: rgba($colorWhite, .75);
      color: $colorText;
    }
  }

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice {
  border: none !important;

  &--success {
    background-color: $colorSuccess;
  }

  &--error {
    background-color: $colorError;
  }

  p {
    color: $colorWhite;
    margin: 0;
  }
}

.woocommerce {
  .woocommerce-notices-wrapper {
    div, ul {
      &[role=alert] {
        border: none;
      }
    }
  }
}