.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
  margin-bottom: 0;
}

.woocommerce-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $gridGutter/2;
  .woocommerce-result-count {
    margin: 0;
  }
}

ul.products {
  clear: both;
  display: grid;
  grid-gap: $gridGutter;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  @include up($large) {
    margin-bottom: 80px;
    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .product {
    padding: 0;
    position: relative;
    overflow: hidden;

    .onsale {
      background-color: $colorSuccess;
      color: $colorWhite;
      font-size: .875em;
      font-weight: $fontWeightSemibold;
      left: 8px;
      padding: 4px 8px;
      position: absolute;
      top: 8px;
    }

    img {
      margin: 0 0 24px;
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    .woocommerce-loop-product__cat {
      font-size: .9em;
      margin-bottom: 10px;
    }

    .woocommerce-loop-product__content {
      align-items: center;
      display: grid;
      gap: $gridGutter / 4;
      grid-template-columns: repeat(2, 1fr);
    }

    .woocommerce-loop-product__link {
      display: flex;
      gap: $gridGutter / 4;
      grid-column: 1 / -1;
      justify-content: space-between;
    }

    .woocommerce-loop-product__title {
      font-size: 1em;
    }

    .price {
      display: inline-flex;
      flex-direction: row-reverse;
      del {
        display: inline-block;
        opacity: .5;
        margin-left: $gridGutter/2;
      }
      ins {
        background-color: transparent;
      }
    }
  }
}
