.woocommerce-page.woocommerce-checkout {
  position: relative;
  &.overflow-hidden {
    overflow: hidden;
  }
  &.checkout-single-step {
    header.header {
      display: none;
    }
    &::before {
      @include up($large) {
        content: '';
        background-color: $colorGreyLight;
        border-left: 1px solid $colorGrey;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 50vw;
        z-index: -1;
      }
    }
    .col2-set,
    .order-review__wrapper {
      padding-top: 20px;
      @include up($large) {
        padding-top: 40px;
      }
    }
    .col2-set {
      @include up($large) {
        padding-right: 40px;
      }
    }
    .order-review__wrapper {
      @include up($large) {
        padding-left: 40px;
      }
    }

    .customer-email__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: $gridGutter / 2;
      align-items: flex-end;
      margin-bottom: 20px;
      h4 {
        margin-bottom: 0;
      }
    }

    #billing_email_field {
      display: none;
    }
  }
  .checkout-login {
    &__modal {
      display: grid;
      height: 100vh;
      background-color: rgba(0, 0, 0, .7);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in-out;
      pointer-events: none;

      &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;

        .checkout-login__card {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &__card {
      background-color: $colorWhite;
      margin: auto;
      width: calc(100% - 20px);
      max-width: $containerWidth / 3;
      padding: 20px;
      position: relative;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition: transform .3s ease-in-out, opacity .2s ease-in-out;

      p.lost_password {
        margin-bottom: 0;
      }
    }

    &__close {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      place-items: center;
      font-size: 2em;
      line-height: 1;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
