.WOOF_Widget,
.wcpf_widget_filters {
  .close__button,
  .apply__button {
    display: none;
    cursor: pointer;
  }
  @include down($medium){
    transition: all .5s ease;
    margin-bottom: 0 !important;
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 100%;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    &--opened {
      //height: 100vh;
      left: 0;
    }
    .widget-woof,
    .wcpf-filter {
      padding: $gridGutter $gridGutter $gridGutter*2;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    .close__button {
      position: absolute;
      right: 0;
      top: 0;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .apply__button {
      display: block;
      position: absolute;
      z-index: 20;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
      padding: 15px;
      font-size: 1em;
    }
    .woof_reset_search_form {
      @include buttonStyle(#fff, $colorPrimary, $colorPrimary, #fff);
    }
  }

  .woof_section_scrolled {
    @include down($medium){
      display: none;
    }
  }
}

button.filters__trigger {
  background-color: transparent;
  color: $colorPrimary;;
  border: 1px solid $colorGrey;
  text-align: center;
  width: 46%;
  margin: 0;
  @include up($medium){
    display: none;
  }
}

.woof_products_top_panel {
  padding: 20px;
  background-color: $colorGreyLight;
  border-radius: $gridGutter;
  margin: 0 0 $gridGutter;
  z-index: 1;
}

.woocommerce-ordering {
  @include down($medium) {
    width: 46%;
    select {
      height: 100%;
    }
  }
}

.widget-woof {
  h3 {
    margin-bottom: $gridGutter;
  }
}

.WOOF_Widget {
  h4 {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: $fontWeightBold;
    position: relative;
  }
  a.woof_front_toggle {
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding: 0 5px;
  }
  ul.woof_list {
    padding: 0;
    li {
      margin: 0 !important;
      padding: 0 0 10px !important;
      display: flex;
      flex-wrap: wrap;
      input {
        margin-left: 0;
      }
    }
  }
  .woof_childs_list {
    margin: 10px 0 0!important;
    width: 100%;
  }
  .woof label {
    cursor: pointer;
    padding: 0;
  }
  .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp,
  .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown {
    display: none;
  }
  .mCSB_scrollTools a+.mCSB_draggerContainer {
    margin: 0;
  }
  .mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: $colorSecondary;
  }
}
