.woocommerce {

  .woocommerce-columns,
  .u-columns {
    @include up($medium){
      display: flex;
      &--2,
      &.col2-set {
        > div {
          flex: 0 0 50%;
          &:first-child {
            padding-right: 10px;
          }
          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .wc-item-meta {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      strong {
        margin-right: 10px;
      }
      p {
        margin: 0;
      }
    }
  }

}

.woocommerce-breadcrumb {
  color: $colorTextLight;
  display: flex;
  flex-wrap: wrap;
  font-size: .875em;
  font-weight: $fontWeightSemibold;
  gap: $gridGutter / 4;
  margin-bottom: 24px;

  a {
    color: inherit;
    font-weight: $fontWeightNormal;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.shop_table {
  font-size: .875em;
  //@include table-responsive;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    padding: 8px;
  }

  th {
    font-weight: $fontWeightSemibold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
  }

  @include up($medium){
    td:first-child,
    th:first-child {
      padding-left: 0;
    }
    td:last-child,
    th:last-child {
      padding-right: 0;
      text-align: right;
    }
  }
}

p.woocommerce-info {
  width: 100%;
}
