.woocommerce {

  .woocommerce-columns,
  .u-columns {
    @include up($medium){
      display: flex;
      &--2,
      &.col2-set {
        > div {
          flex: 0 0 50%;
          &:first-child {
            padding-right: 10px;
          }
          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .wc-item-meta {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      strong {
        margin-right: 10px;
      }
      p {
        margin: 0;
      }
    }
  }

}

.shop_table {

  @include table-responsive;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;

  td,
  th {
    padding: 10px;
    border-bottom: 1px solid;
    border-color: #F3F3F3;
  }

  th {
    text-align: left;
  }

  @include up($medium){
    td:first-child,
    th:first-child {
      padding-left: 0;
    }
    td:last-child,
    th:last-child {
      padding-right: 0;
      text-align: right;
    }
  }


  thead th {
    border-color: $colorPrimary;
  }

}