.wc-block {
  &-grid__products {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: $gridGutter;
    grid-template-columns: repeat(2, 1fr);
    @include up($large) {
      .has-3-columns & {
        grid-template-columns: repeat(3, 1fr);
      }
      .has-4-columns & {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  &-grid__product {
    padding: 0;
    max-width: 100%;
    position: relative;
  }
  &-grid__product-title {
    font-weight: $fontWeightBold;
    margin-bottom: 10px;
  }
  &-grid__product-image {
    margin-bottom: $gridGutter / 2;
  }
}
