.topbar {
  background-color: #C0C0C0;
  padding: 24px;
  @include up($large) {
    padding: 16px;
  }
  text-align: center;
  &__container {
    @include wbcontainer();
    padding-inline: $gridGutter;
  }
}