/*!
Custom style for Components panel
Version: 1.0
Author: Waga
Author URI: https://waga.it
*/

body[class*='waboot-'] {
  .notice, div.updated, div.error {
    margin: 0 20px 10px 0;

  }
}

.waboot-header {
  padding: 20px 0;
  margin: 0 20px 0 0;
  .waboot-header-inner {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .waboot-header-logo {
      display: flex;
      align-items: center;
      h1 {
        margin: 0 20px;
      }
      a.btn-add {
        padding: 4px 8px;
        position: relative;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: #f7f7f7;
        font-weight: 600;
        cursor: pointer;
      }
      img {
        height: 25px;
      }
    }
    .waboot-header-nav {
      ul {
        margin: 0;
      }
      li {
        display: inline-block;
        line-height: 25px;
        margin: 10px 10px 10px 0;
        color: $waboot_color;
        a {
          color: $waboot_color;
          text-decoration: none;
        }
      }
    }
  }
}

.admin-wrapper {
  width: auto;
  margin: 0 20px 0 0;
  padding: 0;

  input[type='text'],
  input[type='select'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  textarea,
  select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .section-info {
    padding: 10px 7px;
  }

}


.admin-wrapper {

  .wb-onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .wb-onoffswitch-checkbox {
    display: none;
  }
  .wb-onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 15px;
  }
  .wb-onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }
  .wb-onoffswitch-inner:before, .wb-onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 11px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wb-onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $waboot_color;
    color: #FFFFFF;
  }
  .wb-onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
  }
  .wb-onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 2px;
    background: #FFFFFF;
    border: 0px solid #999999;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 34px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }
  .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-inner {
    margin-left: 0;
  }
  .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-switch {
    right: 0;
  }
}