/*!
Custom style for Components panel
Version: 1.0
Author: Waga
Author URI: https://waga.it
*/

/* General rules */

.waboot-header {
  background-color: #fff;
  border-bottom: 1px solid #76B5CB;
  padding: 10px 0;
  margin: 0 0 0 -20px;
  overflow: auto;
  .waboot-header-inner {
    width: 800px;
    margin: 0 auto;
    overflow: auto;
    .waboot-header-logo {
      float: left;
      padding-left: 20px;
      img {
        height: 25px;
      }
    }
    .waboot-header-nav {
      float: right;
      ul {
        margin: 0;
      }
      li {
        display: inline-block;
        line-height: 25px;
        margin: 0 0 0 25px;
        color: #76B5CB;
        a {
          color: #76B5CB;
          text-decoration: none;
        }
      }
    }
  }
}

.admin-wrapper {
  width: 800px;
  margin: 0 auto;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type='text'],
  input[type='select'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  textarea,
  select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .categories-header {
    background-color: #76B5CB;
    ul {
      overflow: auto;
    }
    li {
      display: inline-block;
      float: left;
      padding: 15px 20px 10px;
      margin: 0;
      color: #fff;
      border-right: 1px solid;
      border-right-color: rgba(0,0,0,0.15);
      border-bottom: 5px solid;
      border-bottom-color: rgba(0,0,0,0);
      cursor: pointer;
    }
    li.active {
      border-bottom-color: rgba(0,0,0,0.15);
    }
  }

  .options-group {
    background-color: #fff;
    overflow: auto;
    padding: 15px 15px 0;
    .options-group-data {
      margin: 0 -8px;
      .field-option {
        padding: 0 8px;
        margin-bottom: 30px;
        width: 100%;
        clear: both;
        overflow: auto;
        h4 {
          margin: 0 0 5px;
        }
        .explain {
          font-size: 0.9em;
          opacity: 0.8;
          margin: 0 0 5px;
        }
      }
      .full_option {
        width: 100%;
        clear: both;
      }
      .half_option {
        width: 50%;
        float: left;
        clear: none;
      }
    }
    h3 {
      display: none;
    }
  }
}


/* Form Selector Style */
.admin-wrapper {

  .section-info {
    width: 100%;
    clear: both;
    min-height: 0;
    margin: 0 0 15px;
    padding: 10px 7px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    h4 {
      font-size: 1.2em;
      margin: 0px;
    }
    p {
      margin-bottom: 0px;
    }
  }

  .field-option {
    &.field-option-upload {
      input[type='text'] {
        width: 50%;
        display: inline-block;
      }
      .of-metabox-desc {
        display: block;
        font-size: 0.9em;
        opacity: 0.7;
      }
    }
    .controls {
      padding: 0;
      box-sizing: border-box;
    }
    .check-wrapper,
    .radio-wrapper {
      display: inline-block;
      margin: 5px;
    }
    .controls .option-wrap {
      display: inline-block;
    }
    .controls .option-wrap span {
      line-height: 2em;
      text-transform: capitalize;
      display: block;
      background-color: #f9f9f9;
      margin: 0 10px;
      text-align: center;
    }
    .controls .option-wrap img {
      margin: 0 10px 0px;
      max-height: 110px;
    }
    .controls img {
      max-width: 350px;
      max-height: 250px;
    }
    .controls .of-radio-img-selected {
      border: 3px solid #666;
    }

    .wp-picker-holder {
      position: absolute;
      z-index: 99;
    }

    .screenshot {
      margin: 20px 0 0;
      width: 100%;
    }
    .screenshot img {
      border: 1px solid #ddd;
    }

    .screenshot .remove-image {
      display: none;
    }

    &.field-option-fonts_selector {
      > .option,
      > .section {
        width: 50%;
        padding: 0 8px;
        float: left;
        border: 0;
      }
      .option .font-selector {
        padding: 0;
        border: 0;
        > div {
          margin-top: 20px;
        }
        .font-subset-wrap {
          padding: 10px 0
        }
        .font-weight-selector {
          padding: 15px;
          background-color: #f7f7f7;
          .font-weight-selector-preview {
            overflow: auto;
            display: block;
            padding: 0 0 5px 0;
            margin: 0 0 5px 0;
            border-bottom: 1px solid #fff;
            p {
              margin-top: 0;
              margin-bottom: 5px;
            }
          }
        }
      }
      div[data-font-assign] {
        > div {
          margin-bottom: 20px;
          border-bottom: 1px solid #ddd;
        }
        h4 {
          font-size: 1.2em;
        }
        span[data-weight-assigned-list] {
          padding: 10px 0;
          display: block;
        }
      }
    }
  }


  .wb-onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .wb-onoffswitch-checkbox {
    display: none;
  }
  .wb-onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 15px;
  }
  .wb-onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }
  .wb-onoffswitch-inner:before, .wb-onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 11px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wb-onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #76B5CB;
    color: #FFFFFF;
  }
  .wb-onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
  }
  .wb-onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 2px;
    background: #FFFFFF;
    border: 0px solid #999999;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 34px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }
  .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-inner {
    margin-left: 0;
  }
  .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-switch {
    right: 0;
  }
}