/* BASE */
/* -----------------------------------------------------------------------------
 *
 * Theme Font Icons (via IcoMoon)
 *
 * ----------------------------------------------------------------------------- */

@font-face {
	font-family: 'gform-icons-theme';
	src:
					url("../../fonts/gravity-forms/gform-icons-theme.woff2?cocjn") format("woff2"),
					url("../../fonts/gravity-forms/gform-icons-theme.ttf?cocjn") format("truetype"),
					url("../../fonts/gravity-forms/gform-icons-theme.woff?cocjn") format("woff"),
					url("../../fonts/gravity-forms/gform-icons-theme.svg?cocjn#gform-icons-theme") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.gform-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "gform-icons-theme" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icons: (
				left-arrow: "\e910",
				right-arrow: "\e91b",
				circle-error: "\e91a",
				close-small: "\e905",
				info: "\e900",
				verified: "\e901",
				circle-close: "\e903",
				close-big: "\e904",
				down-arrow: "\e906",
				format-bold: "\e907",
				format-italic: "\e908",
				format-list-bulleted: "\e909",
				format-list-numbered: "\e90a",
				insert-link: "\e90b",
				line: "\e90c",
				password-eye: "\e90d",
				password-eye-closed: "\e90e",
				redo: "\e90f",
				schedule: "\e911",
				clock: "\e912",
				search: "\e913",
				star: "\e914",
				star-border: "\e915",
				star-half: "\e916",
				check: "\e917",
				undo: "\e918",
				unfold-more: "\e919",
				create: "\e91c",
				cog: "\e91d",
				circle-check: "\e902"
);

@each $name, $content in $icons {
	.gform-icon--#{$name}:before {
		content: #{$content};
		color: $colorText;
	}
}

/*
* Utility classes to handle styles across various contexts.
*/

/**
 Resets
 */

.gform_wrapper.gravity-theme {
	.gform-ul-reset {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.gform-text-input-reset,
	input.gform-text-input-reset {
		background-color: transparent;
		border: none transparent;
		border-radius: 0;
		font-family: inherit;
		font-size: inherit;
		outline: none;
		padding: inherit;
	}
}

/*
* Styles required for form functionality.
*/

/**
 File Uploads
 */

.gform_wrapper.gravity-theme {
	.gform_drop_area {
		background: rgba(0, 0, 0, 0.02);
		border: 1px dashed $colorGrey;
		border-radius: 4px;
		margin-bottom: 8px;
		padding: 32px;
		text-align: center;
	}

	.gform_drop_instructions {
		display: block;
		margin-bottom: 8px;
	}

	.gform_delete,
	.gform_delete_file {
		cursor: pointer;
		vertical-align: middle;
	}

	.gform_delete_file {
		appearance: none;
		background: transparent;
		border: none;
	}

	.gfield_fileupload_filesize {
		padding: 0px 6px;
	}

	.gfield_validation_message ul {
		margin: 16px 0;
		padding-left: 24px;
		&:empty {
			display: none;
		}
	}

	.ginput_preview {
		margin: 16px 0;
	}

	.gform_fileupload_rules {
		display: block;
		margin-top: 8px;
	}
}

/**
 Password
 */
.gform_wrapper.gravity-theme {
	.ginput_container_password > span {
		position: relative;
	}

	.gform_show_password {
		background-color: inherit;
		border: none;
		cursor: pointer;
		height: 100%;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 0;
		&:focus {
			outline: none;
		}
	}

	.password_input_container {
		display: block;
		position: relative;
		padding: 0 !important;
	}

	.password__wrapper {
		padding: 0 !important;
	}

	.gfield_password_strength {
		background-color: #eee;
		border: 1px solid $colorGrey;
		border-bottom: 3px solid $colorGrey;
		margin-top: 8px;
		padding: 8px;
		text-align: center;
	}

	.gfield_password_strength.short,
	.gfield_password_strength.mismatch {
		background-color: $colorWarning;
		border-bottom: 3px solid $colorWarning;
	}

	.gfield_password_strength.bad {
		background-color: #ffb78c;
		border-bottom: 3px solid #ff853c;
	}

	.gfield_password_strength.good {
		background-color: #ffec8b;
		border-bottom: 3px solid #fc0;
	}

	.gfield_password_strength.strong {
		background-color: #c3ff88;
		border-bottom: 3px solid #8dff1c;
	}

	.field_sublabel_above .gfield_password_strength {
		margin-top: 16px;
	}
}


/**
 Datepicker
 */
.gravity-theme.ui-datepicker {
	background-color: $colorWhite;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
	display: none;
	margin: 2.4px;
	padding: 8px;
	&[style] {
		z-index: 9999 !important;
	}

	.ui-datepicker-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 -8px 8px;
		padding: 0 8px 8px;
		position: relative;
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		cursor: pointer;
		position: absolute;
		left: 16px;
		&::before {
			border-style: solid;
			border-width: 0.18em 0.18em 0 0;
			content: "";
			display: inline-block;
			height: 0.55em;
			left: 0.15em;
			position: relative;
			top: 0.3em;
			transform: rotate(-135deg);
			vertical-align: top;
			width: 0.55em;
		}

		.ui-icon {
			display: none;
		}
	}

	.ui-datepicker-next::before {
		left: 0;
		transform: rotate(45deg);
	}

	.ui-datepicker-title {
		text-align: center;

		select {
			margin: 0 4px;
		}
	}

	.ui-datepicker {
		table {
			border-spacing: 0;
			margin: 0;
		}

		thead {
			font-size: 0.85em;
		}

		td {
			padding: 0;
			width: 35.2px;
		}
	}

	a.ui-state-default {
		border-radius: 50%;
		color: $colorText;
		display: block;
		line-height: 35.2px;
		text-align: center;
		text-decoration: none;
		width: 100%;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	a.ui-state-active,
	a.ui-state-active:hover {
		background-color: #3498db;
		color: $colorWhite;
	}
}


/* Remove IE default password visibility toggle */

.gform_wrapper.gravity-theme ::-ms-reveal {
	display: none;
}

/**
 Honeypot
 */

.gform_wrapper.gravity-theme .gform_validation_container,
body .gform_wrapper.gravity-theme .gform_validation_container,
body .gform_wrapper.gravity-theme .gform_body .gform_fields .gfield.gform_validation_container
body .gform_wrapper.gravity-theme .gform_fields .gfield.gform_validation_container {
	display: none !important;
	left: -9000px;
	position: absolute !important;
}

/**
 Chosen
 */

.gform_wrapper.gravity-theme .chosen-container {
	display: inline-block;
	font-size: 16px;
	position: relative;
	user-select: none;
	vertical-align: middle;

	* {
		box-sizing: border-box;
	}

	.chosen-drop {
		background: $colorWhite;
		border: 1px solid $colorGrey;
		border-top: 0;
		box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1010;
	}

	&.chosen-with-drop .chosen-drop {
		display: block;
	}

	a {
		cursor: pointer;
	}

	.search-choice .group-name,
	.chosen-single .group-name {
		color: $colorGrey;
		font-weight: normal;
		margin-right: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&::after {
			content: ":";
			padding-left: 2px;
			vertical-align: top;
		}
	}
}

.gform_wrapper.gravity-theme .chosen-container-single {
	.chosen-single {
		background-clip: padding-box;
		background: #fff linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
		border: 1px solid #aaa;
		border-radius: 5px;
		box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
		color: #444;
		display: block;
		height: 40px;
		line-height: 24px;
		overflow: hidden;
		padding: 0 0 0 8px;
		position: relative;
		text-decoration: none;
		white-space: nowrap;

		input[type="text"] {
			cursor: pointer;
			opacity: 0;
			position: absolute;
			width: 0;
		}

		span {
			display: block;
			line-height: 38.4px;
			margin-right: 24px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		abbr {
			background: url("../../images/gravity-forms/gravity-forms-sprite.png") -42px 1px no-repeat;
			display: block;
			font-size: 1px;
			height: 12px;
			position: absolute;
			right: 26px;
			top: 6px;
			width: 12px;
			&:hover {
				background-position: -42px -10px;
			}
		}

		div {
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 18px;

			b {
				background: url("../../images/gravity-forms/gravity-forms-sprite.png") no-repeat 0 10px;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}

	.chosen-default {
		color: #999;
	}

	.chosen-single-with-deselect span {
		margin-right: 36px;
	}

	.chosen-disabled .chosen-single abbr:hover {
		background-position: -42px -10px;
	}

	.chosen-search {
		margin: 0;
		padding: 3px 4px;
		position: relative;
		white-space: nowrap;
		z-index: 1010;

		input[type="text"] {
			background: url("../../images/gravity-forms/gravity-forms-sprite.png") no-repeat 100% -20px;
			border: 1px solid #aaa;
			border-radius: 0;
			font-family: sans-serif;
			font-size: 1em;
			height: auto;
			line-height: normal;
			margin: 1px 0;
			outline: 0;
			padding: 4px 20px 4px 5px;
			width: 100%;
		}
	}

	.chosen-drop {
		background-clip: padding-box;
		border-radius: 0 0 4px 4px;
		margin-top: -1px;
	}

	&.chosen-container-single-nosearch .chosen-search {
		opacity: 0;
		pointer-events: none;
		position: absolute;
	}
}

.gform_wrapper.gravity-theme .chosen-container {
	.chosen-results {
		color: $colorText;
		margin: 0 4px 4px 0;
		max-height: 240px;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 0 0 4px;
		position: relative;

		li {
			display: none;
			line-height: 15px;
			list-style: none;
			margin: 0;
			padding: 5px 6px;
			-webkit-touch-callout: none;
			word-wrap: break-word;

			&.active-result {
				cursor: pointer;
				display: list-item;
			}

			&.disabled-result {
				color: $colorGrey;
				cursor: default;
				display: list-item;
			}

			&.highlighted {
				background-color: $colorPrimary;
				background-image: linear-gradient($colorPrimary 20%, $colorPrimary 90%);
				color: $colorWhite;
			}

			&.no-results {
				background: $colorGreyLight;
				color: #777;
				display: list-item;
			}

			&.group-result {
				cursor: default;
				display: list-item;
				font-weight: bold;
			}

			&.group-option {
				padding-left: 15px;
			}

			em {
				font-style: normal;
				text-decoration: underline;
			}
		}
	}
}

.gform_wrapper.gravity-theme .chosen-container-multi {
	.chosen-choices {
		background-color: $colorWhite;
		border: 1px solid #aaa;
		cursor: text;
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 8px;
		position: relative;
		width: 100%;

		li {
			float: left;
			list-style: none;

			&.search-field {
				margin: 0;
				padding: 0;
				white-space: nowrap;

				input[type="text"] {
					background: transparent !important;
					border: 0 !important;
					border-radius: 0;
					box-shadow: none;
					color: #999;
					font-family: sans-serif;
					font-size: 100%;
					height: 25px;
					line-height: normal;
					margin: 1px 0;
					outline: 0;
					padding: 0;
					width: 25px;
				}
			}

			&.search-choice {
				background-clip: padding-box;
				background-color: #eee;
				background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
				background-repeat: repeat-x;
				background-size: 100% 19px;
				border: 1px solid #aaa;
				border-radius: 3px;
				box-shadow: 0 0 2px $colorWhite inset, 0 1px 0 rgba(0, 0, 0, 0.05);
				color: #333;
				cursor: default;
				line-height: 13px;
				margin: 3px 5px 3px 0;
				max-width: 100%;
				padding: 3px 20px 3px 5px;
				position: relative;

				span {
					word-wrap: break-word;
				}

				.search-choice-close {
					background: url("../../images/gravity-forms/gravity-forms-sprite.png") -42px 1px no-repeat;
					display: block;
					font-size: 1px;
					height: 12px;
					position: absolute;
					right: 3px;
					top: 4px;
					width: 12px;

					&:hover {
						background-position: -42px -10px;
					}
				}
			}

			&.search-choice-disabled {
				background-color: #e4e4e4;
				background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
				border: 1px solid #ccc;
				color: #666;
				padding-right: 5px;
			}

			&.search-choice-focus {
				background: #d4d4d4;

				.search-choice-close {
					background-position: -42px -10px;
				}
			}
		}
	}

	.chosen-results {
		margin: 0;
		padding: 0;
	}

	.chosen-drop {
		.result-selected {
			color: $colorGrey;
			cursor: default;
			display: list-item;
		}
	}
}

.gform_wrapper.gravity-theme .chosen-container-active {
	.chosen-single {
		border: 1px solid #5897fb;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

		&.chosen-with-drop {
			background-image: linear-gradient(#eee 20%, $colorWhite 80%);
			border: 1px solid #aaa;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			box-shadow: 0 1px 0 $colorWhite inset;

			div {
				background: transparent;
				border-left: none;

				b {
					background-position: -18px 10px;
				}
			}
		}
	}

	.chosen-choices {
		border: 1px solid #5897fb;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

		li.search-field {
			input[type="text"] {
				color: #222 !important;
			}
		}
	}
}

.gform_wrapper.gravity-theme .chosen-disabled {
	cursor: default;
	opacity: 0.5 !important;

	.chosen-single {
		cursor: default;
	}

	.chosen-choices {
		.search-choice {
			.search-choice-close {
				cursor: default;
			}
		}
	}
}

/* Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
	.gform_wrapper.gravity-theme .chosen-rtl .chosen-search input[type="text"], .gform_wrapper.gravity-theme .chosen-container-single .chosen-single abbr, .gform_wrapper.gravity-theme .chosen-container-single .chosen-single div b, .gform_wrapper.gravity-theme .chosen-container-single .chosen-search input[type="text"], .gform_wrapper.gravity-theme .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .gform_wrapper.gravity-theme .chosen-container .chosen-results-scroll-down span, .gform_wrapper.gravity-theme .chosen-container .chosen-results-scroll-up span {
		background-image: url("../../images/gravity-forms/gravity-forms-sprite@2x.png") !important;
		background-repeat: no-repeat !important;
		background-size: 52px 37px !important;
	}
}

.gform_wrapper.gravity-theme {
	.chosen-container {
		a.chosen-single {
			border-radius: inherit;
		}

		ul.chosen-results li {
			line-height: inherit;
		}
	}
}


@media only screen and (max-width: $medium) {
	.gform_wrapper.gravity-theme {
		input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
			line-height: 2;
			min-height: 32px;
		}

		textarea {
			line-height: 1.5;
		}

		.chosen-container.chosen-container-single[style] {
			width: 100% !important;
		}

		.chosen-container-single .chosen-single {
			height: 40px;
			line-height: 2.8;

			div b {
				position: relative;
				top: 10px;
			}
		}

		div.chosen-container.chosen-container-multi[style] {
			width: 100% !important;
		}

		.chosen-container.chosen-container-multi ul.chosen-choices li.search-choice,
		.chosen-container.chosen-container-multi ul.chosen-choices li.search-field {
			float: none;
			line-height: inherit;
			width: 100%;

			span {
				margin-bottom: 0;
			}

			.search-choice-close {
				top: calc(50% - 6px);
			}
		}

		.chosen-container span:not(.ginput_price) {
			display: block;
			margin-bottom: 8px;
		}

		li.field_sublabel_below .ginput_complex {
			margin-top: 12px !important;
		}

		ul.gfield_radio li label,
		ul.gfield_checkbox li label {
			cursor: pointer;
			width: 85%;
		}
	}
}

@media only screen and (min-width: $medium) {
	.gform_wrapper.gravity-theme {
		select.medium.gfield_select + div.chosen-container-single[style],
		select.medium.gfield_select + div.chosen-container-multi[style] {
			width: calc(50% - 8px) !important;
		}

		select.large.gfield_select + div.chosen-container-single[style],
		select.large.gfield_select + div.chosen-container-multi[style] {
			width: 100% !important;
		}

		select.small.gfield_select + div.chosen-container-single[style],
		select.small.gfield_select + div.chosen-container-multi[style] {
			width: 25% !important;
		}
	}
}

/*
* Hide hidden fields.
*/
.gform_wrapper.gravity-theme {
	.gf_hide_ampm .gfield_time_ampm {
		display: none !important;
	}

	.gfield_visibility_hidden,
	.gf_invisible {
		left: -9999px;
		position: absolute;
		visibility: hidden;
	}

	.gf_hide_charleft div.charleft {
		display: none !important;
	}

	.gf_hidden,
	.gform_hidden {
		display: none;
	}
}

/*
* Hide screen reader text.
*/
.gform_wrapper.gravity-theme {
	.screen-reader-text,
	.hidden_label .gfield_label,
	.hidden_sub_label {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;
	}

	button.screen-reader-text:focus {
		border: 0;
		clip: auto;
		clip-path: none;
		height: auto;
		margin: 0;
		position: static !important;
		width: auto;
	}
}


/* readyclass.css */

@media only screen and (min-width: $medium) {
	.gform_wrapper.gravity-theme {
		.gfield.gf_list_2col .gfield_checkbox,
		.gfield.gf_list_2col .gfield_radio,
		.gfield.gf_list_3col .gfield_checkbox,
		.gfield.gf_list_3col .gfield_radio,
		.gfield.gf_list_4col .gfield_checkbox,
		.gfield.gf_list_4col .gfield_radio,
		.gfield.gf_list_5col .gfield_checkbox,
		.gfield.gf_list_5col .gfield_radio {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(auto-fill, auto);
			grid-column-gap: 2em;
		}

		.gfield.gf_list_inline .gfield_checkbox,
		.gfield.gf_list_inline .gfield_radio {
			display: block;

			.gchoice {
				display: inline-block;
				padding-right: 16px;

				label {
					max-width: none;
				}
			}
		}

		.gf_list_2col_vertical .gfield_checkbox,
		.gf_list_2col_vertical .gfield_radio,
		.gf_list_3col_vertical .gfield_checkbox,
		.gf_list_3col_vertical .gfield_radio,
		.gf_list_4col_vertical .gfield_checkbox,
		.gf_list_4col_vertical .gfield_radio,
		.gf_list_5col_vertical .gfield_checkbox,
		.gf_list_5col_vertical .gfield_radio {
			column-count: 2;
			grid-column-gap: 2em;
			display: block;
		}

		.gfield.gf_list_height_25 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_25 .gfield_radio .gchoice {
			height: 25px;
		}

		.gfield.gf_list_height_50 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_50 .gfield_radio .gchoice {
			height: 50px;
		}

		.gfield.gf_list_height_75 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_75 .gfield_radio .gchoice {
			height: 75px;
		}

		.gfield.gf_list_height_100 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_100 .gfield_radio .gchoice {
			height: 100px;
		}

		.gfield.gf_list_height_125 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_125 .gfield_radio .gchoice {
			height: 125px;
		}

		.gfield.gf_list_height_150 .gfield_checkbox .gchoice,
		.gfield.gf_list_height_150 .gfield_radio .gchoice {
			height: 150px;
		}
	}
}

.gform_wrapper.gravity-theme {
	.gf_hide_ampm .gfield_time_ampm {
		display: none !important;
	}

	.gsection.gf_scroll_text {
		background-color: $colorWhite;
		border: 1px solid #ccc;
		height: 240px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 32px;

		.gsection_title {
			margin-top: 0;
		}
	}
}

/* html field colors */
.gform_wrapper.gravity-theme {
	.gfield.gfield_html.gf_alert_green,
	.gfield.gfield_html.gf_alert_red,
	.gfield.gfield_html.gf_alert_yellow,
	.gfield.gfield_html.gf_alert_gray,
	.gfield.gfield_html.gf_alert_blue {
		border-radius: 3px;
		margin: 20px 0 !important;
		padding: 20px !important;
	}

	.gfield.gfield_html.gf_alert_green {
		background-color: #cbeca0;
		border: 1px solid #97b48a;
		color: #030;
		text-shadow: #dfb 1px 1px;
	}

	.gfield.gfield_html.gf_alert_red {
		background-color: #faf2f5;
		border: 1px solid #cfadb3;
		color: #832525;
		text-shadow: $colorWhite 1px 1px;
	}

	.gfield.gfield_html.gf_alert_yellow {
		background-color: #fffbcc;
		border: 1px solid #e6db55;
		color: #222;
		text-shadow: #fcfaea 1px 1px;
	}

	.gfield.gfield_html.gf_alert_gray {
		background-color: #eee;
		border: 1px solid #ccc;
		color: #424242;
		text-shadow: #fff 1px 1px;
	}

	.gfield.gfield_html.gf_alert_blue {
		background-color: #d1e4f3;
		border: 1px solid #a7c2e7;
		color: #314475;
		text-shadow: #e0f1ff 1px 1px;
	}
}

/* simple horizontal form ready class - very simple implementation for up to 5 fields and a button */

.gform_wrapper.gravity-theme {
	.gf_simple_horizontal {
		margin: 0 auto;
		width: calc(100% - 16px);

		.gform_body,
		.gform_footer.top_label {
			display: table-cell;
			margin: 0;
			padding: 0;
			position: relative;
			vertical-align: middle;

			&.gform_body {
				max-width: 75%;
				width: auto;

				.top_label {
					display: table;
					width: 100%;

					.gfield {
						display: table-cell;
						height: auto;
						padding-right: 1em;

						.small, .medium, .large {
							width: 100%;
						}

						.medium {
							@include down($large) {
								width: 100%;
							}
						}

						.ginput_container_checkbox .gchoice,
						.ginput_container_radio .gchoice {
							display: inline-block;
							margin-right: 0.5em;
						}

						&.form_sublabel_below,
						&.form_sublabel_above {
							vertical-align: middle;
						}
					}
				}
			}
		}

		.ginput_container,
		.gfield {
			margin-top: 0 !important;
		}

		.gform_footer.top_label {
			margin: 0;
			max-width: 25%;
			padding: 0;
			text-align: left;
			width: auto;

			input[type="submit"],
			input[type="button"],
			input[type="image"] {
				height: auto;
			}
		}

		.gfield_label,
		.ginput_complex label,
		.gfield_description:not(.validation_message) {
			display: block;
			height: 1px;
			left: -9000px;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 1px;
		}

		body:not(.rtl) & {
			.gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label {
				text-align: left;
			}
		}
	}

	.gform_confirmation_wrapper {
		&.gf_confirmation_simple_yellow {
			background-color: #fffbcc;
			border-bottom: 1px solid #e6db55;
			border-top: 1px solid #e6db55;
			color: #424242;
			font-size: 25px;
			margin: 30px 0;
			max-width: 99%;
			padding: 32px;
		}

		&.gf_confirmation_simple_gray {
			background-color: #eaeaea;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			color: #424242;
			font-size: 25px;
			margin: 30px 0;
			max-width: 99%;
			padding: 32px;
		}

		&.gf_confirmation_yellow_gradient {
			background-color: #fffbd2;
			border: 1px solid #e6db55;
			box-shadow: 0 0 5px rgba(221, 215, 131, 0.75);
			margin: 30px 0;
			position: relative;

			.gform_confirmation_message {
				background: #fffce5;
				background: linear-gradient(to bottom, #fffce5 0%, #fff9bf 100%);
				background-color: #fffbcc;
				border-bottom: 1px solid #e6db55;
				border-top: 2px solid #fff;
				color: #424242;
				font-size: 28px;
				margin: 0;
				max-width: 99%;
				padding: 40px;
			}

			&::before,
			&::after {
				background: rgba(0, 0, 0, 0.2);
				bottom: 15px;
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
				content: "";
				left: 10px;
				max-width: 40%;
				position: absolute;
				top: 80%;
				transform: rotate(-3deg);
				width: 50%;
				z-index: -1;
			}

			&::after {
				left: auto;
				right: 10px;
				transform: rotate(3deg);
			}
		}

		&.gf_confirmation_green_gradient {
			background-color: #f1fcdf;
			border: 1px solid #a7c37c;
			box-shadow: 0 0 5px rgba(86, 122, 86, 0.4);
			margin: 30px 0;
			position: relative;

			.gform_confirmation_message {
				background: rgb(219, 242, 183);
				background: linear-gradient(to bottom, rgba(219, 242, 183, 1) 0%, rgba(180, 208, 136, 1) 100%);
				background-color: #fffbcc;
				border-bottom: 1px solid #a7c37c;
				border-top: 2px solid #effade;
				color: #030;
				font-size: 28px;
				margin: 0;
				max-width: 99%;
				padding: 40px;
				text-shadow: #dfb 1px 1px;
			}

			&::before,
			&::after {
				background: rgba(0, 0, 0, 0.2);
				bottom: 15px;
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
				content: "";
				left: 10px;
				max-width: 40%;
				position: absolute;
				top: 80%;
				transform: rotate(-3deg);
				width: 50%;
				z-index: -1;
			}

			&::after {
				left: auto;
				right: 10px;
				transform: rotate(3deg);
			}
		}
	}
}


/*
* Styles for full, medium, and small field sizes.
*/

.gform_wrapper.gravity-theme {
	.gfield textarea {
		width: 100%;

		&.small {
			height: 200px;
		}

		&.medium {
			height: 250px;
		}

		&.large {
			height: 300px;
		}
	}

	.gfield input, .gfield select {
		max-width: 100%;

		&.small,
		&.select.small {
			width: calc(25% - 16px * 3 / 4);
		}

		&.medium,
		&.select.medium {
			@include up($large) {
				width: 49%;
			}
		}

		&.large,
		&.select.large {
			width: 100%;
		}
	}
}

/* Form grid layout */
.gform_wrapper.gravity-theme .gform_fields {
	display: grid;
	grid-column-gap: 2%;
	grid-row-gap: $gridGutter;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;

	.gfield {
		grid-column: 1 / -1;
		min-width: 0;

		&.gfield--width-full {
			grid-column: span 12;
			-ms-grid-column-span: 12;
		}

		&.gfield--width-eleven-twelfths {
			grid-column: span 11;
			-ms-grid-column-span: 11;
		}

		&.gfield--width-five-sixths {
			grid-column: span 10;
			-ms-grid-column-span: 10;
		}

		&.gfield--width-three-quarter {
			grid-column: span 9;
			-ms-grid-column-span: 9;
		}

		&.gfield--width-two-thirds {
			grid-column: span 8;
			-ms-grid-column-span: 8;
		}

		&.gfield--width-seven-twelfths {
			grid-column: span 7;
			-ms-grid-column-span: 7;
		}

		&.gfield--width-half {
			grid-column: span 6;
			-ms-grid-column-span: 6;
		}

		&.gfield--width-five-twelfths {
			grid-column: span 5;
			-ms-grid-column-span: 5;
		}

		&.gfield--width-third {
			grid-column: span 4;
			-ms-grid-column-span: 4;
		}

		&.gfield--width-quarter {
			grid-column: span 3;
			-ms-grid-column-span: 3;
		}

		&.gfield--width-one-sixth {
			-ms-grid-column-span: 2;
			grid-column: span 2;
		}

		&.gfield--width-one-twelfth {
			-ms-grid-column-span: 1;
			grid-column: span 1;
		}
	}

	@media (max-width: 640px) {
		.gform_wrapper.gravity-theme .gform_fields {
			grid-column-gap: 0;
		}

		.gform_wrapper.gravity-theme .gfield:not(.gfield--width-full) {
			grid-column: 1 / -1;
		}
	}
}

.gform_wrapper.gravity-theme .gform_footer .gform-button--width-full {
	&.gfield--width-full {
		width: 100%;
	}

	&.gfield--width-eleven-twelfths {
		width: 91.6666%;
	}

	&.gfield--width-five-sixths {
		width: 83.3333%;
	}

	&.gfield--width-three-quarter {
		width: 75%;
	}

	&.gfield--width-two-thirds {
		width: 66.6666%;
	}

	&.gfield--width-seven-twelfths {
		width: 58.3333%;
	}

	&.gfield--width-half {
		width: 50%;
	}

	&.gfield--width-five-twelfths {
		width: 41.6666%;
	}

	&.gfield--width-third {
		width: 33.3333%;
	}

	&.gfield--width-quarter {
		width: 25%;
	}

	&.gfield--width-one-sixth {
		width: 16.6666%;
	}

	&.gfield--width-one-twelfth {
		width: 8.3333%;
	}
}


/*
 * Left and right label alignment
 */

.gform_wrapper.gravity-theme {
	&.left_label,
	&.right_label {
		.gfield:not(.gsection):not(.gfield_html):not(fieldset) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			width: 100%;
		}

		.gfield_label {
			margin: 0;
			padding: 0;
			width: 30%;

			@media (max-width: 640px) {
				width: 100%;
			}
		}

		.gform_fields fieldset {
			clear: both;

			.ginput_container {
				float: left;
				width: 70%;

				@media (max-width: 640px) {
					width: 100%;
				}
			}

			> .ginput_complex {
				@media (max-width: 640px) {
					width: 100%;
				}
			}

			legend.gfield_label {
				display: block;
				float: left;
				padding-right: 1em;
				width: 30%;

				@media (max-width: 640px) {
					width: 100%;
				}
			}
		}

		.ginput_complex .ginput_container {
			width: auto;
		}

		div.gfield > div:not(.ui-resizable-handle):not(.gfield-admin-icons) {
			width: 70%;

			@media (max-width: 640px) {
				width: 100%;
			}
		}

		.gfield_html_formatted {
			margin-left: 30%;
		}

		.gfield_label.right_label {
			padding-right: 1em;
			text-align: right;
		}

		&.gform_fields {
			position: relative;
		}
	}
}


/* Submit button in the editor */

.gform_wrapper.gravity-theme {
	&.left_label,
	&.right_label {
		#field_submit {
			justify-content: flex-start;

			input {
				margin-left: 30%;
			}
		}

		.field_sublabel_below .ginput_complex {
			align-items: flex-start;
		}

		.field_sublabel_above .ginput_complex {
			align-items: flex-end;
		}
	}
}


/*
* Style the character counter in TinyMCE.
*/

.gform_wrapper.gravity-theme {
	.ginput_counter {
		color: #767676;
		font-size: 0.8em;
	}

	.ginput_counter_tinymce {
		border-top: 1px solid #eee;
		font-size: 12px;
		padding: 2px 10px;
	}
}


/*
* Needed css for the validation messages to work.
*/

.gform_wrapper.gravity-theme .validation_message--hidden-on-empty:empty {
	display: none;
}

/* Components */

/*
* Styles for credit card icons
*/
.gform_wrapper.gravity-theme {
	.gform_card_icon_container {
		display: flex;
		height: 32px;
		margin: 8px 0 6.4px 0;

		div.gform_card_icon {
			background-image: url("../../images/gravity-forms/gf-creditcards.svg");
			background-repeat: no-repeat;
			height: 32px;
			margin-right: 4.8px;
			text-indent: -9000px;
			width: 40px;

			&.gform_card_icon_amex {
				background-position: -167px 0;
			}

			&.gform_card_icon_discover {
				background-position: -221px 0;
			}

			&.gform_card_icon_mastercard {
				background-position: -275px 0;
			}

			&.gform_card_icon_visa {
				background-position: -59px 0;
			}

			&.gform_card_icon_jcb {
				background-position: -329px 0;
			}

			&.gform_card_icon_maestro {
				background-position: -5px 0;
			}

			&.gform_card_icon_selected {
				position: relative;

				&::after {
					background: url("../../images/gravity-forms/gf-creditcards-check.svg") center center no-repeat;
					bottom: 4px;
					content: "";
					display: block;
					height: 10px;
					position: absolute;
					right: 0;
					width: 13px;
				}
			}
		}
	}

	.ginput_container_creditcard {
		.ginput_cardinfo_right {
			align-items: center;
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			label {
				width: 100%;
			}

			.ginput_card_security_code_icon {
				background-image: url("../../images/gravity-forms/gf-creditcards.svg");
				background-position: -382px center;
				background-repeat: no-repeat;
				display: block;
				flex: none;
				height: 32px;
				margin-left: 0.3em;
				width: 40px;
			}
		}
	}
}



/*
* List field.
*/

.gform_wrapper.gravity-theme {
	.gfield_list_header, .gfield_list_group {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.gfield_header_item {
		word-break: break-word;
	}

	.gfield_header_item, .gfield_list_group_item {
		flex-grow: 1;
		width: 0;
	}

	& + &:not(.gfield_header_item--icons),
	&.gfield_list_group_item + .gfield_list_group_item {
		margin-left: 2%;
	}

	.gfield_list_group_item input, .gfield_list_group_item select {
		width: 100%;
	}

	.gfield_header_item--icons, .gfield_list_icons {
		align-items: center;
		display: flex;
		flex: none;
		justify-content: center;
		width: 48px;

		button {
			background: transparent url("../../images/gravity-forms/list-add.svg");
			border: none;
			font-size: 0;
			height: 16px;
			opacity: 0.5;
			padding: 0;
			transition: opacity 0.5s ease-out;
			width: 16px;

			&:hover, &:focus {
				opacity: 1;
				outline: none;
			}

			&.delete_list_item {
				background-image: url("../../images/gravity-forms/list-remove.svg");
				margin-left: 5px;
			}
		}
	}

	@media (max-width: 640px) {
		.gfield_list_header {
			display: none;
		}

		.gfield_list_group {
			border: 1px solid rgba(0, 0, 0, 0.2);
			display: block;
			margin-bottom: 16px;
			padding: 16px;

			.gfield_header_item, .gfield_list_group_item {
				width: auto;

				&:not(:last-child) {
					margin-bottom: 8px;
				}

				&::before {
					content: attr(data-label);
					font-size: 14.992px;
				}
			}

			.gfield_list_icons {
				background-color: rgba(0, 0, 0, 0.1);
				line-height: 0;
				margin: 16px -16px -16px;
				padding: 12px 16px;
				text-align: left;
				width: auto;
			}

			.gfield_header_item + .gfield_header_item:not(.gfield_header_item--icons),
			.gfield_list_group_item + .gfield_list_group_item {
				margin-left: 0;
			}
		}
	}
}

/* Legacy List Field Styles */
.gform_wrapper.gform_legacy_markup table.gfield_list.gfield_list_container {
	width: 100%;

	thead tr {
		display: flex;
		flex-wrap: nowrap;

		th, td {
			flex-grow: 1;
			white-space: normal;
			width: 0;
			word-break: break-word;

			&:last-child {
				flex-grow: unset;
				width: 48px;
			}
		}
	}

	tbody th, tbody td {
		flex-grow: 1;
		white-space: normal;
		width: 0;
		word-break: break-word;

		&.gfield_list_icons {
			flex-grow: unset;
			width: 48px;
		}
	}

	tbody tr {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.gfield_list_cell {
			flex-grow: 1;

			input {
				width: 95%;
			}
		}
	}

	@media screen and (max-width: 640px) {
		th {
			display: none;
		}

		tbody tr {
			flex-flow: column;
		}

		tbody tr td::before {
			content: attr(data-label);
			font-size: 14.992px;
		}

		tbody tr td {
			flex-grow: unset;
			width: auto;
		}

		tbody tr .gfield_list_icons {
			height: 35px;
			width: auto;
		}
	}
}

