.chosen {
    &-container {
        .chosen-drop {
            background: $colorWhite;
            border: 1px solid $colorGrey;
            border-radius: 0 0 calc($radius / 2) calc($radius / 2);
            border-top: 0;
            box-shadow: 0 1px 3px rgba($colorBlack, 0.1);
            display: none;
            padding: 5px;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 1010;
        }
        &.chosen-with-drop .chosen-drop {
            display: block;
        }
        a {
            color: inherit;
            cursor: pointer;
        }
        span:not(.ginput_price) {
            @include up($medium) {
                display: block;
                margin-bottom: 8px;
            }
        }
        .search-choice,
        .chosen-single {
            .group-name {
                color: $colorGrey;
                font-weight: normal;
                margin-right: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &::after {
                    content: ":";
                    padding-left: 2px;
                    vertical-align: top;
                }
            }
        }
    }

    &-container-single .chosen-single {
        background-color: $colorWhite;
        border: 1px solid $colorGrey;
        border-radius: calc($radius / 2);
        display: block;
        height: 40px;
        line-height: 24px;
        overflow: hidden;
        padding: 0 0 0 8px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        @include up($medium) {
            height: 40px;
            line-height: 2.8;
            &[style] {
                width: 100% !important;
            }
        }
        input[type="text"] {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            width: 0;
        }
        .chosen-default {
            color: $colorGreyDark;
        }
        span {
            display: block;
            line-height: 38px;
            margin-right: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .chosen-single-with-deselect span {
            margin-right: 36px;
        }
        &.chosen-disabled .chosen-single abbr:hover {
            background-position: -42px -10px;
        }
        div {
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 18px;
        }
        .chosen-search {
            margin: 0;
            padding: 3px 4px;
            position: relative;
            white-space: nowrap;
            z-index: 1010;
        }
        .chosen-drop {
            background-clip: padding-box;
            border-radius: 0 0 4px 4px;
            margin-top: -1px;
        }
    }
    &-container-single.chosen-container-single-nosearch .chosen-search {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
    &-container .chosen-results {
        color: $colorText;
        margin: 0 4px 4px 0;
        max-height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 0 0 4px;
        position: relative;
        li {
            display: none;
            line-height: 15px;
            list-style: none;
            margin: 0;
            padding: 5px 6px;
            word-wrap: break-word;
            &.active-result {
                cursor: pointer;
                display: list-item;
            }
            &.disabled-result {
                color: $colorGreyDark;
                cursor: default;
                display: list-item;
            }
            .highlighted {
                background-color: $colorPrimary;
                background-image: linear-gradient($colorPrimary 20%, $colorPrimary 90%);
                color: $colorWhite;
            }
            &.no-results {
                background: $colorGreyLight;
                color: $colorText;
                display: list-item;
            }
            &.group-result {
                cursor: default;
                display: list-item;
                font-weight: bold;
            }
            &.group-option {
                padding-left: 15px;
            }
            em {
                font-style: normal;
                text-decoration: underline;
            }
        }
    }

    &-container-multi {
        @include up($medium) {
            &[style] {
                width: 100% !important;
            }
        }
        .chosen-choices {
            background-color: $colorWhite;
            border: 1px solid $colorGrey;
            cursor: text;
            height: auto;
            margin: 0;
            overflow: hidden;
            padding: 8px;
            position: relative;
            width: 100%;
            li {
                float: left;
                list-style: none;
                &.search-field {
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                    @include up($medium) {
                        float: none;
                        line-height: inherit;
                        width: 100%;
                    }
                    input[type="text"] {
                        background: transparent !important;
                        border: 0 !important;
                        border-radius: 0;
                        box-shadow: none;
                        color: $colorGrey;
                        font-family: sans-serif;
                        font-size: 100%;
                        height: 25px;
                        line-height: normal;
                        margin: 1px 0;
                        outline: 0;
                        padding: 0;
                        width: 25px;
                    }
                }
                &.search-choice {
                    background-clip: padding-box;
                    background-color: #eee;
                    background-image: linear-gradient($colorGreyLight 20%, $colorGreyLight 50%, $colorGreyLight 52%, $colorGreyLight 100%);
                    background-repeat: repeat-x;
                    background-size: 100% 19px;
                    border: 1px solid $colorGreyDark;
                    border-radius: 3px;
                    box-shadow: 0 0 2px $colorWhite inset, 0 1px 0 rgba($colorBlack, 0.05);
                    color: $colorText;
                    cursor: default;
                    line-height: 13px;
                    margin: 3px 5px 3px 0;
                    max-width: 100%;
                    padding: 3px 20px 3px 5px;
                    position: relative;
                    @include up($medium) {
                        float: none;
                        line-height: inherit;
                        width: 100%;
                    }
                    span {
                        word-wrap: break-word;
                        @include up($medium) {
                            margin-bottom: 0;
                        }
                    }
                    .search-choice-close {
                        display: block;
                        font-size: 1px;
                        height: 12px;
                        position: absolute;
                        right: 3px;
                        top: 4px;
                        width: 12px;
                        @include up($medium) {
                            top: calc(50% - 6px);
                        }
                        &:hover {
                            background-position: -42px -10px;
                        }
                    }
                }
                &.search-choice-disabled {
                    background-color: $colorGreyLight;
                    background-image: linear-gradient($colorGreyLight 20%, $colorGreyLight 50%, $colorGreyLight 52%, $colorGreyLight 100%);
                    border: 1px solid $colorGreyDark;
                    color: $colorText;
                    padding-right: 5px;
                }
                &.search-choice-focus {
                    background: $colorGreyDark;
                    .search-choice-close {
                        background-position: -42px -10px;
                    }
                }
            }
        }
        .chosen-results {
            margin: 0;
            padding: 0;
        }
        .chosen-drop .result-selected {
            color: #ccc;
            cursor: default;
            display: list-item;
        }
    }

    &-container-active {
        &.chosen-with-drop .chosen-single {
            background-color: $colorWhite;
            border: 1px solid $colorGrey;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0 1px 0 $colorWhite inset;
            div {
                background: transparent;
                border-left: none;
                b {
                    background-position: -18px 10px;
                }
            }
        }
        .chosen-single {
            border: 1px solid $colorPrimary;
            box-shadow: 0 0 5px rgba($colorBlack, .3);
        }
        .chosen-choices {
            li.search-field input[type="text"] {
                color: $colorBlack !important;
            }
        }
    }

    &-disabled {
        cursor: default;
        opacity: 0.5 !important;
        .chosen-single {
            cursor: default;
        }
        .chosen-choices .search-choice .search-choice-close {
            cursor: default;
        }
    }
}



.ginput_complex {
    display: flex;
    flex-flow: row wrap;
    span,
    fieldset {
        flex: 1;
        @include up($medium) {
            &:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full) {
                padding-left: 1%;
            }
        }
    }
    span {
        @include down($medium) {
            flex: 0 0 100%;
            margin-bottom: 8px;
            padding-left: 0;
        }
    }
    .ginput_full {
        flex: 0 0 100%;
    }
    .clear-multi {
        display: flex;
    }
    label,
    legend {
        display: block;
    }
    input,
    select {
        width: 100%;
    }
    /*@include up($medium) {
        span:not([style*="display:none"]):not(.ginput_full),
        fieldset:not([style*="display:none"]):not(.ginput_full) {
            padding-right: 1%;
        }
    }*/
}
.ginput_container_address {
    margin-left: -1%;
    margin-right: -1%;
    span {
        flex: 0 0 50%;
        padding-left: 0.9804%;
        padding-right: 0.9804%;
        @include down($medium) {
            padding-left: 0.9804%;
        }
    }
}
.ginput_address_country {
    select {
        background: url("../../images/chevron-down.svg") no-repeat calc(100% - 5px) center;
    }
}
@include up($medium) {
    .ginput_full:not(:last-of-type),
    .ginput_container_address span:not(.ginput_full):not(:last-of-type):not(:nth-last-of-type(2)) {
        margin-bottom: 8px;
    }
}