.gform_wrapper {
    .gf_hide_ampm .gfield_time_ampm {
        display: none !important;
    }
    .gsection.gf_scroll_text {
        background-color: $colorWhite;
        border: 1px solid $colorGreyDark;
        height: 240px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 32px;
        .gsection_title {
            margin-bottom: 0 !important;
            margin-top: 0;
        }
    }
    .gfield_alert {
        &_green,
        &_red,
        &_yellow,
        &_gray,
        &_blue {
            border-radius: 3px;
            margin: 20px 0 !important;
            padding: 20px !important;
        }
    }

    .gf_alert {
        &_green,
        &_red,
        &_yellow,
        &_gray,
        &_blue {
            border-radius: 3px;
            margin: 20px 0 !important;
            padding: 20px !important;
        }
        &_green {
            background-color: #cbeca0;
            border: 1px solid #97b48a;
            color: #030;
            text-shadow: #dfb 1px 1px;
        }
        &_red {
            background-color: #faf2f5;
            border: 1px solid #cfadb3;
            color: #832525;
            text-shadow: $colorWhite 1px 1px;
        }
        &_yellow {
            background-color: #fffebc;
            border: 1px solid #e6db55;
            color: #222;
            text-shadow: #fcfaea 1px 1px;
        }
        &_gray {
            background-color: #eee;
            border: 1px solid $colorGreyDark;
            color: #424242;
            text-shadow: $colorWhite 1px 1px;
        }
        &_blue {
            background-color: #d1e4f3;
            border: 1px solid #a7c2e7;
            color: #314475;
            text-shadow: #e0f1ff 1px 1px;
        }
    }

    .gf_simple_horizontal {
        margin: 0 auto;
        width: calc(100% - 16px);
        &.gform_body,
        &.gform_footer.top_label {
            display: table-cell;
            margin: 0;
            padding: 0;
            position: relative;
            vertical-align: middle;
        }
        .gform_body {
            max-width: 75%;
            width: auto;
            .top_label {
                display: table;
                width: 100%;
                .gfield {
                    display: table-cell;
                    height: auto;
                    padding-right: 1em;
                    .small,
                    .medium,
                    .large {
                        width: 100%;
                    }
                    .ginput_container_checkbox,
                    .ginput_container_radio {
                        .gchoice {
                            display: inline-block;
                            margin-right: 0.5em;
                        }
                    }
                }
                &.form_sublabel_below,
                &.form_sublabel_above {
                    .gfield {
                        vertical-align: middle;
                    }
                }
            }
        }
        .ginput_container,
        .gfield {
            margin-top: 0 !important;
        }
        .gform_footer.top_label {
            margin: 0;
            max-width: 25%;
            padding: 0;
            text-align: left;
            width: auto;
            input[type="submit"],
            input[type="button"],
            input[type="image"] {
                height: auto;
            }
        }
        .gfield_label,
        .ginput_complex label,
        .gfield_description:not(.validation_message) {
            display: block;
            height: 1px;
            left: -9000px;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 1px;
        }
    }

    @include up($medium) {
        .gform_wrapper {
            .gfield {
                &.gf_list_2col,
                &.gf_list_3col,
                &.gf_list_4col
                &.gf_list_5col {
                    .gfield_checkbox,
                    .gfield_radio {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(auto-fill, auto);
                        grid-column-gap: 32px;
                    }
                }
                &.gf_list_2col {
                    .gfield_checkbox,
                    .gfield_radio {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                &.gf_list_3col {
                    .gfield_checkbox,
                    .gfield_radio {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
                &.gf_list_4col {
                    .gfield_checkbox,
                    .gfield_radio {
                        grid-template-columns: repeat(4, 1fr);
                    }
                }
                &.gf_list_5col {
                    .gfield_checkbox,
                    .gfield_radio {
                        grid-template-columns: repeat(5, 1fr);
                    }
                }
            }
            .gfield.gf_list_inline {
                .gfield_checkbox,
                .gfield_radio {
                    display: block;
                    .gchoice {
                        display: inline-block;
                        padding-right: 16px;
                        label {
                            max-width: none;
                        }
                    }
                }
            }
            .gfield_list_2col_vertical {
                .gfield_checkbox,
                .gfield_radio {
                    column-count: 2;
                    grid-column-gap: 32px;
                }
            }
            .gfield_list_3col_vertical {
                .gfield_checkbox,
                .gfield_radio {
                    column-count: 3;
                    grid-column-gap: 32px;
                }
            }
            .gfield_list_4col_vertical {
                .gfield_checkbox,
                .gfield_radio {
                    column-count: 4;
                    grid-column-gap: 32px;
                }
            }
            .gfield_list_5col_vertical {
                .gfield_checkbox,
                .gfield_radio {
                    column-count: 5;
                    grid-column-gap: 32px;
                }
            }
            .gfield.gf_list_height_25 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 25px;
                }
            }
            .gfield.gf_list_height_50 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 50px;
                }
            }
            .gfield.gf_list_height_75 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 75px;
                }
            }
            .gfield.gf_list_height_100 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 100px;
                }
            }
            .gfield.gf_list_height_125 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 125px;
                }
            }
            .gfield.gf_list_height_150 {
                .gfield_checkbox,
                .gfield_radio {
                    height: 150px;
                }
            }
        }
    }
}

.gform_confirmation_wrapper.gf_confirmation {
    &_simple_yellow {
        background-color: #fffebcc;
        border-bottom: 1px solid #e6db55;
        border-top: 1px solid #e6db55;
        color: #424242;
        font-size: 25px;
        margin: 30px 0;
        max-width: 99%;
        padding: 32px;
    }
    &_simple_gray {
        background-color: #eaeaea;
        border-bottom: 1px solid $colorGreyDark;
        border-top: 1px solid $colorGreyDark;
        color: #424242;
        font-size: 25px;
        margin: 30px 0;
        max-width: 99%;
        padding: 32px;
    }
    &_yellow_gradient {
        background-color: #fffbd2;
        border: 1px solid #e6db55;
        box-shadow: 0 0 5px rgba(221, 215, 131, 0.75);
        margin: 30px 0;
        position: relative;
        .gform_confirmation_message {
			background: #fffce5;
			background: linear-gradient(to bottom, #fffce5 0%, #fff9bf 100%);
			background-color: #fffbcc;
			border-bottom: 1px solid #e6db55;
			border-top: 2px solid $colorWhite;
			color: #424242;
			font-size: 28px;
			margin: 0;
			max-width: 99%;
			padding: 40px;
		}
    }
    &_green_gradient {
		background-color: #f1fcdf;
		border: 1px solid #a7c37c;
		box-shadow: 0 0 5px rgba(86, 122, 86, 0.4);
		margin: 30px 0;
		position: relative;
        .gform_confirmation_message {
			background: rgb(219, 242, 183);
			background: linear-gradient(to bottom, rgba(219, 242, 183, 1) 0%, rgba(180, 208, 136, 1) 100%);
			background-color: #fffbcc;
			border-bottom: 1px solid #a7c37c;
			border-top: 2px solid #effade;
			color: #030;
			font-size: 28px;
			margin: 0;
			max-width: 99%;
			padding: 40px;
			text-shadow: #dfb 1px 1px;
		}
	}
    &_yellow_gradient,
    &_green_gradient {
        &::before,
        &::after {
            background: rgba($colorBlack, .2);
            bottom: 15px;
            box-shadow: 0 15px 10px rgba($colorBlack, .2);
            content: "";
            left: 10px;
            max-width: 40%;
            position: absolute;
            top: 80%;
            transform: rotate(-3deg);
            width: 50%;
            z-index: -1;
        }
        &::after {
            left: auto;
            right: 10px;
            transform: rotate(3deg);
        }
    }
}

.gsection_title {
    margin-bottom: 0 !important;
}