.ginput_container_password {
    > span {
        position: relative;
    }
    &:focus {
        outline: none;
    }
}
.gform_show_password {
	background-color: inherit;
	border: none;
	cursor: pointer;
	height: 100%;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 0;
}
.password_input_container {
	display: block;
	position: relative;
}
.gfield_password_strength {
	background-color: $colorGrey;
	border: 1px solid $colorGrey;
	border-bottom: 3px solid $colorGrey;
	margin-top: 8px;
	padding: 8px;
	text-align: center;
    .short, 
    .mismatch {
        background-color: rgba($colorWarning, .3);
        border-bottom: 3px solid $colorWarning;
        border-color: $colorWarning;
    }
    .bad {
		background-color: #ffb78c;
		border-bottom: 3px solid #ff853c;
		border-color: #ff853c;
	}
    .good {
        background-color: #ffec8b;
        border-bottom: 3px solid #fc0;
        border-color: #fc0;
    }
    .strong {
        background-color: rgba($colorSuccess, .3);
        border-bottom: 3px solid $colorSuccess;
        border-color: $colorSuccess;
    }
    .field_sublabel_above & {
        margin-top: 16px;
    }
}
