/* Progress bar */
.gform_wrapper {
  .gf_progressbar {
    background: $colorGreyLight;
    border-radius: 100px;
    margin-bottom: 24px;
    position: relative;
    &_title {
      color: $colorText;
      font-weight: $fontWeightSemibold;
      margin: 0 0 16px 0;
    }
    &_percentage {
      background-color: $colorPrimary;
      border-radius: $radiusFull;
      height: 10px;
      text-align: right;
      vertical-align: middle;
      &:not(.percentbar_100) {
        border-radius: $radiusFull;
      }
      span {
        display: none;
      }
      &.percentbar_blue {
        align-items: center;
        background-color: $colorPrimary;
        color: $colorWhite;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}