.gform-theme--framework {
	*:where(
		:not(html):not(iframe):not(canvas):not(img):not(svg):not(video)
		:not(svg *):not(symbol *)
		:not(.gform-theme__no-reset--el):not(.gform-theme__no-reset--children *):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-reset):not(.gform-theme__disable-reset *):not(.gform_heading *):not(.gfield--type-html *):not(.gfield--type-section *):not(.form_saved_message > *):not(.form_saved_message_sent > *):not(.gform_confirmation_message *):not(.wp-editor-container):not(.mce-tinymce):not(.mce-tinymce *):not(.wp-editor-area):not(.gfield_description > *):not(.gform-field-label--type-inline > *:not(span))
) {
		all: unset;
		display: revert;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	a,
	button {
		cursor: revert;
	}

	ol,
	ul,
	menu {
		list-style: none;
	}

	img {
		max-inline-size: 100%;
		max-block-size: 100%;
	}

	table {
		border-collapse: collapse;
	}

	input,
	textarea {
		-webkit-user-select: auto;
	}

	textarea {
		white-space: revert;
	}

	meter {
		appearance: revert;
	}

	:where(pre) {
		all: revert;
	}

	::-moz-placeholder,
	::placeholder {
		color: unset;
	}

	:where([hidden]) {
		display: none;
	}

	:where([contenteditable]:not([contenteditable="false"])) {
		-moz-user-modify: read-write;
		-webkit-user-modify: read-write;
		word-wrap: break-word;
		-webkit-line-break: after-white-space;
		-webkit-user-select: auto;
	}

	:where([draggable="true"]) {
		-webkit-user-drag: element;
	}

	:where(dialog:modal) {
		all: revert;
	}

	input[type="radio"]::before,
	input[type="checkbox"]::before {
		height: auto;
		margin-block: 0;
		margin-inline: 0;
		position: static;
		width: auto;
	}

	input[type="radio"]::after,
	input[type="checkbox"]::after {
		content: none;
	}
}