/* Grid Styles */
.gf_browser_ie.gform_wrapper.gravity-theme {
	form {
		overflow: hidden;
		padding: 1px 1px 8px 1px;
	}

	.gform-body {
		margin: 0 -32px -32px 0;
	}

	.gform_fields {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;

		.gfield {
			background-clip: padding-box;
			border: 0 solid transparent;
			border-width: 0 32px 32px 0;
			width: 100%;

			@include up($large) {
				& {
					width: 100%;
				}
			}

			&.gfield--width-full {
				width: 100%;
			}

			&.gfield--width-eleven-twelfths {
				width: 91.666%;
			}

			&.gfield--width-five-sixths {
				width: 83.333%;
			}

			&.gfield--width-three-quarter {
				width: 75%;
			}

			&.gfield--width-two-thirds {
				width: 66.666%;
			}

			&.gfield--width-seven-twelfths {
				width: 58.333%;
			}

			&.gfield--width-half {
				width: 50%;
			}

			&.gfield--width-five-twelfths {
				width: 41.666%;
			}

			&.gfield--width-third {
				width: 33.333%;
			}

			&.gfield--width-quarter {
				width: 25%;
			}
		}
	}
}

/* Complex fields */
.ginput_container_address {
	.ginput_left,
	.ginput_right {
		flex: 0 50%;
		flex-basis: auto;
		width: 50%;
	}
}
