node_modules/
waboot-child/node_modules
bower_components/
builds/
npm-debug.log

############
## WABOOT
############
components
!components/.gitkeep

############
## WP
############
Movefile

############
## VENDORS
############
/vendor/
/assets/vendor
/assets/dist/fonts/**/*.*
!/assets/dist/fonts/.gitkeep
!/assets/dist/fonts/fontawesome-*.*
!/assets/dist/fonts/FontAwesome.otf
/assets/dist/webfonts/**/*.*
!/assets/dist/webfonts/.gitkeep

############
## WBF TMP FILE
############
wbf/options/theme-options-generated.less
_theme-options.src.addons
wbf/options/client-custom.css
assets/src/less/tmp_*.*

############
## ASSETS
############
assets/cache/*.*
!assets/cache/.gitkeep
assets/dist/css/*.css
!assets/dist/css/font-awesome-4.7.0.min.css
assets/dist/css/*.map
assets/src/js/waboot.js
assets/dist/js/*.js
assets/dist/js/*.map
assets/dist/fonts
waboot-child/yarn.lock
package-lock.json

############
## CHILD ASSETS
############
waboot-child/assets/cache/*.*
!waboot-child/assets/cache/.gitkeep
waboot-child/assets/dist/css/waboot-child.css
waboot-child/assets/dist/css/waboot-child.css.map
waboot-child/assets/src/less/tmp_*.*
waboot-child/assets/src/less/theme-options-generated.less

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit
/vendor/
