/vendor/
node_modules
*.log

#Vendor
waga-woocommerce-csv-cli-importer

#Assets
assets/dist/css/main.min.css
assets/dist/css/main.min.css.map
assets/dist/js/main.min.js
assets/dist/js/main.min.js.map
assets/dist/js/main.pkg.js
assets/dist/js/catalog.css
assets/dist/js/catalog.min.css
assets/dist/js/catalog.min.css.map
assets/dist/js/catalog.js
assets/dist/js/catalog.min.js
assets/dist/js/catalog.min.js.map
