/vendor/
addons/packages/catalog_custom_tables/vendor
node_modules

#External
addons/packages/catalog_manager/waga-woocommerce-csv-cli-importer

#Assets
assets/dist/css/main.min.css
assets/dist/css/main.min.css.map
assets/dist/js/main.min.js
assets/dist/js/main.min.js.map
assets/dist/js/main.pkg.js