<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
>
    <testsuites>
        <testsuite name="Example Test Suite">
            <directory suffix=".php">tests/tests-core</directory>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/tests-core/SimpleTest.php</file>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/tests-core/LayoutTest.php</file>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/tests-core/ThemeTest.php</file>
            <exclude>tests/bootstrap-wp.php</exclude>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="builds/logs/junit-core.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
