<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
>
    <testsuites>
        <testsuite name="Example Test Suite">
            <directory suffix=".php">tests</directory>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/SimpleTest.php</file>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/LayoutTest.php</file>
            <file phpVersion="5.3.0" phpVersionOperator=">=">tests/ThemeTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="builds/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
