@use '../../../../../../assets/src/sass/frontend/variables';
@use '../../../../../../assets/src/sass/frontend/media-query';

// show/hide original WooCommerce elements
/*
Original form is composed like this
form
  #customer_details
  h3#order_review_heading
  #order_review.woocommerce-checkout-review-order
    table.woocommerce-checkout-review-order-table
    .woocommerce-form-coupon__wrapper
    #payment
      ul.wc_payment_methods.payment_methods methods
      .place-order
*/

.checkout-addon-wrapper {
  display: grid;
  grid-gap: 24px;
  max-width: 1400px;
  margin-inline: auto;

  @include media-query.up(variables.$large) {
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
    .checkout-addon-steps {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    .woocommerce-checkout-steps__order-review {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }
}

.original-form-wrapper {
  display: none;
}

#payment-wrapper {

}

// override default WooCommerce styles
.woocommerce-page.woocommerce-checkout {
  .woocommerce-checkout {
    display: block;
  }

  .woocommerce-billing-fields__field-wrapper {
    @include media-query.down(variables.$medium) {
      flex-direction: column;
    }

    .form-row {
      margin-bottom: 10px;

      @include media-query.down(variables.$medium) {
        width: 100%;
      }
    }
  }
}

.order-total {
  td,
  th {
    border-top: 1px solid variables.$colorGrey;
    padding-top: 24px;
  }
  th {
    text-transform: uppercase;
  }
}

.cart-subtotal,
.woocommerce-shipping-totals {
  th {
    font-weight: variables.$fontWeightNormal;
  }
}

// new checkout form specific styles
.woocommerce-checkout-steps {

  &:not([data-step="email"]) {
    .woocommerce-checkout-steps__data {
      border-bottom: 1px solid variables.$colorGrey;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  &__header {
    margin-bottom: 16px;
    padding-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: 8px;
    &:first-child {
      .woocommerce-checkout-steps__link {
        align-items: flex-start;
      }
    }
    &:nth-child(2) {
      .woocommerce-checkout-steps__link {
        align-items: flex-end;
      }
    }
    &:last-child {
      .woocommerce-checkout-steps__link {
        align-items: flex-end;
      }
    }
    &:not(:first-child) {
      .woocommerce-checkout-steps__link {
        position: relative;
      }
    }

    &:not(:last-child)::after {
      content: '▸';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      color: variables.$colorGrey;
    }

    &--current div > span {
      color: variables.$colorBlack;
      font-weight: 500;
    }

    &--done {
      .woocommerce-checkout-steps__link {
        &::before {
          background-color: variables.$colorPrimary !important;
        }
      }
    }
  }

  &__link {
    align-items: center;
    color: variables.$colorGrey;
    display: flex;
    flex-direction: column;
    gap: 8px;
    white-space: nowrap;
  }

  &__data {
    position: relative;

    ul {
      list-style: none;
      padding: 0;
    }
    .form-row__email {
      color: variables.$colorGrey;
    }
  }

  &__edit {
    font-size: 1em;
    font-weight: variables.$fontWeightMedium;
    display: flex;
    align-items: center;
    gap: 4px;
    @include media-query.up(variables.$large) {
      font-size: .8125em;
    }
    i {
      font-size: 16px;
    }
  }

  &__block {
    max-width: 400px;
  }

  &__password {
    background-color: variables.$colorGreyLight;
    padding: 24px 16px;
    border-radius: 8px;
    h5 {
      margin-bottom: 8px !important;
    }
    p {
      color: variables.$colorGrey;
      margin-bottom: 0;
    }
    small {
      color: variables.$colorGrey;
      font-size: 1em;
      font-weight: variables.$fontWeightMedium;
    }
    .woocommerce-checkout {
      padding-block: 24px;
    }
    .form-row {
      margin-bottom: 24px !important;
    }
    .forgot-password {
      color: variables.$colorGrey;
      font-weight: variables.$fontWeightMedium;
      font-size: .8125em;
      line-height: 1.5;
      margin-top: 4px;
    }
  }

  &__btn-group {
    display: flex;
    gap: 8px;
    .btn--link {
      background: none;
      border: none;
      border-radius: 0;
      color: variables.$colorText;
      text-decoration: underline;
      text-transform: none;
      &:hover {
        background: none;
        color: variables.$colorPrimary;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variables.$gridGutter;
    margin-bottom: 16px;
    h5 {
      margin-bottom: 0 !important;
    }
  }

  h4, h5 {
    font-family: variables.$fontPrimary;
    margin-bottom: 16px;
    text-transform: none;
  }

  h5 {
    font-size: 1em;
    font-weight: variables.$fontWeightMedium;
  }

  h6 {
    color: inherit;
    font-weight: variables.$fontWeightMedium;
  }

  .vue-select .control {
    border-color: variables.$colorGrey;
  }

  &__shipping {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
    &-footer {
      margin-bottom: 24px;
    }
    h6 {
      margin-bottom: 12px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }

  &__account-info {
    margin-top: 24px;
    h5 {
      margin-bottom: 16px;
    }
    input[type="submit"] {
      align-self: flex-start;
      margin-left: 12px;
    }
    .dp__input_icon {
      right: 0;
      left: auto;
    }
  }

  &__content form,
  &__content > div {
    margin-bottom: 40px;
  }

  &__content form {
    width: 100%;
    margin-bottom: 0;
    display: grid;
  }

  .form-row,
  .password-wrapper {
    position: relative;
    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
      &:not(:placeholder-shown) ~ label,
      &:focus ~ label {
        top: -11px;
        font-size: .8125em;
        border-radius: 4px;
      }
    }
    label:not(.checkbox) {
      pointer-events: none;
      position: absolute;
      left: 24px;
      top: 11px;
      transition: 0.2s;
      margin: 0;
      background-color: variables.$colorWhite;
      color: variables.$colorGrey;
      padding: 2px 4px;
    }
    &__email {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
  }

  .password-wrapper i {
    top: 18px;
  }

  &__payment {
    border-top: 1px solid variables.$colorGrey;
    padding-top: 24px;
    input[type="submit"] {
      width: 100%;
    }
  }

  .shipping-addresses {
    display: grid;
    gap: variables.$gridGutter / 2;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    @include media-query.up(variables.$large) {
      gap: variables.$gridGutter;
    }

    &__item {
      border: 1px solid variables.$colorBlack;
      border-radius: 8px;
      cursor: pointer;
      display: grid;
      gap: variables.$gridGutter / 2;
      grid-template-columns: 16px auto;
      min-height: 100px;
      padding: 16px;

      .icon {
        color: variables.$colorBlack;
        height: 16px;
        margin-top: 8px;
        width: 16px;
      }

      > div {
        display: grid;
        gap: 0;
        align-items: center;
      }

      strong {
        font-weight: variables.$fontWeightMedium;
        word-break: break-word;
      }

      span {
        color: variables.$colorGrey;
        font-size: .875em;
      }

      &--btn {
        border: none;
        color: variables.$colorGrey;
        font-size: .875em;
        font-weight: variables.$fontWeightMedium;
        grid-template-columns: 1fr;
        padding: 0;
        transition: .3s;

        button {
          align-items: center;
          appearance: none;
          background: none;
          border: 1px solid variables.$colorBlack;
          border-radius: 8px;
          color: inherit;
          display: flex;
          font: inherit;
          gap: variables.$gridGutter / 2;
          justify-content: center;
          padding: 16px 8px;

          .icon {
            color: inherit;
            margin-top: 0;
            transition: .3s;
          }

          &:focus {
            background-color: variables.$colorGreyLight;
            border-color: variables.$colorGreyLight;
            color: variables.$colorGrey;
          }
        }

        &:hover {
          color: variables.$colorBlack;
        }
      }

      &.selected {
        background-color: variables.$colorBlack;
        color: variables.$colorWhite;

        .icon,
        span {
          color: variables.$colorWhite;
        }
      }
    }
  }

  .woocommerce-checkout-payment {
    margin-top: 24px;
  }

  &__messages {
    margin-bottom: 12px;
  }

  &__message {
    display: inline-block;
    padding: 5px 10px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &--error {
      background-color: lighten(variables.$colorError, 35%);
      color: variables.$colorError;
    }
  }

  &__profile-row {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-block: 24px;
  }

  &__profile-col {
    position: relative;
  }

  .wc_payment_methods {
    label {
      font-weight: variables.$fontWeightMedium;
      font-size: 1em;
    }
  }

  .form-row span[role="alert"],
  .form-row select span[role="alert"] {
    color: variables.$colorError;
    font-size: .875em;
    font-weight: variables.$fontWeightMedium;
    margin-top: 4px;
  }

  &__right {
    @include media-query.down(variables.$large) {
      order: -1;
    }
  }

  &__order-review {
    background-color: variables.$colorGreyLight;
    @include media-query.down(variables.$large) {
      margin-inline: -16px;
      max-height: 78px;
      overflow: hidden;
      transition: .3s;
      &.open {
        max-height: fit-content;
        .icon {
          transform: rotate(-180deg);
        }
      }
    }
    @include media-query.up(variables.$large) {
      border-radius: 24px;
      padding: 40px;
      max-width: 600px;
      position: sticky;
      top: 150px;
    }
    &-top {
      padding: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      @include media-query.up(variables.$large) {
        display: none;
      }
      h3 {
        font-family: variables.$fontPrimary;
        font-size: 1em;
        font-weight: variables.$fontWeightMedium;
        margin: 0;
      }
      button {
        background: none;
        border: none;
        border-radius: 0;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        padding: 0;
        font-size: 1.5em;
      }
      strong {
        font-weight: variables.$fontWeightSemibold;
      }
    }

    &.loading {
      background-color: gray;
      position: relative;
    }

    .shop_table {
      margin-bottom: 0;
      border-collapse: separate;
      border-spacing: 0 12px;
    }
    [data-order-review-wrapper] {
      padding: 24px;
    }
    thead {
      display: none;
    }
    .cart_item:last-child .product-name {
      padding-bottom: 12px;
    }
    .cart-subtotal {
      th, td {
        border-top: 1px solid variables.$colorGrey;
        padding-top: 24px;
      }
    }
    .fee {
      th, td {
        padding-bottom: 8px;
      }
      th {
        font-weight: variables.$fontWeightNormal;
      }
    }

    img {
      border-radius: 12px;
      margin-right: 12px;
      @include media-query.up(variables.$large) {
        height: 80px;
        width: 80px;
      }
    }

    p {
      color: variables.$colorGrey;
      font-size: .8125em;
      font-weight: variables.$fontWeightMedium;
      padding: 0 24px 24px;
      line-height: 2;
    }
  }

  &__loader {
    background-color: variables.$colorGreyLight;
    display: none;
    inset: 0;
    place-items: center;
    position: absolute;

    .loading & {
      display: grid;
    }

    .loader {
      animation: rotate 1s linear infinite;
      border-radius: 50%;
      display: block;
      height: 48px;
      position: relative;
      width: 48px;

      &::before {
        animation: prixClipFix 2s linear infinite;
        border: 5px solid variables.$colorGreyDark;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        inset: 0;
        position: absolute;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 100%,
                    100% 100%,
                    100% 100%
    );
  }
  75% {
    clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 100%
    );
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
