/* ---------------- WABOOT ---------------- */

/* GRID CHANGES */

/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page.container .container,
#page.container .container-fluid,
#page.container-fluid .container,
#page.container-fluid .container-fluid {
  padding: 0 20px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
*/

/* END GRID CHANGES */



/* Typography */

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 10px;
  word-wrap: break-word;
}

p {
  margin-bottom: 15px;
  word-wrap: break-word;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

span {
  word-wrap: break-word;
}

table {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  width: 100%;
}

table th,
table td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* End Typography */


/* Container */

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page #header-wrapper,
#page #content-wrapper,
#page #contentbottom-wrapper,
#page #footer-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

/* End Container */


/* Sidebar */

.sidebar-left #primary {
  float: right;
}
.sidebar-left #secondary {
  float: left;
  margin-left: 0;
}

/* End Sidebar */



/* Top Navigation */

#topnav-wrapper > .widget {
    float: left;
}

#topnav-wrapper #social-widget {
	padding: 13px 0;
}

/* End Top Navigation */



/* Navbar */

.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar .navbar-toggle {
  margin-right: 0;
}

.navbar .navbar-brand {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar .navbar-brand img {
	height: 20px;
}

.navbar.main-navigation {
	background-color: transparent;
}

.navbar.main-navigation .navbar-collapse {
	margin: 0 -10px;
	padding-left: 20px;
	padding-right: 20px;
	clear:both;
}

/* End Navbar */



/* Header */

#masthead #logo {
	margin: 20px 0px;
}

#masthead #site-title {
  margin-bottom: 0;
  display: inline;
  font-size: 36px;
}

#masthead #logo img {
  max-width: 100%;
}

#header-left .widget,
#header-right .widget {
	margin: 0;
}

#navbar-1 #header-left,
#navbar-1 #header-right {
  margin-bottom: 20px;
  margin-top: 20px;
}

#navbar-1 #header-right{
  text-align: right;
}

#navbar-2 #header-left,
#navbar-2 #header-right{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
  float: right;
}

#navbar-2 #header-left .widget,
#navbar-2 #header-right .widget {
  float: right;
}

#navbar-3 #header-right {
  float: right;
  margin-bottom: 0px;
  margin-top: 32px;
}

#navbar-3 .navbar-collapse {
  margin: 20px 0 0 0;
  padding: 0;
  clear: none;
  background-color: transparent;
}

/* End Header */



/* Banner */

#banner-wrapper {
	padding: 0;
}

#banner-wrapper #banner {
	display: inline-block;
	width: 100%;
}

#banner-wrapper #banner .widget {
	margin: 0;
}

/* End Banner */


/* Content */

#content-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumb-trail {
  margin-bottom: 15px;
  font-size: 0.9em;
}

article {
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 0 20px 0;
  padding: 0;
}

/* End Content */


/* Content Bottom */

#contentbottom-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

#contentbottom-wrapper #contentbottom {
	display: inline-block;
	width: 100%;
}

#contentbottom-wrapper #contentbottom .widget {
	margin: 0;
}

/* End Content Bottom */


/* Footer */

#footer-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-footer {
	padding: 20px 0;
}

/* End Footer */


/* Social Widget */

#social-widget {
	margin: 0;
}

#navbar-1 #header-right #social-widget,
footer#colophon #social-widget {
  text-align: right;
}

#social-widget a {
	display: inline-block;
	margin: 0px 5px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 12px;
	background-color: #666;
	color: #fff;
}

#social-widget a i {
	line-height: 24px;
	width: 24px;
	height: 24px;
	display: block;
}

/* End Social Widget */


/* Search  */

#searchsubmit,
.search-form input[type=submit] {
  display: none;
}

/* End Search  */


/* Images */

p img {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}
#content .gallery .gallery-icon img {
  border: 1px solid #ddd;
  height: auto;
  padding: 6px;
}
img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0.8075em 0;
  padding-left: 10px;
}

/* End Images */


/* Miscellaneous */

.browsehappy {
  margin-bottom: 0;
  text-align: center;
}
.browsehappy .alert-link {
  text-decoration: underline;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

.alert strong {
  font-size: 1.15em;
}

/* End Miscellaneous */


/* Featured Posts */

.carousel-indicators {
	/*bottom: -10px;*/
}

.carousel-indicators li,
.carousel-indicators .active {
	height: 8px;
	width: 8px;
	margin: 2px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	padding: 0px 15px;
	width: 100%;
}

.carousel-caption h3 {
	margin: 10px 0;
	font-size: 1em;
}

/* End Featured Posts */



/* Blog Article */

.blog article,
.archive article,
.category article{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.entry-footer {
  clear: both;
  text-transform: uppercase;
  font-size: 0.9em;
}

.single .entry-footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.entry-footer .glyphicon {
  margin-right: 5px;
}

.entry-footer .byline,
.entry-footer .cat-links,
.entry-footer .comments-link,
.entry-footer .published-date,
.entry-footer .tags-links {
  margin-right: 10px;
}

#nav-below {
  clear: both;
}

/* End Blog Article */


/* Post formats  */

.format-quote {
  background: url("img/quote.png") no-repeat scroll left top;
  background-size: 20px 20px;
  margin-top: 15px;
  padding: 10px 0 0;
}

.format-quote cite {
  font-style: italic;
}

.format-quote blockquote {
  border-left: 0;
  margin: 0 0 18px 15px;
}

.format-quote blockquote p {
  font-style: italic;
}

/* End Post formats  */


/* Comments */

#comments {
	border-top: 1px solid #eee;
	padding-top: 40px;
}
.thread-even > .comment-body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
}
.comment-body {
	margin-bottom: 20px;
	padding: 15px;
}
#comments cite {
	font-size: 1.1em;
	font-weight: bold;
}
.comment-meta {
	font-size: 0.9em;
}
.comment-list {
  list-style-type: none;
  padding: 0;
}
.comment-author {
	margin-bottom: 7px;
}
.comment-content {
	margin-top: 7px;
}
.comment-author > .avatar {
	margin-right: 1em;
}
#comments ul.children {
	margin-left: 20px;
}
#comments ul.children li {
	border-top: 1px solid #e6e6e6;
	list-style-type: none;
}
.bypostauthor > article {
	background: none repeat scroll 0 0 rgba(70, 165, 70, 0.09);
}
.bypostauthor > article .avatar {
	border-bottom: 4px solid #46a546;
}
.form-allowed-tags code {
	white-space: normal;
}
.input-comment-author,
.input-comment-email,
.input-comment-url {
	width: 35%;
}

/* End Comments */



/* Media Query */

@media only screen and (max-width: 767px) {

  #topnav-wrapper .pull-left,
  #topnav-wrapper .pull-right {
    float: none !important;
  }

  #topnav-wrapper .navbar {
    display: none;
  }

  #header-wrapper .main-navigation {
    background-color: transparent;
    margin-top: 15px;
    /*display: inline;*/
    clear: both;
  }

  #masthead #logo img {
    max-width: 75%;
  }

  #header-wrapper .navbar {
    margin: 0 0px;
  }

  #header-wrapper .navbar-header {
    float: right;
  }

  #header-wrapper .main-navigation .navbar-collapse {
    clear: both;
  }

  footer#colophon #social-widget {
    text-align: center;
    margin-bottom: 20px;
  }
	
}

@media only screen and (min-width: 768px) {

  #navbar-1 #header-right {
    float: right;
  }

}

@media only screen and (min-width: 992px) {

  #navbar-1 #logo {
    text-align: center;
  }

  #navbar-2 #header-left,
  #navbar-2 #header-right {
    width: auto;
  }

  #navbar-3 #logo {
    float: left;
  }

}

@media only screen and (max-width: 991px) {

  #masthead .navbar-collapse.collapse {
    display: none !important;
  }

  #masthead .navbar-collapse.collapse.in {
    display: block !important;
  }

  #masthead .navbar-header {
    display: inline-block;
    float: right;
  }

  #masthead .navbar-toggle {
    display: inline-block;
  }

  #navbar-1 #header-left,
  #navbar-1 #header-right,
  #navbar-2 #header-left,
  #navbar-2 #header-right{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #navbar-2 #header-left {
    text-align: left;
  }

  #navbar-3 #header-right {
    display: none;
  }

}





/* Remove admin bar menu link to theme customize */
#wp-admin-bar-appearance #wp-admin-bar-themes {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-customize {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-background {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-header {display:none !important;}

/* ------------------------------------
Gravity Forms
---------------------------------------*/

.gform_wrapper ul { padding-left: 0; list-style: none }

.gform_wrapper li { margin-bottom: 15px }

.gform_wrapper form { margin-bottom: 0 }

.gform_wrapper .gfield_required { padding-left: 1px; color: #b94a48 }

.ginput_container input, .ginput_container select, .ginput_container textarea { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555; vertical-align: middle; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s }
.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
    color:#999
}
.ginput_container input::-moz-placeholder, .ginput_container select::-moz-placeholder, .ginput_container textarea::-moz-placeholder {
  color:#999
}
.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
  color:#999
}
.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
  color:#999
}

.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6) }

.ginput_container input[disabled], .ginput_container select[disabled], .ginput_container textarea[disabled], .ginput_container input[readonly], .ginput_container select[readonly], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea { cursor: not-allowed; background-color: #eee }

textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea { height: auto }

.ginput_container textarea { height: auto }

.gform_button { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.428571429; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-color: #428bca; border: 1px solid transparent; border-color: #357ebd; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none }

.gform_button:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }

.gform_button:hover, .gform_button:focus { color: #333; text-decoration: none }

.gform_button:active, .gform_button.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button { pointer-events: none; cursor: not-allowed; opacity: .65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none }

.gform_button:hover, .gform_button:focus, .gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button { color: #fff; background-color: #3276b1; border-color: #285e8e }

.gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button { background-image: none }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button, .gform_button.disabled:hover, .gform_button[disabled]:hover, fieldset[disabled] .gform_button:hover, .gform_button.disabled:focus, .gform_button[disabled]:focus, fieldset[disabled] .gform_button:focus, .gform_button.disabled:active, .gform_button[disabled]:active, fieldset[disabled] .gform_button:active, .gform_button.disabled.active, .gform_button[disabled].active, fieldset[disabled] .gform_button.active { background-color: #428bca; border-color: #357ebd }

.gform_wrapper .gfield_error .gfield_label { color: #b94a48 }

.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea { color: #b94a48; background-color: #f2dede; border-color: #eed3d7 }

.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus { border-color: #b94a48; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6) }

.validation_error { padding: 15px; margin-bottom: 20px; color: #b94a48; background-color: #f2dede; border: 1px solid transparent; border-color: #eed3d7; border-radius: 4px }

.validation_error h4 { margin-top: 0; color: inherit }

.validation_error .alert-link { font-weight: bold }

.validation_error>p, .validation_error>ul { margin-bottom: 0 }

.validation_error>p+p { margin-top: 5px }

.validation_error hr { border-top-color: #e6c1c7 }

.validation_error .alert-link { color: #953b39 }

#gforms_confirmation_message { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px }

#gforms_confirmation_message h4 { margin-top: 0; color: inherit }

#gforms_confirmation_message .alert-link { font-weight: bold }

#gforms_confirmation_message>p, #gforms_confirmation_message>ul { margin-bottom: 0 }

#gforms_confirmation_message>p+p { margin-top: 5px }

#less-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  .opacity;
}

#less-overlay-content{
  .alert;
  .alert-info;
  width: 600px;
  text-align: center;
  .opacity(1);
  z-index: 1050;
  position: absolute;
}
