/* Typography
---------------------------- */
.entry-title {
  word-wrap: break-word;
}
.widget-title {
  font-size: 18px;
}

/* Navigation
----------------------------------------------- */
.admin-bar .navbar-fixed-top {
  top: 32px;
}
/* Increase the padding of dropdown links */
.dropdown-menu li > a {
  padding: 6px 15px;
}
/* Footer Nav / Bottom Menu */
.footer-nav li {
  display: block;
  float: right;
  margin-bottom: 0;
  padding-left: 3%;
}
/* Mobile Footer Nav */
@media only screen and (max-width: 767px) {
  .footer-nav.mobile {
    border-bottom: 1px solid #ccc;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0 0;
    width: auto;
  }
  .footer-nav.mobile li {
    float: none;
    height: auto;
    padding: 0;
  }
  .footer-nav.mobile li a:hover {
    background-color: #2a6496;
    color: #fff;
    text-decoration: none;
  }
  .footer-nav.mobile li a {
    border: solid 0 #ccc;
    color: #555;
    display: block;
    font-size: 15px;
    padding: 18px 20px;
    width: auto;
  }
  .footer-nav.mobile li a,
  .footer-nav.mobile li a.active {
    border-width: 1px 0 0;
    height: auto;
    margin: 0;
  }
  .footer-nav.mobile li.current-menu-item a {
    background: #428bca;
    border: none;
    color: #fff;
    margin: 0;
    position: static;
    top: 0px;
  }
}
.breadcrumb-trail {
  padding: 8px 15px;
}
/* End of Navigation
----------------------------------------------- */

/* Various design elements
--------------------------------------- */


/* Comments
 ---------------------------------------*/
#comments {
  border-top: 1px solid #eee;
  padding-top: 40px;
}
.thread-even > .comment-body {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
}
.comment-body {
  margin-bottom: 20px;
  padding: 15px;
}
#comments cite {
  font-size: 15px;
  font-weight: bold;
}
.comment-meta {
  font-size: 12px;
}
.comment-list {
  padding-bottom: 7px;
}
.comment-author {
  margin-bottom: 7px;
}
.comment-content {
  margin-top: 7px;
}
.comment-author > .avatar {
  margin-right: 1em;
}
#comments ul.children {
  margin-left: 20px;
}
#comments ul.children li {
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
}
.bypostauthor > article {
  background: none repeat scroll 0 0 rgba(70, 165, 70, 0.09);
}
.bypostauthor > article .avatar {
  border-bottom: 4px solid #46a546;
}
.form-allowed-tags code {
  white-space: normal;
}
.input-comment-author,
.input-comment-email,
.input-comment-url {
  width: 35%;
}
/* End of comments
----------------------------------------------- */


/* Page / Wrapper / Content
----------------------------------------------- */
#masthead {
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.site-title,
.site-description {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
}
.site-description {
  font-size: 24px;
}

#main-row {
  margin-top: 10px;
}

/* The article wrapper that displays the content of a post/page/whatever */
article {
  margin: 0 0 20px;
}
/* Post/page and comment content */
.entry-content {
  padding: 15px 0;
  word-wrap: break-word;
}
p {
  margin-bottom: 1.625em;
}
/* Remove margins from page-header that get set above if used inside a post/page */
.page-header h1,
.page-header h2 {
  margin: 0;
}
/* Space out the archives descriptions from the names */
.page-header .taxonomy-description p {
  font-size: 1.15em;
  margin: 10px 3px;
}

/* Pads the paging links within a post or page */
.page-links {
  padding: 7px 0;
}

/* The meta data displayed within a post footer. */
.entry-footer {
  border-bottom: 1px solid #eee;
  clear: both;
  font-size: 12px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.entry-footer,
.entry-footer a {
  color: #777;
}
.entry-footer .glyphicon {
  margin-right: 4px;
}
.byline,
.cat-links,
.comments-link,
.published-date,
.tags-links {
  margin-right: 10px;
}

/* Images */
p img {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}
#content .gallery .gallery-icon img {
  border: 1px solid #ddd;
  height: auto;
  padding: 6px;
}
img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

/* Image captions */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0.8075em 0;
  padding-left: 10px;
}

/*Theme layouts
----------------------- */
/* One column */
/*.layout-1c #primary {
	float: none;
	margin-right: 0;
	width: 100%;
}*/
/* Two columns: sidebar left, content right. */
/*.layout-2c-r #primary {
	float: right;
}
.layout-2c-r #secondary {
	float: left;
	margin-left: 0;
}*/
/* End of Theme layouts */

/* Copyright / bottom menu area */
.site-footer {
  border-top: solid 1px #ccc;
  margin-top: 50px;
  padding: 7px 0px;
}
.browsehappy {
  margin-bottom: 0;
  text-align: center;
}
.browsehappy .alert-link {
  text-decoration: underline;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

.alert strong {
  font-size: 1.15em;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}
/* Featured Posts
---------------------------------- */
/* Carousel */
@media only screen and (max-width: 767px) {
  .carousel-caption {
    position: static;
  }
}
.carousel-indicators {
  bottom: -10px;
}
.carousel-indicators li,
.carousel-indicators .active {
  height: 8px;
  width: 8px;
  margin: 2px;
}
.carousel-caption {
  background: #333;
  background: rgba(0, 0, 0, 0.55);
  bottom: 0;
  left: 0;
  padding: 2px 0 7px;
  width: 100%;
}
.carousel-caption h3 {
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 10px;
}

/* Featured posts grid */
#featured-posts-grid {
  padding-left: 0;
}
#featured-posts-grid li {
  background-color: #F5F5F5;
  margin-bottom: 25px;
  padding-bottom: 2px;
}
.innergrid {
  height: 85%;
  float: none;
  padding: 0 10px 12px;
}
.innergrid img {
  margin: 0 auto;
  max-width: 100%;
}
.grid-header {
  font-size: 14px;
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
}
.grid-header .entry-title {
  line-height: inherit;
}
.grid-footer-meta {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}
/* End of featured posts grid */

/* Page Templates */
.page-template-templatespage-hero-php .navbar {
  border-radius: 0;
  margin-bottom: 0;
}
#hero-widgets-container {
  margin: 0 auto;
}

/* Post formats
------------------------------------ */

/* Quote post format */
.format-quote {
  background: url("img/quote.png") no-repeat scroll left top;
  background-size: 20px 20px;
  margin-top: 15px;
  padding: 10px 0 0;
}
.format-quote cite {
  font-style: italic;
}
.format-quote blockquote {
  border-left: 0;
  margin: 0 0 18px 15px;
}
.format-quote blockquote p {
  font-style: italic;
}

/* Widgets
----------------------------------------------- */
#sidebar {
  background-color: #fafafa;
  padding: 2em;
}
.widget {
  margin: 0 0 1.5em;
  word-wrap: break-word;
}
.widget ul {
  padding: 0 0 0 15px;
}
.widget li {
  margin-bottom: 5px;
}
.widget .nav-stacked {
  padding: 0;
}
.widget .nav-stacked li {
  margin-bottom: 0;
}


/* Hide search widget submit button */
#searchsubmit,
.search-form input[type=submit] {
  display: none;
}

#logout-link-widget {
  font-size: 11px;
}

.alienship-login-form .login-username,
.alienship-login-form .login-password {
  margin-bottom: 0;
}

.alienship-login-form .login-remember input {
  float: left;
  margin-right: 5px
}
/* End of Widgets
---------------------------------------------- */


/* Responsive layout
---------------------------------------------- */
@media only screen and (max-width: 480px) {
  h2.grid-header {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 767px) {
  /* Improve font size and spacing on dropdown menu on mobile/tablets */
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 12px 15px 12px 25px;
  }
  .navbar .nav > li > a, .navbar .dropdown-menu a {
    font-size: 18px;
    font-weight: normal;
    padding: 15px 20px;
  }
}


/*	--------------------------------------------------
	:: Block grids - Thanks to Zurb Foundation
	http://foundation.zurb.com/

	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones

	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */

.block-grid {
  display: block;
  overflow: hidden;
}

.block-grid > li {
  display: block;
  float: left;
  height: auto;
  margin-bottom: 12px;
  padding: 10px 0;
}

.block-grid > li > blockquote {
  border-left: none;
  padding: 0 15px;
}

.block-grid.two-up {
  margin-left: -4%;
}

.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%;
}

.block-grid.three-up {
  margin-left: -2%;
}

.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.2%;
}

.block-grid.four-up {
  margin-left: -2%;
}

.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%;
}

.block-grid.five-up {
  margin-left: -1.5%;
}

.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%;
}

/* --------------------------------------------------
	:: Mobile Block Grids
	-------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .block-grid.mobile {
    margin-left: 0;
    padding-left: 4%;
  }

  .block-grid.mobile > li {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .site-footer {
    text-align: center;
  }
}

/*
 *
 *
 *
      WABOOT
 *
 *
 *
 */




/* GRID CHANGES */

/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page.container .container,
#page.container .container-fluid,
#page.container-fluid .container,
#page.container-fluid .container-fluid {
  padding: 0 20px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
*/

/* END GRID CHANGES */



/* Container */

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page #header-wrapper,
#page #content-wrapper,
#page #contentbottom-wrapper,
#page #footer-wrapper {
	padding: 0 20px;
}

/* End Container */


/* Sidebar */

.sidebar-left #primary {
  float: right;
}
.sidebar-left #secondary {
  float: left;
  margin-left: 0;
}

/* Fine Sidebar */



/* Top Navigation */

.top-navigation #social-widget {
	padding: 13px 0;
}

/* Fine Top Navigation */



/* Navbar */

.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar .navbar-brand {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar .navbar-brand img {
	height: 20px;
}

.navbar.main-navigation {
	background-color: transparent;
}

.navbar.main-navigation .navbar-collapse {
	margin: 0 -20px;
	padding-left: 20px;
	padding-right: 20px;
	clear:both;
}

.navbar.main-navigation .navbar-collapse.navbar-right,
.navbar.main-navigation .navbar-collapse.navbar-left {
	margin: 15px 0 0 0;
	padding: 0;
	clear: none;
	background-color: transparent;
}

.navbar.main-navigation .navbar-toggle {
	background-color: #fff;
	margin: 20px 0;
}

/* Fine Navbar */








#masthead {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#masthead #logo {
  margin: 20px 0px;
}

#header-left {
  float:left;
  padding:20px 0;
  width: 30%;
}

#header-right {
  float:right;
  padding:20px 0;
  width: 30%;
  text-align: right;
}

#header-left .widget,
#header-right .widget {
  margin:0;
}

#navbar-2 .pull-right {
  margin-bottom: 20px;
  margin-top: 20px;
}

#social-widget {
  /*font-size: 18px;*/
  float: right;
  margin: 0;
}

#social-widget a {
  float: left;
  margin: 0px 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  background-color: #666;
  color: #fff;
}

#social-widget a i {
  line-height: 24px;
  width: 24px;
  height: 24px;
  display: block;
}

#page #banner-wrapper {
  padding: 0;
}

#banner-wrapper #banner {
  display: inline-block;
  width: 100%;
}

#banner-wrapper #banner .widget {
  margin: 0;
}

#page #contentbottom-wrapper.container,
#page #contentbottom-wrapper.container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

#contentbottom-wrapper #contentbottom {
  display: inline-block;
  width: 100%;
}

#contentbottom-wrapper #contentbottom .widget {
  margin: 0;
}

.site-footer {
  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  border: 0;
}


/* Plugin Rules */

#banner .flex-direction-nav .flex-prev {
  left: 0;
}
#banner .flex-direction-nav .flex-next {
  right: 0;
}



/* Media Query */

@media only screen and (max-width: 768px) {
  .top-navigation {
    display: none;
  }

  #header-wrapper .main-navigation {
    background-color: transparent;
    margin-top: 15px;
    /*display: inline;*/
    clear: both;
  }

  #header-wrapper .navbar {
    margin: 0 0px;
  }

  #header-wrapper .navbar-header {
    float: right;
  }

  #header-wrapper .main-navigation .navbar-collapse {
    clear: both;
  }
}

@media only screen and (max-width: 992px) {

  #header-left,
  #header-right {
    width:50%;
  }

  #masthead #logo {
    display: inline-block;
    float: left;
    clear: both;
  }

  #masthead .navbar-collapse.collapse {
    display: none !important;
  }

  #masthead .navbar-collapse.collapse.in {
    display: block !important;
  }

  #masthead .navbar-header {
    display: inline-block;
    float: right;
  }

  #masthead .navbar-toggle {
    display: inline-block;
  }

}

/* Remove admin bar menu link to theme customize */
#wp-admin-bar-appearance #wp-admin-bar-themes {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-customize {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-background {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-header {display:none !important;}

/* ------------------------------------
Gravity Forms
---------------------------------------*/

.gform_wrapper ul { padding-left: 0; list-style: none }

.gform_wrapper li { margin-bottom: 15px }

.gform_wrapper form { margin-bottom: 0 }

.gform_wrapper .gfield_required { padding-left: 1px; color: #b94a48 }

.ginput_container input, .ginput_container select, .ginput_container textarea { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555; vertical-align: middle; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s }
.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
  color:#999
}
.ginput_container input::-moz-placeholder, .ginput_container select::-moz-placeholder, .ginput_container textarea::-moz-placeholder {
  color:#999
}
.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
  color:#999
}
.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
  color:#999
}

.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6) }

.ginput_container input[disabled], .ginput_container select[disabled], .ginput_container textarea[disabled], .ginput_container input[readonly], .ginput_container select[readonly], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea { cursor: not-allowed; background-color: #eee }

textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea { height: auto }

.ginput_container textarea { height: auto }

.gform_button { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.428571429; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-color: #428bca; border: 1px solid transparent; border-color: #357ebd; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none }

.gform_button:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }

.gform_button:hover, .gform_button:focus { color: #333; text-decoration: none }

.gform_button:active, .gform_button.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button { pointer-events: none; cursor: not-allowed; opacity: .65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none }

.gform_button:hover, .gform_button:focus, .gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button { color: #fff; background-color: #3276b1; border-color: #285e8e }

.gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button { background-image: none }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button, .gform_button.disabled:hover, .gform_button[disabled]:hover, fieldset[disabled] .gform_button:hover, .gform_button.disabled:focus, .gform_button[disabled]:focus, fieldset[disabled] .gform_button:focus, .gform_button.disabled:active, .gform_button[disabled]:active, fieldset[disabled] .gform_button:active, .gform_button.disabled.active, .gform_button[disabled].active, fieldset[disabled] .gform_button.active { background-color: #428bca; border-color: #357ebd }

.gform_wrapper .gfield_error .gfield_label { color: #b94a48 }

.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea { color: #b94a48; background-color: #f2dede; border-color: #eed3d7 }

.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus { border-color: #b94a48; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6) }

.validation_error { padding: 15px; margin-bottom: 20px; color: #b94a48; background-color: #f2dede; border: 1px solid transparent; border-color: #eed3d7; border-radius: 4px }

.validation_error h4 { margin-top: 0; color: inherit }

.validation_error .alert-link { font-weight: bold }

.validation_error>p, .validation_error>ul { margin-bottom: 0 }

.validation_error>p+p { margin-top: 5px }

.validation_error hr { border-top-color: #e6c1c7 }

.validation_error .alert-link { color: #953b39 }

#gforms_confirmation_message { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px }

#gforms_confirmation_message h4 { margin-top: 0; color: inherit }

#gforms_confirmation_message .alert-link { font-weight: bold }

#gforms_confirmation_message>p, #gforms_confirmation_message>ul { margin-bottom: 0 }

#gforms_confirmation_message>p+p { margin-top: 5px }