/* ---------------- WABOOT ---------------- */

/* GRID CHANGES */

/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page.container .container,
#page.container .container-fluid,
#page.container-fluid .container,
#page.container-fluid .container-fluid {
  padding: 0 20px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
*/

/* END GRID CHANGES */



/* Typography */

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 10px;
  word-wrap: break-word;
}

p {
  margin-bottom: 15px;
  word-wrap: break-word;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

span {
  word-wrap: break-word;
}

table {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  width: 100%;
}

table th,
table td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* End Typography */


/* Container */

#page.container,
#page.container-fluid {
  padding: 0 0px;
}

#page #header-inner,
#page #content-inner,
#page #contentbottom-inner,
#page #footer-inner {
  padding-left: 20px;
  padding-right: 20px;
}

/* End Container */


/* Sidebar */

.sidebar-left #primary {
  float: right;
}
.sidebar-left #secondary {
  float: left;
  margin-left: 0;
}

/* End Sidebar */



/* Top Navigation */

#topnav-wrapper > .widget {
    float: left;
}

#topnav-wrapper #social-widget {
	padding: 13px 0;
}

/* End Top Navigation */



/* Navbar */

.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar .navbar-toggle {
  margin-right: 0;
}

.navbar .navbar-brand {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar .navbar-brand img {
	height: 20px;
}

.navbar.main-navigation {
	background-color: transparent;
}

.navbar.main-navigation .navbar-main-collapse {
	margin: 0 -10px;
	padding-left: 20px;
	padding-right: 20px;
	clear:both;
}

.navbar.main-navigation .menudescription {
   font-size: 0.9em;
   color: #999;
}

/* End Navbar */



/* Header */

#masthead #logo {
	margin: 20px 0px;
}

#masthead #site-title {
  margin-bottom: 0;
  display: inline;
  font-size: 2.5em;
}

#masthead #logo img {
  max-width: 100%;
}

#header-left .widget,
#header-right .widget {
	margin: 0;
}

#navbar-1 #logo {
  text-align: center;
}

#navbar-1 #header-left,
#navbar-1 #header-right {
  margin-bottom: 20px;
  margin-top: 20px;
}

#navbar-1 #header-right{
  text-align: right;
}

#navbar-2 #header-left,
#navbar-2 #header-right{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
  float: right;
}

#navbar-2 #header-left .widget,
#navbar-2 #header-right .widget {
  float: right;
}

#navbar-3 #logo {
  float: left;
}

#navbar-3 #header-right {
  float: right;
  margin-bottom: 0px;
  margin-top: 32px;
}

#navbar-3 .navbar-main-collapse {
  margin: 20px 0 0 0;
  padding: 0;
  clear: none;
  background-color: transparent;
}

/* End Header */



/* Banner */

#banner-wrapper {
	padding: 0;
}

#banner-wrapper #banner-inner {
  /*display: inline-block;
  width: 100%;*/
}

#banner-wrapper #banner-inner .widget {
	margin: 0;
}

/* End Banner */


/* Content */

#content-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumb-trail {
  margin-bottom: 15px;
  font-size: 0.9em;
}

article {
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 0 20px 0;
  padding: 0;
}

/* End Content */


/* Content Bottom */

#contentbottom-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

#contentbottom-wrapper #contentbottom-inner .widget {
	margin: 0;
}

/* End Content Bottom */


/* Footer */

#footer-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-footer {
	padding: 20px 0;
}

/* End Footer */


/* Social Widget */

#social-widget {
	margin: 0;
}

#navbar-1 #header-right #social-widget,
footer#colophon #social-widget {
  text-align: right;
}

#social-widget a {
	display: inline-block;
	margin: 0px 5px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 12px;
	background-color: #666;
	color: #fff;
}

#social-widget a i {
	line-height: 24px;
	width: 24px;
	height: 24px;
	display: block;
}

/* End Social Widget */


/* Search  */

#searchsubmit,
.search-form input[type=submit] {
  display: none;
}

/* End Search  */


/* Images */

p img {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}
#content .gallery .gallery-icon img {
  border: 1px solid #ddd;
  height: auto;
  padding: 6px;
}
img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0.8075em 0;
  padding-left: 10px;
}

/* End Images */


/* Miscellaneous */

.browsehappy {
  margin-bottom: 0;
  text-align: center;
}
.browsehappy .alert-link {
  text-decoration: underline;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

.alert strong {
  font-size: 1.15em;
}

/* End Miscellaneous */


/* Featured Posts */

.carousel-indicators {
	/*bottom: -10px;*/
}

.carousel-indicators li,
.carousel-indicators .active {
	height: 8px;
	width: 8px;
	margin: 2px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	padding: 0px 15px;
	width: 100%;
}

.carousel-caption h3 {
	margin: 10px 0;
	font-size: 1em;
}

/* End Featured Posts */



/* Blog Article */

.blog article,
.archive article,
.category article{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.entry-footer {
  clear: both;
  text-transform: uppercase;
  font-size: 0.9em;
}

.single .entry-footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.entry-footer .glyphicon {
  margin-right: 5px;
}

.entry-footer .byline,
.entry-footer .cat-links,
.entry-footer .comments-link,
.entry-footer .published-date,
.entry-footer .tags-links {
  margin-right: 10px;
}

#nav-below {
  clear: both;
}

/* End Blog Article */


/* Post formats  */

.format-quote {
  background: url("img/quote.png") no-repeat scroll left top;
  background-size: 20px 20px;
  margin-top: 15px;
  padding: 10px 0 0;
}

.format-quote cite {
  font-style: italic;
}

.format-quote blockquote {
  border-left: 0;
  margin: 0 0 18px 15px;
}

.format-quote blockquote p {
  font-style: italic;
}

/* End Post formats  */


/* Comments */

#comments {
	border-top: 1px solid #eee;
	padding-top: 40px;
}
.thread-even > .comment-body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
}
.comment-body {
	margin-bottom: 20px;
	padding: 15px;
}
#comments cite {
	font-size: 1.1em;
	font-weight: bold;
}
.comment-meta {
	font-size: 0.9em;
}
.comment-list {
  list-style-type: none;
  padding: 0;
}
.comment-author {
	margin-bottom: 7px;
}
.comment-content {
	margin-top: 7px;
}
.comment-author > .avatar {
	margin-right: 1em;
}
#comments ul.children {
	margin-left: 20px;
}
#comments ul.children li {
	border-top: 1px solid #e6e6e6;
	list-style-type: none;
}
.bypostauthor > article {
	background: none repeat scroll 0 0 rgba(70, 165, 70, 0.09);
}
.bypostauthor > article .avatar {
	border-bottom: 4px solid #46a546;
}
.form-allowed-tags code {
	white-space: normal;
}
.input-comment-author,
.input-comment-email,
.input-comment-url {
	width: 35%;
}

/* End Comments */



/* Media Query */

@media only screen and (max-width: @screen-sm-max) {

  #masthead #logo img {
    max-width: 75%;
  }

  #header-wrapper .navbar {
    margin: 0 0px;
  }

  #header-wrapper .navbar-header {
    float: right;
  }

  #header-wrapper .main-navigation .navbar-main-collapse {
    clear: both;
  }

  #header-wrapper .main-navigation .navbar-main-collapse #menu-primary-menu {
    margin: 0;
  }

  #masthead .navbar-main-collapse.collapse {
    display: none !important;
  }

  #masthead .navbar-main-collapse.collapse.in {
    display: block !important;
  }

  #masthead .navbar-header {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
  }

  #masthead .navbar-toggle {
    display: inline-block;
  }

  /* ------ Mobile Menu ------ */

  html {
    background-color: #444;
  }

  #masthead .main-navigation .navbar-mobile-collapse {
    background-color: #444;
    border: 0;
    width: 240px;
    height: auto;
    top: 0;
    right: -240px;
    bottom: 0;
    padding: 10px 0;
    overflow-y: auto;
    position: fixed;
    z-index: 1030;
    /* -webkit-box-shadow:inset 3px 0 3px 0 rgba(0,0,0,0.5);
    box-shadow:inset 3px 0 6px 0 rgba(0,0,0,0.5); */
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav {
    margin: 0;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav a {
    border-bottom: 1px solid #555;
    color: #ccc;
    font-size: 1.2em;
    text-align: left;
    background-color: #444;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav a:hover {
    background-color: #333;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav a:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #848484;
    margin-right: 10px;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav .current-menu-item a {
    background-color: #333;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav > .open > a,
  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav > .open > a:hover,
  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav > .open > a:focus {
    background-color: #333;
    color: #ccc;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav .open .dropdown-menu > li > a {
    background-color: #333;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .dropdown-menu {
    padding: 0px;
    position: relative;
    width: 100%;
  }

  .caret {
    float: right;
    margin-top: 8px;
  }

  #masthead .main-navigation .navbar-mobile-collapse .navbar-nav {
    margin-bottom: 25px;
  }

  #masthead .main-navigation .navbar-mobile-collapse .logo-menu {
    width: 200px;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  /* ------ End Mobile Menu ------ */
	
}

@media only screen and (min-width: @screen-sm) {

  .pull-right-sm {
    float: right;
  }

  /* Disable click on submenu */
  /* ul.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
  }*/

  .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }

  .navbar-right .dropdown-submenu > .dropdown-menu {
    right: 100%;
    left: auto;
  }

  .navbar-right .dropdown-menu > li > a {
    text-align: right;
  }

  #navbar-1 #header-right {
    float: right;
  }

}

@media only screen and (min-width: @screen-md) {

  .pull-right-md {
    float: right;
  }

}

@media only screen and (max-width: @screen-md) {

  #topnav-wrapper {
    display: none;
  }

  .navbar-toggle {
    margin-bottom: 0;
    margin-top: 0;
  }

  #navbar-1 #header-left,
  #navbar-1 #header-right {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #navbar-2 #header-left,
  #navbar-2 #header-right {
    width: auto;
  }

  #navbar-3 #logo {
    float: left;
  }

}


/* Remove admin bar menu link to theme customize */
#wp-admin-bar-appearance #wp-admin-bar-themes {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-customize {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-background {display:none !important;}
#wp-admin-bar-appearance #wp-admin-bar-header {display:none !important;}




#less-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  .opacity;
}

#less-overlay-content{
  .alert;
  .alert-info;
  width: 600px;
  text-align: center;
  .opacity(1);
  z-index: 1050;
  position: absolute;
}
