/* ------------------------------------
Gravity Forms
---------------------------------------*/

.gform_wrapper {
  max-width: 100% !important;
  margin: 0px 0px !important;
}

.gform_wrapper form ul.gform_fields {
  margin: 0 -10px !important;
}

.gform_wrapper form ul.gform_fields li {
  margin-bottom: 10px;
  padding: 0 10px;
}

.gform_wrapper form ul.gform_fields li input,
.gform_wrapper form ul.gform_fields li select {
  margin: 0 0 10px;
  padding: 0 10px;
}

.gform_wrapper form ul.gform_fields li textarea {
  margin: 0 0 10px;
  padding: 10px;
}

.gform_wrapper form ul.gform_fields li input.medium,
.gform_wrapper form ul.gform_fields li select.medium {
  width: 50%;
}

.gform_wrapper li.gfield .ginput_container ul.gfield_checkbox li input[type="checkbox"] {
  height: auto !important;
  margin-top: 3px;
}

.gform_wrapper li.gfield .ginput_container ul.gfield_radio li input[type="radio"] {
  height: auto !important;
  margin-top: 2px;
}

.gform_wrapper form .ginput_container ul.gfield_checkbox li,
.gform_wrapper form .ginput_container ul.gfield_radio li {
  margin-bottom: 10px;
}

.gform_wrapper form .ginput_container ul.gfield_checkbox li input,
.gform_wrapper form .ginput_container ul.gfield_radio li input {
  height: auto;
}

.gform_wrapper form .ginput_container ul.gfield_radio li input[type="radio"] {
  width: 16px !important;
}

.gform_wrapper form .ginput_container ul.gfield_checkbox li label,
.gform_wrapper form .ginput_container ul.gfield_radio li label {
  line-height: 1.42857;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 0 0 20px;
}

.gform_wrapper form ul.gform_fields li textarea.small {
  font-size: 0.9em;
}

.gform_wrapper form ul.gform_fields li input:-moz-placeholder,
.gform_wrapper form ul.gform_fields li select:-moz-placeholder,
.gform_wrapper form ul.gform_fields li textarea:-moz-placeholder {
  color:#999;
}
.gform_wrapper form ul.gform_fields li input::-moz-placeholder,
.gform_wrapper form ul.gform_fields li select::-moz-placeholder,
.gform_wrapper form ul.gform_fields li textarea::-moz-placeholder {
  color:#999;
}
.gform_wrapper form ul.gform_fields li input:-ms-input-placeholder,
.gform_wrapper form ul.gform_fields li select:-ms-input-placeholder,
.gform_wrapper form ul.gform_fields li textarea:-ms-input-placeholder {
  color:#999;
}
.gform_wrapper form ul.gform_fields li input::-webkit-input-placeholder,
.gform_wrapper form ul.gform_fields li select::-webkit-input-placeholder,
.gform_wrapper form ul.gform_fields li textarea::-webkit-input-placeholder {
  color:#999;
}

/* Start Field Half */

.gform_wrapper form ul.gform_fields li.gfield.gf_left_half,
.gform_wrapper form ul.gform_fields li.gfield.gf_right_half {
  margin-bottom: 10px;
  width: 50%;
}

.gform_wrapper form ul.gform_fields li.gfield.gf_left_half {
  margin-right: 0;
}

.gform_wrapper form ul.gform_fields input,
.gform_wrapper form ul.gform_fields select,
.gform_wrapper form ul.gform_fields input.large,
.gform_wrapper form ul.gform_fields select.large,
.gform_wrapper form ul.gform_fields textarea.textarea,
.gform_wrapper form ul.gform_fields li.gfield.gf_left_half input.medium,
.gform_wrapper form ul.gform_fields li.gfield.gf_left_half input.large,
.gform_wrapper form ul.gform_fields li.gfield.gf_left_half select.medium,
.gform_wrapper form ul.gform_fields li.gfield.gf_left_half select.large,
.gform_wrapper form ul.gform_fields li.gfield.gf_right_half input.medium,
.gform_wrapper form ul.gform_fields li.gfield.gf_right_half input.large,
.gform_wrapper form ul.gform_fields li.gfield.gf_right_half select.medium,
.gform_wrapper form ul.gform_fields li.gfield.gf_right_half select.large {
  width: 100%;
}

.gform_wrapper form li.gfield_html {
  max-width: 100%;
}

/* End Field Half */

/* Start Error Field */

.gform_wrapper form ul.gform_fields li.gfield.gfield_error {
  width: 100%;
  margin: 0 0 10px 0 !important;
  padding: 0 10px !important;
  background-color: transparent !important;
  border: 0 !important;
}

.gform_wrapper form ul.gform_fields li.gfield.gfield_error .ginput_container {
  max-width: 100%;
}

.gform_wrapper form li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 10px;
}

.gform_wrapper form li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin-top: 0px;
}

.gform_wrapper form ul.gform_fields .gfield_description.validation_message {
  padding: 0 !important;
}

.gform_wrapper li.gfield_error input[type="text"],
.gform_wrapper li.gfield_error input[type="url"],
.gform_wrapper li.gfield_error input[type="email"],
.gform_wrapper li.gfield_error input[type="tel"],
.gform_wrapper li.gfield_error input[type="number"],
.gform_wrapper li.gfield_error input[type="password"],
.gform_wrapper li.gfield_error textarea {
  border-color: #ebccd1 !important;
}

.gform_wrapper form ul.gform_fields li.gfield.gfield_error.gf_left_half,
.gform_wrapper form ul.gform_fields li.gfield.gfield_error.gf_right_half {
  width: 50%;
}

.gform_wrapper form ul.gform_fields li.gfield.gfield_error.gf_right_half {
  margin-right: 0;
}

.gform_wrapper form ul.gform_fields li.gfield.gfield_error .gfield_label {
  color: #b94a48;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* End Error Field */

/* Start Font Size */

.gform_wrapper form input[type=text],
.gform_wrapper form input[type=url],
.gform_wrapper form input[type=email],
.gform_wrapper form input[type=tel],
.gform_wrapper form input[type=number],
.gform_wrapper form input[type=password],
.gform_wrapper form textarea {
  font-size: 1em;
}

.gform_wrapper form ul.gform_fields .gfield_label {
  font-size: 1em;
}

/* End Font Size */

/*
textarea.ginput_container input,
textarea.ginput_container select,
textarea.ginput_container textarea {
  height: auto;
}

.ginput_container textarea {
  height: auto;
}

.gform_wrapper form ul.gform_fields li .gfield_required {
  padding-left: 1px;
  color: #b94a48;
}
*/

/* Start Button */

/*
.gform_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #428bca;
  border: 1px solid transparent;
  border-color: #357ebd;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gform_button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.gform_button:hover,
.gform_button:focus {
  color: #333;
  text-decoration: none;
}

.gform_button:active,
.gform_button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.gform_button.disabled,
.gform_button[disabled],
fieldset[disabled]
.gform_button {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gform_button:hover,
.gform_button:focus,
.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button {
  background-image: none;
}

.gform_button.disabled,
.gform_button[disabled],
fieldset[disabled]
.gform_button,
.gform_button.disabled:hover,
.gform_button[disabled]:hover,
fieldset[disabled] .gform_button:hover,
.gform_button.disabled:focus,
.gform_button[disabled]:focus,
fieldset[disabled] .gform_button:focus,
.gform_button.disabled:active,
.gform_button[disabled]:active,
fieldset[disabled] .gform_button:active,
.gform_button.disabled.active,
.gform_button[disabled].active,
fieldset[disabled] .gform_button.active {
  background-color: #428bca;
  border-color: #357ebd;
}
*/

/* End Button */

/* Start Validation */

/*
.validation_error {
  padding: 15px;
  margin-bottom: 20px;
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid transparent;
  border-color: #eed3d7;
  border-radius: 4px;
}

.validation_error h4 {
  margin-top: 0;
  color: inherit;
}

.validation_error .alert-link {
  font-weight: bold;
}

.validation_error > p,
.validation_error > ul {
  margin-bottom: 0;
}

.validation_error>p+p {
  margin-top: 5px;
}

.validation_error hr {
  border-top-color: #e6c1c7;
}

.validation_error .alert-link {
  color: #953b39;
}
*/

/*
#gforms_confirmation_message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#gforms_confirmation_message h4 {
  margin-top: 0;
  color: inherit;
}

#gforms_confirmation_message .alert-link {
  font-weight: bold;
}

#gforms_confirmation_message > p,
#gforms_confirmation_message > ul {
  margin-bottom: 0;
}

#gforms_confirmation_message > p+p {
  margin-top: 5px;
}
*/

/* End Validation */


/* ------------------------------------
End of Gravity Forms
---------------------------------------*/