node_modules/
bower_components/
builds/
npm-debug.log

############
## VENDORS (composer)
############
vendor/autoload.php
vendor/mgargano
vendor/composer
vendor/yahnis-elsts
vendor/mobiledetect
composer.lock

############
## VENDORS (other)
############

vendor/codemirror/demo
vendor/codemirror/doc
vendor/codemirror/test
vendor/codemirror/*.*
!vendor/codemirror/package.json

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit