.variations {
  label {
    margin: 0;
  }
}

.filter-sizes {
  display: grid;
  grid-gap: $gridGutter;
  grid-template-columns: repeat(auto-fit, minmax(48px, 48px));
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    align-items: center;
    background-color: $colorWhite;
    border: 1px solid $colorGrey;
    border-radius: 4px;
    color: $colorPrimary;
    cursor: pointer;
    display: flex;
    font-weight: $fontWeightSemibold;
    height: 48px;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    &:hover {
      color: $colorText;
    }

    &.active {
      background-color: $colorPrimary;
      color: $colorWhite;
    }

    &[data-stock='out-of-stock'] {
      opacity: .3;
      pointer-events: none;
    }
  }
}

#pa_size {
  display : none;
}
