.single-product {

  div.product {
    position: relative;

    span.onsale {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      padding: 20px;
    }

    .product__main {
      @include up($medium){
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        .woocommerce-product-gallery {
          flex: 0 0 50%;
          max-width: 50%;
        }
        .product__summary {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 110px 0 40px;
        }
      }
    }

    &.outofstock {
      .woocommerce-variation-add-to-cart {
        &:before {
          content: 'Sold Out';
        }
        button {
          display: none;
        }
      }
    }

  }

  .woocommerce-single-product__cat {
    opacity: .5;
    text-transform: uppercase;
    font-size: 1em;
  }

  p.price {
    font-weight: $fontWeightBold;
    font-size: 1.2em;
  }

  form.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .quantity {
      display: none !important;
      label {
        display: none;
      }
      input {
        height: 100%;
      }
    }

    table.variations {
      margin-bottom: $gridGutter;
      tr {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .woocommerce-variation-add-to-cart {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

  }

  .product-shipping-conditions {
    background-color: $colorGreyLight;
    padding: $gridGutter;
    margin-top: $gridGutter;
    p{
      margin-bottom: $gridGutter/2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .woocommerce-tabs {
    width: 100%;
    border-top: 1px solid $colorGreyLight;
    margin-top: $gridGutter*2;
    margin-bottom: $gridGutter*2;
    padding-top: $gridGutter*2;
    @include up($medium){
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: $gridGutter;
    }
    h2 {
      text-transform: uppercase;
      font-size: 1em;
    }
    .wc-tabs {
      padding: 0;
      list-style-type: none;
      margin: 0;
      li {
        border-bottom: 1px solid $colorGreyLight;
        a {
          display: block;
          width: 250px;
          padding: 5px 0;
          text-transform: uppercase;
        }
        &.active {
          a {
            font-weight: $fontWeightBold;
          }
        }
      }
    }
  }

  .up-sells {
    padding: $gridGutter;
    width: 100%;
    @include up($small) {
      padding: 0;
      display: flex;
      //flex-direction: row-reverse;
      align-items: center;
      > div {
        flex: 0 0 50%;
      }
      &__txt {
        padding: 60px;
        text-align: center;
      }
    }
    ul.products .product {
      flex-basis: 50%;
    }
  }

  .related {
    margin-top: $gridGutter;
  }

}
