.single-product {
  div.product {
    position: relative;

    span.onsale {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      padding: 20px;
    }

    .woocommerce-product-gallery {
      margin-bottom: 80px;
    }

    .product__main {
      @include up($medium){
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;

        .woocommerce-product-gallery {
          flex: 0 0 50%;
          max-width: 50%;
        }

        .product__summary {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 110px 0 40px;
        }
      }
    }

    .product__meta {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .product__sku {
      font-size: .875em;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &.outofstock {
      .woocommerce-variation-add-to-cart {
        &:before {
          content: 'Sold Out';
        }

        button {
          display: none;
        }
      }
    }
  }

  .woocommerce-single-product__cat {
    font-size: .875em;
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
      color: inherit;
      font-weight: $fontWeightSemibold;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

  p.price {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    gap: $gridGutter / 2;
    margin-bottom: 0;

    .sale-percentage {
      background-color: $colorSuccess;
      color: $colorWhite;
      font-size: .75em;
      line-height: 1;
      padding: 4px;
    }
  }

  .single_variation_wrap {
    flex: 1;
  }

  form.cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .input-text {
      width: 80px;
    }

    .stock {
      &.in-stock {
        color: $colorSuccess;
      }
      &.out-of-stock {
        color: $colorError;
      }
    }

    .quantity {
      display: grid;
      grid-template-columns: repeat(3, auto);
      margin-bottom: 24px;
      width: fit-content;

      &__label {
        font-size: 1.25em;
        font-weight: $fontWeightSemibold;
        grid-column: span 2;
        grid-row: 1;
        margin-bottom: 24px;
      }

      input,
      .increment__button {
        grid-row: 2;
      }

      input {
        appearance: textfield;
        color: $colorPrimary;
        font-weight: $fontWeightSemibold;
        height: 48px;
        max-width: 48px;
        order: 2;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
          margin: 0;
        }
      }

      .increment__button {
        align-items: center;
        cursor: pointer;
        color: $colorPrimary;
        display: flex;
        font-weight: $fontWeightSemibold;
        justify-content: center;
        line-height: 48px;
        text-decoration: none;
        width: 48px;

        &--inc {
          order: 3;
        }
      }
    }

    table.variations {
      th {
        font-size: 1.25em;
        margin-bottom: 8px;
        text-align: left;
      }

      tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .woocommerce-variation-add-to-cart {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      button {
        width: 100%;
      }
    }
  }

  .product-shipping-conditions {
    border-radius: 4px;
    background-color: $colorGreyLight;
    margin-top: 24px;
    font-size: .875em;
    padding: 24px ;
    text-transform: uppercase;

    p {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .woocommerce-tabs {
    margin-block: 24px;
    width: 100%;

    @include up($medium) {
      display: grid;
      grid-gap: $gridGutter;
      grid-template-columns: auto 1fr;
    }

    h2 {
      text-transform: uppercase;
      font-size: 1em;
    }

    .wc-tabs {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 48px;

        &.active a {
          color: $colorPrimary;
        }

        a {
          color: inherit;
          display: block;
          font-weight: $fontWeightSemibold;
          width: 250px;

          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }

  .up-sells {
    width: 100%;

    @include up($small) {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > div {
        flex: 0 0 50%;
      }

      &__txt {
        padding: 60px;
        text-align: center;
      }
    }

    h2 {
      width: 100%;
    }

    ul.products .product {
      flex-basis: 50%;
    }
  }

  .related {
    margin-top: $gridGutter;
    text-align: center;
  }
}
