.product__main {
  .woocommerce-product-gallery {
    @include down($small) {
      border-bottom: 1px solid $colorGrey;
      margin-inline: calc(50% - 50vw);
      max-width: 1000%;
      overflow: hidden;
      position: relative;
      width: auto;
    }
  }
}

.product-images {
  display: grid;
  grid-gap: $gridGutter / 2;
  grid-template-columns: repeat(2, 1fr);
  @include up($large) {
    grid-gap: $gridGutter;
  }
  @include down($small) {
    display: flex;
    gap: $gridGutter / 2;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0;
    scroll-snap-type: x mandatory;
  }

  &__item {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    @include down($small) {
      flex: 0 0 auto;
      scroll-snap-align: start;
    }
    img {
      background-color: $colorGreyLight;
      width: 100%;
      @include down($small) {
        aspect-ratio: 1;
        width: 100vw;
      }
    }
    iframe {
      aspect-ratio: 1;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}