/*!
 * Waboot Admin v2.0.0
 */

$pagebuilder_img_dir: "../../images/pagebuilder";
$theme_options_img_dir: "../../images/options";
$waboot_color: #76B5CB;

@mixin min-medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@import "admin/global";
@import "admin/wizard";

//Extensions and plugins compatibilities
@import "admin/extensions/wbf/waboot-admin";
@import "admin/extensions/wbf/components";
@import "admin/components";
@import "admin/extensions/wbf/theme-options";
@import "admin/extensions/wb-contact-form";