#cookieChoiceInfo {
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 30px 4px;
    z-index: 1000;
    text-align: center;
    color: #666;
    font-size: 0.9em;
    border-top: 1px solid #eee;
}

.cookiebanner {
    margin-bottom: 100px;
}

.cookiebanner-slideInUp {
    -webkit-animation-name: cookiebanner-slideInUp;
    animation-name: cookiebanner-slideInUp;
}

@-webkit-keyframes cookiebanner-slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes cookiebanner-slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}