.ui-datepicker {
    &:not(.gform-legacy-datepicker) {
        background-color: $colorWhite;
        border: 1px solid $colorGrey;
        border-radius: $radius;
        box-shadow: 0 1px 3px rgba($colorBlack, 0.1);
        display: none;
        padding: 20px 15px;
        &[style] {
            z-index: 9999 !important;
        }
        .ui-datepicker-header {
            align-items: center;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            width: 100%;
        }
        .ui-datepicker-prev,
        .ui-datepicker-next {
            align-items: center;
            background-color: $colorGrey;
            border: 0;
            border-radius: $radiusCircle;
            color: $colorText;
            cursor: pointer;
            display: flex;
            height: 30px;
            justify-content: center;
            width: 30px;
            &::before {
                content: "";
                font-family: "Font Awesome 5 Pro";
                line-height: 1;
            }
            .ui-icon {
                display: none;
            }
        }
        .ui-datepicker-prev {
            &::before {
                content: '\f053';
            }
        }
        .ui-datepicker-next {
            order: 1;
            &::before {
                content: '\f054';
            }
        }
        select {
            background-color: $colorGrey;
            border: none;
            border-radius: calc($radius / 2);
            color: $colorText;
            cursor: pointer;
            font-family: inherit;
            font-size: .85em;
            font-weight: $fontWeightBold;
            outline: none;
            padding: 5px 20px 5px 5px;
        }
        .ui-datepicker-title {
            display: flex;
            gap: 5px;
        }
        table {
			border-spacing: 0;
			margin: 0;
		}
        thead {
			font-size: 0.85em;
		}
        td {
			padding: 0;
			width: 35.2px;
		}
        a.ui-state-default {
            border-radius: 50%;
            color: #222;
            display: block;
            line-height: 35.2px;
            text-align: center;
            text-decoration: none;
            width: 100%;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        a.ui-state-active, 
        a.ui-state-active:hover {
            background-color: #3498db;
            color: $colorWhite;
        }
    }
}

.ui-datepicker:not(.gform-legacy-datepicker) .ui-datepicker table {
    border-spacing: 0;
    margin: 0;
}

.ui-datepicker:not(.gform-legacy-datepicker) .ui-datepicker thead {
    font-size: 0.85em;
}

.ui-datepicker:not(.gform-legacy-datepicker) .ui-datepicker td {
    padding: 0;
    width: 35.2px;
}

.ui-datepicker:not(.gform-legacy-datepicker) a.ui-state-default {
    border-radius: 50%;
    color: #222;
    display: block;
    line-height: 35.2px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.ui-datepicker:not(.gform-legacy-datepicker) a.ui-state-default:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.ui-datepicker:not(.gform-legacy-datepicker) a.ui-state-active,
.ui-datepicker:not(.gform-legacy-datepicker) a.ui-state-active:hover {
    background-color: #3498db;
    color: $colorWhite;
}