.gform_wrapper .gfield {
    textarea {
        width: 100%;
        &.small {
            height: 96px;
        }
        &.medium {
            height: 192px;
        }
        &.large {
            height: 288px;
        }
    }
   input, select {
        max-width: 100%;
        &.small {
            width: calc(25% - 16px * 3 / 4);
        }
        &.medium {
            width: calc(50% - 16px / 2); /* default margin between complex fields is 1rem */
        }
        &.large {
            width: 100%;
        }
    }
}

.gform_wrapper {
    .ginput_container_select {
        position: relative;
		&::after {
			content: "";
			width: 8px;
			height: 5px;
			background-color: $colorText;
			clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
		}
    }
}

.gform_wrapper {
    .gfield_checkbox button {
        margin-top: 10px;
    }
}