.screen-reader-text, 
.hidden_label .gfield_label, 
.hidden_sub_label {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
button.screen-reader-text:focus {
	border: 0;
	clip: auto;
	height: auto;
	margin: 0;
	position: static !important;
	width: auto;
}