.gf_hide_ampm .gfield_time_ampm {
    display: none !important;
}
.gfield_visibility_hidden, 
.gf_invisible {
    left: -9999px;
    position: absolute;
    visibility: hidden;
}
.gf_hide_charleft div.charleft {
    display: none !important;
}
.gf_hidden, 
.gform_hidden {
    display: none;
}
