.main__aside {
	background-color: $colorGreyLight;
	border-radius: $radius;
	padding: 20px 10px;
	position: relative;

	@include up($medium) {
		padding: 40px 20px;

		.aside__wrapper {
			position: sticky;
			top: 100px;
		}
	}

	.widget {
		margin-bottom: 20px;

		@include up($medium) {
			margin-bottom: 40px;
		}

		p:last-child,
		ul:last-child {
			margin-bottom: 0;
		}

		&_categories {
			ul {
				list-style: none;
				padding: 0;

				&::before {
					content: "Categorie";
					color: $colorTextDark;
					font-weight: $fontWeightBold;
					margin-bottom: 5px;
				}
			}

			li {
				align-items: center;
				display: flex;
				gap: 5px;

				&::before {
					/* webpackIgnore: true */
					background: url(@/images/default/icons/chevron-right.svg)
						no-repeat center;
					background-size: cover;
					content: "";
					display: flex;
					height: 14px;
					width: 14px;
				}
			}

			a {
				color: $colorText;

				&:hover {
					color: $colorPrimary;
				}
			}
		}

		&_recent_entries {
			ul {
				display: grid;
				gap: 10px;
				list-style: none;
				padding: 0;

				&::before {
					content: "Ultimi articoli";
					color: $colorTextDark;
					font-weight: $fontWeightBold;
				}
			}

			li {
				&::after {
					content: "";
					clear: both;
					display: table;
				}
				img {
					margin-right: 10px;
					height: 70px;
				}
			}

			a {
				color: $colorTextDark;
				font-weight: $fontWeightSemibold;
			}

			div {
				color: $colorText;
			}
		}

		&_tag_cloud {
			p {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;

				&::before {
					content: "Tag";
					color: $colorTextDark;
					display: block;
					font-weight: $fontWeightBold;
					margin-bottom: 5px;
					margin-right: auto;
					flex: 0 0 100%;
				}
			}

			a {
				align-items: center;
				background-color: $colorWhite;
				border: 1px solid $colorGrey;
				border-radius: $radius;
				color: $colorTextDark;
				display: flex;
				font-weight: $fontWeightSemibold;
				line-height: 1;
				padding: 5px;

				&:hover {
					border-color: $colorText;
				}
			}
		}
	}
}

.wp-block-latest-posts__featured-image.alignleft {
	margin: 0;
}
