.single {
  .main {
    &__title {
      margin: 0 auto 2rem;
      max-width: 90rem;
      width: 89vw;
    }
  }
  .article {
    &__image {
      margin-bottom: 4rem;

      img {
        aspect-ratio: 2 / 1;
        border-radius: 1rem;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &__footer {
      border: 1px solid $colorGreyLight;
      border-left: 0;
      border-right: 0;
      display: flex;
      font-size: 1.3rem;
      justify-content: space-between;
      line-height: 1;
      margin-block: 4rem;
      padding: 1.5rem 0;

      .glyphicon {
        margin-right: 5px;
      }

      > span {
        margin-right: 10px;
      }

      .published-date,
      .byline,
      .comments-link {
        align-items: center;
        display: flex;
        gap: 0.5rem;
      }
    }

    &__categories {
      align-items: center;
      display: flex;
      gap: 0.5rem;
    }
  }
}

.article__list {
  article {
    margin-bottom: $gridGutter;
  }
  @include up($medium) {
    .article {
      &__inner {
        display: flex;
        flex-wrap: nowrap;
      }
      &__image {
        flex: 0 0 auto;
        margin-right: 20px;
      }
      &__content {
        flex: 1 1 auto;
      }
    }
  }
}

.wp-block-table {
  &.is-style-stripes {
    border: none;
    margin-bottom: 3vw;

    tbody tr:nth-child(odd) {
      background-color: $colorGreyLight;
    }
  }

  figcaption {
    margin-top: 1rem;
  }
}
