.wb-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.breadcrumb-trail {
  padding: 10px 0;
  font-size: 0.9em;
  margin-bottom: 15px;
}


table.wb-table-responsive {
  @include table-responsive();
}

/* End Table Responsive */



/* Miscellaneous */

.img-responsive {
  max-width: 100%;
}

.browsehappy {
  margin-bottom: 0;
  text-align: center;
  .alert-link {
    text-decoration: underline;
  }
}

/* End Miscellaneous */

