.breadcrumb-trail {
  padding: 10px 0;
  font-size: 0.9em;
  margin-bottom: 15px;
}

/* Table Responsive */

@include up($xsmall) {

  table.wb-table-responsive {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 0;

    thead,
    tbody,
    tr,
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
      border: 0;
    }

    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    > thead > tr,
    > tbody > tr,
    > tfoot > tr {
      border-bottom: 1px solid #ddd;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    /*tr { border: 1px solid #ccc; }*/

    td {
      /* Behave  like a "row" */
      border: none;
      /*border-bottom: 1px solid #eee;*/
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
    Label the data
    */
    td:before { content: attr(data-title); }

  }

}

/* End Table Responsive */



/* Miscellaneous */

.img-responsive {
  max-width: 100%;
}

.browsehappy {
  margin-bottom: 0;
  text-align: center;
  .alert-link {
    text-decoration: underline;
  }
}

/* End Miscellaneous */

