.footer {
  &__inner {
    background-color: $colorGreyLight;
  }
  &__closure {
    @extend .wbcontainer;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: $gridGutter;
    padding-block: 24px;
    text-align: center;
    @include up($large) {
      justify-content: space-between;
      text-align: left;
    }
    ul {
      align-items: center;
      display: flex;
      gap: $gridGutter / 2;
      justify-content: center;
    }
  }
  &__row {
    @extend .wbcontainer;
    display: flex;
    flex-wrap: wrap;
    gap: $gridGutter;
    padding-block: 24px;
    @include up($large) {
      justify-content: space-between;
      padding-block: 48px;
    }
  }
  &__col {
    @include up($large) {
      &:not(:last-child) {
        flex: 1;
      }
      &:last-child {
        flex: 0 0 40%;
      }
    }
  }
  &__copy {
    font-size: .875em;
  }
  &__social {
    @extend .wbcontainer;
    align-items: center;
    border-top: 1px solid $colorWhite;
    display: flex;
    flex-wrap: wrap;
    gap: $gridGutter;
    padding-block: 24px;
    @include up($large) {
      justify-content: space-between;
      padding-block: 32px;
    }
    h5 {
      margin-bottom: 0;
    }
    ul {
      display: flex;
      gap: $gridGutter;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}