.footer {
  color: $colorWhite;

  * {
    color: inherit;
  }

  h3 {
    margin-bottom: $gutter * 2;

    @include up($medium) {
      margin-bottom: $gutter * 3;
    }
  }

  a {
    font-weight: $fontWeightMedium;

    &:hover {
      color: $colorPrimary;
    }
  }

  form {
    > * {
      background: none;
      border: none;
    }

    .wp-block-search__input {
      border-color: transparent;
      border-radius: $radius 0 0 $radius;
      color: $colorText;
    }

    .wp-block-search__button {
      background-color: $colorPrimary;
      border: 2px solid $colorPrimary;
      border-radius: 0 $radius $radius 0;
      color: $colorWhite;
      font-weight: $fontWeightSemibold;
      letter-spacing: 1px;
      margin: 0;
      padding: $gutter $gutter * 1.4;
      text-transform: uppercase;
      transition: $duration;

      &:hover {
        background: darken($colorPrimary, 8%);
        border-color: darken($colorPrimary, 8%);
      }
    }
  }

  .widgetarea__footer {
    background-color: $colorGreyDark;
    padding: $gutter * 3 0;

    @include up($medium) {
      padding: $gutter * 4 0;
    }

    &-inner {
      display: flex;
      gap: $gutter * 2;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      max-width: $containerWidth;
      width: 90vw;

      @include up($medium) {
        gap: $gutter * 3;
      }
    }

    ul {
      list-style: none;
      display: grid;
      gap: $gutter;
      margin: 0;
      padding: 0;
    }

    a {
      font-weight: $fontWeightMedium;
    }
  }

  &__closure {
    align-items: center;
    background-color: $colorGreyDarken;
    padding: $gutter * 1.5 0;

    @include up($medium) {
      padding: $gutter * 2.5 0;
    }

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-inline: auto;
      max-width: $containerWidth;
      width: 90vw;

      @include up($medium) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    ul {
      display: flex;
      gap: $gutter * 2;
      list-style: none;
      margin: 0;

      @include up($medium) {
        gap: $gutter * 6;
      }
    }
  }
}
