body {
  color: $colorText;
  padding-top: 127px;
  @include up($medium) {
    padding-top: 110px;
  }
  @include up($large) {
    padding-top: 138px;
  }
}

.wp-block-group {
  &.has-global-padding {
    padding-inline: 0;
  }
}

.wp-block-cover {
  &--hero {
    padding: 0;
    .wp-block-cover__inner-container {
      @extend .wbcontainer;
      padding-inline: $gridGutter;
    }
  }
}