body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

@mixin wbcontainer() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100vw;
  @include up($xlarge){
    max-width: $containerWidth;
  }
}

.wbcontainer {
  @include wbcontainer();
}

.main {
  width: 100%;
  max-width: 100vw;
  &__grid {
    padding: 0 $gridGutter;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100vw;
    @include up($xlarge){
      max-width: $containerWidth;
    }
  }
  body.with-sidebar & {
    @include up($medium) {
      &__grid {
        display: grid;
        grid-column-gap: $gridGutter;
        grid-template-columns: auto calc(100% / 4);
        grid-template-rows: auto;
      }
      &__title {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      &__content {
        grid-column: 1;
        grid-row: 2;
      }
      &__aside {
        grid-column: 2;
        grid-row: 2 / last-line;
      }
    }
  }
}
