body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@mixin wbcontainer() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @include up($medium) {
    width: $container-sm;
  }
  @include up($large) {
    width: $container-md;
  }
  @include up($xlarge) {
    width: $container-lg;
  }
}

.wbcontainer {
  @include wbcontainer();
}

.main {
  &__grid{
    padding: 0 $grid-gutter;
    @include up($medium) {
      body.with-sidebar & {
        display: grid;
        grid-template-columns: auto $grid-gutter calc(100% / 3);
        grid-template-rows: auto;
      }
    }
  }
  @include up($medium){
    &__title {
      grid-column: 1;
    }
    &__content {
      grid-column: 1;
    }
    &__aside {
      grid-column: 3;
      grid-row: 1 / last-line;
    }
  }
}
