/*=============================================
=            Gutenberg Align            =
=============================================*/

@include up($medium) {   

    .alignfull {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      width: auto;
      max-width: 1000%;
    }
  
    .alignwide {
      margin-left: calc(25% - 25vw);
      margin-right: calc(25% - 25vw);
      width: auto;
      max-width: 1000%;
    }
  
    .alignwide img,
    .alignfull img {
      display: block;
      margin: 0 auto;
    }
}

/*=====  End of Gutenberg Align  ======*/



// Allow 1 col block

.wp-block-columns {
  &.has-1-columns {
      .wp-block-column {
          flex-basis: 100%;
      }
  }
}

