.header {
  border-bottom: 1px solid $colorGreyLight;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;

  body.admin-bar & {
    top: 46px;
    @include up($medium) {
      top: 32px;
    }
  }

  .header--fixed & {
    background-color: #fff;
    position: fixed;
    top: -200px;
  }

  .header--animated & {
    transition: all 1s ease;
  }

  .header--scrolled & {
    top: 0;
    z-index: 99;
    box-shadow: 0 0 $gridGutter #eee;
  }

  &__inner {
    height: $headerHeight;
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 $gridGutter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include down($large) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    img {
      height: 30px;
      @include up($large) {
        height: 40px;
      }
    }
  }

  &__toggle {
    float: none;
    padding: 0;
    margin: 0 0 0 40px;
    border: 0;
    background-color: transparent;
    width: 24px;
    //height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: flex-end;

    &.opened {
      .icon-bar {
        &:nth-child(1) {
          transform: rotate(45deg) translate(2.5px,-2.5px);
          transform-origin: left top;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(0, 5.5px);
          transform-origin: left bottom;
          width: 24px;
        }
      }
    }

    .icon-bar {
      display: block;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      background-color: $colorText;
      transition: .3s;
      &:last-child {
        width: 20px;
      }

      + .icon-bar {
        margin-top: 4px;
      }
    }
  }

  &__navigation {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    flex-grow: 1;

    @include down($large) {
      display: none;
    }

    > ul {
      display: flex;
      gap: $gridGutter * 2;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
