.header {
  background-color: $colorGreyLight;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 1s ease;
  width: 100%;
  z-index: 20;

  body.admin-bar & {
    top: 46px;

    @include up($large) {
      top: 32px;
    }
  }

  .scroll-down & {
    background-color: $colorWhite;
    transform: translate3d(0, -100%, 0);
  }

  .scroll-up & {
    background-color: $colorWhite;
    box-shadow: 0 1px 3px rgba(0,0,0, .1);
    transform: none;
  }

  &__inner {
    @extend .wbcontainer;
    align-items: center;
    display: flex;
    gap: $gridGutter;
    justify-content: space-between;
    padding: 24px;
    @include up($large) {
      padding: 24px 16px;
    }

    @include down($large){
      flex-wrap: wrap;
    }
  }

  &__logo {
    font-size: 1.5em;
    font-weight: $fontWeightBold;
    text-transform: uppercase;

    @include down($large) {
      flex-grow: 1;
      max-width: 85%;
    }

    @include up($large) {
      font-size: 2.5em;
    }

    a {
      color: inherit;
    }

    img {
      max-height: 20px;
      max-width: 100%;

      @include up($large) {
        max-height: none;
        max-width: 180px;
      }
    }
  }

  &__toggle {
    align-items: flex-end;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    float: none;
    height: 48px;
    justify-content: center;
    margin: 0;
    order: 10;
    padding: 0;
    width: 48px;

    .icon-bar {
      display: block;
      height: 2px;
      width: 24px;
      background-color: #1C1C1C;

      + .icon-bar {
        margin-top: 6px;
      }
    }

    @include up($large) {
      display: none;
    }
  }

  &__icons {
    display: grid;
    margin-left: $gridGutter;
    grid-auto-flow: column;
    grid-gap: $gridGutter;
    font-size: 1.2em;

    a {
      color: inherit;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

  &__navigation {
    background-color: transparent;
    border: none;
    border-radius: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    @include down($large) {
      display: none;
    }

    > ul {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}