/* Container */
.site {
  .container-fluid {
    padding: 0;
    > .row {
      margin-left: 0;
      margin-right: 0;
      > .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }


  .page-inner.container {
    .container {
      width: 100%;
      padding: 0;
    }
  }
}
/* End Container */