.site-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  &.wbcontainer {
    padding-left: 10px;
    padding-right: 10px;
    > [class*='wbcol-'] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@include up($medium) {
  .two-sidebars-left {
    .content-area {
      order: 2;
    }
  }
  .two-sidebars {
    .aside-primary {
      order: 0;
    }
    .content-area {
      order: 1;
    }
    .aside-secondary {
      order: 2;
    }
  }
  .sidebar-left {
    .aside-primary {
      order: 0;
    }
    .content-area {
      order: 1;
    }
  }
}