.navigation {

  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    &.menu-item-has-children > a:after {
      font-family: 'Dashicons';
      content: "\f347";
      opacity: .7;
      margin-left: 5px;
    }
  }

  > li {
    > a {
      padding: 10px 0;
      @include up($large) {
        padding: 15px;
      }
      position: relative;
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
      font-size: .9em;
    }
    &:last-child > a {
      @include up($large) {
        padding-right: 0;
      }
    }
  }

  .sub-menu {
    display: none;
    @include up($large) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 7;
      padding: 5px 0;
      margin: 0;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.15);
      background-clip: padding-box;
    }

    li a {
      padding: 5px 15px;
      display: block;
      white-space: nowrap;
      @include up($large) {
        text-align: right;
      }
    }

  }

  &-mobile {
    padding: $gridGutter;
    &__inner {
      padding: $gridGutter 0;
      height: 100%;
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-gap: $gridGutter;
    }
    a {
      //color: #fff;
      text-align: center;
      justify-content: center;
    }
  }
}

