.header__navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;
		&.menu-item-has-children {
			> a:after {
				@extend %fa-icon;
				@extend .far;
				content: fa-content($fa-var-angle-down);
				margin-left: 10px;
			}
			li.menu-item-has-children > a:after {
				content: fa-content($fa-var-angle-right);
			}
		}
	}

	> ul {
		> li {
			> a {
				padding: 10px 0;
				@include up($large) {
					padding: 15px;
				}
				position: relative;
				display: flex;
				align-items: center;
				font-size: 0.9em;
				font-weight: $fontWeightSemibold;
				color: $colorText;
				&:hover {
					color: $colorPrimary;
				}
			}

			&:last-child > a {
				@include up($large) {
					padding-right: 0;
				}
			}
		}

		.sub-menu {
			display: none;
			position: relative;
			&::before {
				background-color: inherit;
				content: "";
				display: flex;
				height: 10px;
				position: absolute;
				transform: rotate(45deg);
				right: 10px;
				top: -4px;
				width: 10px;
				z-index: -1;
			}
			li {
				&.menu-item-has-children a:after {
					margin-left: 20px;
				}
			}
			li a {
				color: $colorWhite;
				font-weight: $fontWeightSemibold;
				padding: 10px 15px;
				display: block;
				white-space: nowrap;
				font-size: 0.9em;
				&:hover {
					background-color: rgba($colorWhite, 0.1);
				}
			}
		}

		li:hover > .sub-menu {
			::before {
				display: none;
			}
			display: block;
			position: absolute;
			z-index: 7;
			padding: 0;
			margin: 0;
			background-color: $colorGreyDark;
			background-clip: padding-box;
		}

		> li:hover > .sub-menu {
			top: 100%;
			right: 0;
		}

		.sub-menu > li:hover > .sub-menu {
			top: -1px;
			left: 100%;
			a {
				text-align: left;
			}
		}
	}
}

.navigation-mobile {
	&__inner {
		height: 100%;
		width: 100%;
		flex-grow: 1;
	}

	ul {
		list-style-type: none;
		overflow-x: hidden;
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		transition: all 0.5s ease;
	}

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-top: 1px solid $colorGrey;
		&:last-child {
			border-bottom: 1px solid $colorGrey;
		}
		ul {
			border-top: 1px solid $colorGrey;
			height: calc(100% - 68px);
			overflow: hidden;
			position: fixed;
			top: 0;
		}
	}

	a {
		color: $colorText;
		text-align: left;
		justify-content: center;
		padding: 10px $gridGutter;
		flex-grow: 1;
		font-size: 1.1em;
		font-weight: 600;
	}

	.sub-menu {
		left: 100%;
		background-color: #fff;
		overflow-y: auto;
		z-index: 10;
	}

	.backlevel__icon {
		padding: 0 0 0 $gridGutter;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		font-size: 1.5em;
		z-index: 10;
		color: $colorPrimary;
		position: relative;
	}

	.sublevel__icon {
		line-height: 1em;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: $gridGutter;
	}
}
