.format-quote {
  margin-top: 15px;
  padding: 10px 0 0;
}

.format-quote cite {
  font-style: italic;
}

.format-quote blockquote {
  border-left: 0;
  margin: 0 0 20px 15px;
}

.format-quote blockquote p {
  font-style: italic;
}