body {
  color: $colorText;
  font-family: $fontPrimary;
  font-size: 16px;
  font-weight: $fontWeightNormal;
  line-height: 1.5;
  overflow-x: hidden;
}
h1, .h1 {font-size: 2.125em;} //34px
h2, .h2 {font-size: 1.875em;} //30px
h3, .h3 {font-size: 1.5em;} //24px
h4, .h4 {font-size: 1.125em;} //18px
h5, .h5 {font-size: 1em;} //16px
h6, .h6 {font-size: 0.875em;} //14px

@include up($large) {
  h1, .h1 {font-size: 3em;} //48px
  h2, .h2 {font-size: 2.5em;} //40px
  h3, .h3 {font-size: 2em;} //32px
  h4, .h4 {font-size: 1.5em;} //24px
  h5, .h5 {font-size: 1.125em;} //18px
  h6, .h6 {font-size: 1em;} //16px
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: $fontWeightMedium;
  margin-top: 0;
  margin-bottom: 24px;
  word-wrap: break-word;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $fontWeightSemibold;
  margin-top: 0;
  margin-bottom: 8px;
  word-wrap: break-word;
}

h1, .h1 {
  line-height: 1.1;
}

h2, .h2,
h3, .h3 {
  line-height: 1.2;
}

p {
  margin-bottom: 24px;
  margin-top: 0;
  word-wrap: break-word;
}

ul, ol {
  padding-left: 16px;
  margin-bottom: 24px;
  margin-top: 0;
  word-wrap: break-word;
}

a {
  color: $colorPrimary;
  outline: none;
  transition: .3s;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: lighten($colorPrimary, 20%) ;
  }

  &:focus-visible {
    outline: 2px solid $colorPrimary;
    transition: none;
  }

  &.text-primary {
    &:hover,
    &:focus {
      color: lighten($colorPrimary, 20%);
    }
  }
}

span {
  word-wrap: break-word;
}

table {
  width: 100%;
}

p img {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}

img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

mark,
ins {
  text-decoration: none;
}

abbr[title] {
  text-decoration: none;
}

.sticky {
  display: block;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 16px;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 16px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
