body {
  font-family: $fontPrimary;
  font-weight: $fontWeightNormal;
}

body {font-size: 14px; line-height: 1.4;}
h1, .h1 {font-size: 2.6em;}
h2, .h2 {font-size: 2.15em;}
h3, .h3 {font-size: 1.7em;}
h4, .h4 {font-size: 1.25em;}
h5, .h5 {font-size: 1em;}
h6, .h6 {font-size: 0.85em;}

@include up($large) {
  body {font-size: 14px;}
  h1, .h1 {font-size: 2.6em;}
  h2, .h2 {font-size: 2.15em;}
  h3, .h3 {font-size: 1.7em;}
  h4, .h4 {font-size: 1.25em;}
  h5, .h5 {font-size: 1em;}
  h6, .h6 {font-size: 0.85em;}
}

h1, .h1, h2, .h2, h3, .h3 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  word-break: break-all; 
  word-wrap: break-word;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 10px;
  word-wrap: break-word;
}

p {
  margin-bottom: 20px;
  margin-top: 0;
  word-wrap: break-word;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  word-wrap: break-word;
}

a {
  outline: 0;
  transition: .3s;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: $colorPrimary;
}

a:hover,
a:focus {
    color: lighten($colorPrimary, 20%) ;
}

a.text-primary:hover,
a.text-primary:focus {
  color: lighten($colorPrimary, 20%);
}

span {
  word-wrap: break-word;
}

table {
  width: 100%;
}

p img {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}

img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

.sticky {
  display: block;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 15px;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 15px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
