body {
	color: $colorText;
	font-family: $fontPrimary;
	font-weight: $fontWeightNormal;
}

body {
	font-size: 14px;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2.15em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.85em;
}

@include up($large) {
	body {
		font-size: 16px;
	}

	h1 {
		font-size: 2.6em;
	}

	h2 {
		font-size: 2.15em;
	}

	h3 {
		font-size: 1.7em;
	}

	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.85em;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: $colorTextDark;
	font-weight: $fontWeightSemibold;
	margin: 0;
	word-wrap: break-word;

	&:not(:last-child) {
		margin-bottom: 10px;

		@include up($large) {
			margin-bottom: 20px;
		}
	}
}

p,
ul,
ol {
	line-height: 1.5;
	margin-bottom: 20px;
	margin-top: 0;
	word-wrap: break-word;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $colorPrimary;
	outline: 0;
	transform: $duration;
	transition: $duration;

	&:hover,
	&:focus {
		color: lighten($colorPrimary, 20%);
	}

	&:link,
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
	}

	&.text-primary {
		&:hover,
		&:focus {
			color: lighten($colorPrimary, 20%);
		}
	}
}

span {
	word-wrap: break-word;
}

table {
	width: 100%;
}

p {
	img {
		margin-bottom: 0.5em;
		margin-top: 0.4em;
	}
}

img.header-image,
img.wp-post-image,
img.avatar,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.comment-content img,
.widget img {
	height: auto;
	max-width: 100%;
	padding: 0;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

.sticky {
	display: block;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
