body {
  color: $colorText;
  font-family: $fontPrimary;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  font-weight: $fontWeightNormal;
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $colorTextDark;
  font-weight: 500;
  line-height: 1.2;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul,
ol,
span {
  word-wrap: break-word;
}

h1 {
  font-size: clamp(3.6rem, 3vw, 4rem);
}

h2 {
  font-size: clamp(2.8rem, 3vw, 3.2rem);
}

h3 {
  font-size: clamp(2.1rem, 3vw, 2.4rem);
}

h4 {
  font-size: clamp(1.8rem, 3vw, 2.1rem);
}

h5 {
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}

h6 {
  font-size: clamp(1.6rem, 3vw, 1.6rem);
}

p,
ul,
ol {
  line-height: 1.5;
}

p {
  margin-bottom: 2rem;
}

ul,
ol {
  padding-left: 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

a {
  color: $colorPrimary;
  outline: 0;
  transition: 0.3s;

  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $colorSecondary;
  }

  &.text-primary {
    &:hover,
    &:focus {
      color: lighten($colorPrimary, 20%);
    }
  }
}

table {
  width: 100%;
}

p img {
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;
}

.comment-content img,
img.avatar,
img[class*="align"],
img[class*="attachment-"],
img[class*="wp-image-"],
img.header-image,
img.wp-post-image,
.widget img {
  height: auto;
  max-width: 100%;
  padding: 0;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

.sticky {
  display: block;
}

.alignleft,
.alignright {
  display: inline;
}

.alignright {
  float: right;
  margin-left: 1.5rem;
}

.alignleft {
  float: left;
  margin-right: 1.5rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-inline: auto;
  text-align: center;
}

.wp-block-code {
  background-color: $colorGreyDark;
  border: none;
  border-radius: 0.7rem;
  color: $colorWhite;

  code {
    font-family: $fontCode;
  }
}

.wp-block-quote {
  background-color: $colorGreyLight;
  border-color: $colorPrimary;
  border-radius: 0.7rem;
  color: $colorTextDark;
  margin: 3rem 0;
  padding: 3rem;

  p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: clamp(2.1rem, 3vw, 2.4rem);
  }

  cite {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    &::before {
      content: "--";
      margin-right: 0.5rem;
    }
  }
}
