/* Responsive Video */

.wb-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* Responsive Image */

.img-responsive {
  max-width: 100%;
}


/* Browser Happy Notice */

.browsehappy {
  margin-bottom: 0;
  text-align: center;
  .alert-link {
    text-decoration: underline;
  }
}

/* Screen Reader Only */

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-link.sr-only-focusable {
  &:focus {
    position: fixed; // Lo blocca sopra tutto il resto
    top: 10px;
    left: 10px;
    z-index: 10000;
    width: auto;
    height: auto;
    clip: auto;
    margin: 0;
    padding: 15px 25px;
    background-color: $colorPrimary;
    color: $colorWhite;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid $colorPrimary;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}