/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

/* Grid */
$containerWidth: 1400px;
$containerWidthNarrow: 850px;
$gridGutter: 20px;

/* Colors */
$colorWhite : #FFF;
$colorSuccess : #007B40;
$colorWarning : #F03D3E;
$colorGrey : #EEEDED;
$colorGreyLight : #F5F5F5;
$colorGreyDark : #ddd;
$colorPrimary: #6552AA;
$colorSecondary: #16AEA1;
$colorThird: #453F4C;
$colorText: #262626;
$colorBlack: #000;

/* Fonts */
$fontPrimary : 'Inter', sans-serif;
$fontSecondary : 'Inter', sans-serif;
$fontWeightNormal : 400;
$fontWeightSemiBold : 600;
$fontWeightBold : 700;

/* Radius */
$radius: 8px;
$radiusCircle: 50%;
$radiusFull: 100px;

$headerHeight: 60px;