/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

/* Grid */
$containerWidth: 1400px;
$gridGutter: 30px;

/* Colors */
$colorWhite : #FFF;
$colorSuccess : #03A679;
$colorWarning : #F93D5C;
$colorGrey : #cccccc;
$colorGreyLight : #f4f4f4;
$colorGreyDark : #555;
$colorPrimary: #74B6CA;
$colorSecondary: #747ec9;
$colorText: #000;

/* Fonts */
$fontPrimary : 'Montserrat', sans-serif;
$fontSecondary : 'Montserrat', sans-serif;
$fontWeightNormal : 400;
$fontWeightBold : 700;
