/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

/* Grid */
$containerWidth: 1400px;
$gridGutter: 20px;

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #737491;
  --bs-gray-dark: #4a4b65;
  --bs-gray-100: #f7f7fc;
  --bs-gray-200: #f3f3f9;
  --bs-gray-300: #e9e9f2;
  --bs-gray-400: #dfdfeb;
  --bs-gray-500: #9e9fb4;
  --bs-gray-600: #737491;
  --bs-gray-700: #5a5b75;
  --bs-gray-800: #4a4b65;
  --bs-gray-900: #37384e;
  --bs-primary: #766df4;
  --bs-secondary: #f7f7fc;
  --bs-success: #16c995;
  --bs-info: #6a9bf4;
  --bs-warning: #ffb15c;
  --bs-danger: #f74f78;
  --bs-light: #fff;
  --bs-dark: #37384e;
  --bs-primary-rgb: 118, 109, 244;
  --bs-secondary-rgb: 247, 247, 252;
  --bs-success-rgb: 22, 201, 149;
  --bs-info-rgb: 106, 155, 244;
  --bs-warning-rgb: 255, 177, 92;
  --bs-danger-rgb: 247, 79, 120;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 55, 56, 78;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 115, 116, 145;
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    to right,
    #766df4 0%,
    #766df4 30%,
    #6a9bf4 100%
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #737491;
  --bs-body-bg: #fff;
}

/* Colors */
$colorWhite: #fff;
$colorSuccess: #16c995;
$colorWarning: #f74f78;
$colorGrey: #9e9fb4;
$colorGreyLight: #f7f7fc;
$colorGreyDark: #37384e;
$colorGreyDarken: #2c2d3f;
$colorPrimary: #766df4;
$colorSecondary: #0dcaf0;
$colorText: #737491;
$colorTextDark: #4a4b65;
$colorBorder: #dfdfeb;

$colorGrey100: #f7f7fc;
$colorGrey200: #f3f3f9;
$colorGrey300: #e9e9f2;
$colorGrey400: #dfdfeb;
$colorGrey500: #9e9fb4;
$colorGrey600: #737491;
$colorGrey700: #5a5b75;
$colorGrey800: #4a4b65;
$colorGrey900: #37384e;

/* Fonts */
$fontPrimary: "Inter", sans-serif;
$fontSecondary: "Inter", sans-serif;
$fontCode: "JetBrains Mono", monospace;
$fontWeightNormal: 400;
$fontWeightBold: 700;
