/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

/* Grid */
$containerWidth: 1400px;
$gridGutter: 20px;

/* Colors */
$colorWhite: #fff;
$colorSuccess: #03a679;
$colorWarning: #f93d5c;
$colorGrey: #e0e0e0;
$colorGreyLight: #f5f5f5;
$colorGreyDark: #ccc;
$colorPrimary: #23b5d3;
$colorSecondary: #279af1;
$colorTertiary: #ea526f;
$colorText: #3f3f3f;

/* Fonts */
$fontPrimary: "Quicksand", sans-serif;
$fontSecondary: "Quicksand", sans-serif;
$fontWeightNormal: 400;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
