/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

/* Grid */
$containerWidth: 1200px;
$gridGutter: 20px;

$colorBlack: #000;
$colorWhite: #fff;
$colorSuccess: #16c995;
$colorWarning: #f74f78;
$colorGrey: #dbdbdb;
$colorGreyLight: #f8f9fa;
$colorGreyDark: #333;
$colorGreyDarken: #1a1a1a;
$colorPrimary: #80c4a7;
$colorSecondary: #f43f5e;
$colorText: #595959;
$colorTextDark: #1a1a1a;
$colorGrey: #dcdcdc;

/* Fonts */
$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Montserrat", sans-serif;
$fontCode: "JetBrains Mono", monospace;
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

$radius: 0;
$duration: 0.3s;
