.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: calc($gutter / 2);

  a {
    color: inherit;
    font-weight: $fontWeightSemibold;

    &:hover {
      color: $colorPrimary;
    }
  }
}
