.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.875em;
	list-style: none;
	margin-bottom: 20px;
	a {
		color: inherit;
		font-size: 14px;
		font-weight: $fontWeightSemibold;
		&:hover {
			color: $colorPrimary;
		}
	}
}
