@mixin button() {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
}

@mixin buttonStyle($bkg, $color, $colorHover, $border) {
  border-radius: 4px;
  background: $bkg;
  @if $color {
    color: $color;
  }
  @if $border {
    border: $border;
  }
  transition: all 0.3s ease;

  &:hover {
    background: darken($bkg, 8%);
    @if $colorHover {
      color: $colorHover;
    }
  }
  &:active {
    background: darken($bkg, 25%);
    @if $colorHover {
      color: $colorHover;
    }
  }
}

.button,
.btn,
.wp-block-button__link,
input[type="submit"] {
  @include button();
  @include buttonStyle($colorPrimary, #fff, #fff, false);
}

.is-style-outline > .wp-block-button__link:not(.has-text-color) {
  border-color: $colorPrimary;
  color: $colorPrimary;

  &:hover {
    border-color: darken($colorPrimary, 8%);
    color: darken($colorPrimary, 8%);
  }
}
