@mixin button() {
  appearance: none;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  line-height: 1;
  margin-bottom: 0; // For input.btn
  padding: 12px 16px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }
  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }
}

@mixin buttonStyle($bg, $color, $bgHover, $colorHover, $border) {
  background: $bg;
  @if $color {
    color: $color;
  }
  @if $border {
    border: $border;
  }
  transition: all 0.3s ease;
  &:hover {
    background-color: $bgHover;
    color: $colorHover;
  }
  &:active {
    background-color: $bgHover;
    color: $colorHover;
  }
}

button,
.button,
.btn,
.wp-block-button__link,
input[type='submit'] {
  @include button();
}

.btn--primary {
  @include buttonStyle($colorPrimary, $colorWhite, darken($colorPrimary, 20%), $colorWhite, false);
}

.btn--secondary {
  @include buttonStyle(transparent, $colorPrimary, $colorPrimary, $colorWhite, 1px solid $colorPrimary);
}
