.owl-carousel {
	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		margin: 0;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.owl-dots {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		button.owl-dot {
			background-color: rgba($colorPrimary, 0.2);
			border-radius: 50%;
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 0 5px;

			&.active {
				background-color: $colorPrimary;
			}
		}
	}

	.block__carousel--1 & {
		@include down($large) {
			.owl-stage-outer,
			.owl-stage,
			.owl-item,
			.blocks-gallery-item {
				height: 100% !important;
			}
			.blocks-gallery-item figure {
				display: block;
				overflow: hidden;
				img {
					height: 100%;
					width: auto;
					max-width: 1000%;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
