.owl-carousel {
  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    padding: $gridGutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }
  .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button.owl-dot {
      background-color: #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.5);
      border-radius: 50%;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      &.active {
        background-color: $colorPrimary;
      }
    }
  }
  .block__carousel--1 & {
    @include down($large){
      //height: 50vh;
      .owl-stage-outer,
      .owl-stage,
      .owl-item,
      .blocks-gallery-item {
        height: 100% !important;
      }
      .blocks-gallery-item figure {
        display: block;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
          max-width: 1000%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}