.comments {
  &__area {
    background-color: $colorGreyLight;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 4rem 2.5rem;
  }
  &__title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}

.comment {
  &__list {
    font-size: 1.4rem;
    display: grid;
    gap: 4rem;
    list-style: none;
    padding-left: 0;

    .children {
      list-style: none;
      padding-left: 3rem;
    }
  }

  &__body {
    display: grid;
    gap: 1.5rem;
  }

  &__meta {
    display: grid;
    gap: 1rem;
  }

  &__metadata {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;

    > a {
      color: $colorTextDark;
      font-weight: 600;
    }
  }

  &-edit-link {
    align-items: center;
    border: 1px solid $colorBorder;
    border-radius: 4px;
    display: inline-flex;
    color: $colorTextDark;
    font-size: 1.1rem;
    font-weight: 600;
    gap: 0.5rem;
    letter-spacing: 1px;
    padding: 0.3rem 0.7rem;
    text-transform: uppercase;

    &:hover {
      background-color: $colorBorder;
      color: $colorPrimary;
    }
  }

  &__author {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    cite {
      font-style: initial;
    }

    a {
      color: $colorTextDark;
      font-weight: 600;
    }
  }

  &-reply-link {
    border: 1px solid $colorBorder;
    border-radius: 4px;
    display: inline-flex;
    color: $colorTextDark;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: $colorBorder;
      color: $colorPrimary;
    }
  }
}

.reply {
  display: flex;
  justify-content: flex-end;
}

.avatar {
  border-radius: 100%;
}

.logged-in-as {
  font-size: 1.4rem;
}

.comment-respond {
  margin-top: 3rem;
}

.comment-reply-title {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 1.4rem;
    font-weight: normal;
  }
}

.comment-form-cookies-consent {
  align-items: center;
  display: flex;
  gap: 0.4rem;

  label {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.3;
  }
}
