.comments {
	&__area {
		background-color: $colorGreyLight;
		border-radius: $radius;
		margin-bottom: 30px;
		margin-top: 40px;
		padding: 40px 25px;
	}

	&__title {
		margin-bottom: 30px;
	}
}

.comment {
	&__list {
		display: grid;
		gap: 40px;
		list-style: none;
		padding-left: 0;

		.children {
			list-style: none;
			padding-left: 30px;
		}
	}

	&__body {
		display: grid;
		gap: 15px;
	}

	&__meta {
		display: grid;
		gap: 10px;
	}

	&__metadata {
		align-items: center;
		display: flex;
		justify-content: space-between;

		> a {
			color: $colorTextDark;
			font-weight: $fontWeightSemibold;
		}
	}

	&-edit-link {
		background-color: $colorPrimary;
		color: $colorWhite;
		border-radius: $radius;
		display: inline-block;
		font-size: 0.87em; //14px
		font-weight: $fontWeightSemibold;
		line-height: 1;
		padding: 5px;

		&:hover {
			background-color: $colorText;
			color: $colorWhite;
		}
	}

	&__author {
		align-items: center;
		display: flex;
		gap: 5px;

		cite {
			font-style: initial;
		}

		a {
			color: $colorTextDark;
			font-weight: $fontWeightSemibold;
		}
	}

	&-reply-link {
		background-color: $colorPrimary;
		border-radius: $radius;
		color: $colorWhite;
		display: inline-block;
		font-size: 0.87em; //14px
		font-weight: $fontWeightSemibold;
		line-height: 1;
		padding: 5px;

		&:hover {
			background-color: $colorText;
			color: $colorWhite;
		}
	}
}

.reply {
	display: flex;
	justify-content: flex-end;
}

.avatar {
	border-radius: 100%;
}

.comment-respond {
	margin-top: 30px;
}

.comment-reply-title {
	display: flex;
	justify-content: space-between;

	a {
		font-weight: normal;
	}
}

.comment-form-cookies-consent {
	align-items: center;
	display: flex;
	gap: 40px;

	label {
		font-weight: normal;
		line-height: 1.3;
	}
}
