form {
  label {
    //display: inline-block;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: $fontWeightBold;
  }
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: .8em;
    appearance: none;
  }
  input[type="submit"] {
    box-shadow: inset 0 0 0;
    appearance: none;
  }
  textarea {
    height: auto;
  }

}

.select2-container {

  .select2-selection {
    background-color : #FFFFFF;
    border           : 1px solid #ccc;
    height           : 34px;
    border-radius    : 0;

  }

  .select2-selection--single {
    margin : 0;
    font-size: .9em;

    .select2-selection__arrow {
      height : 34px;
    }

    .select2-selection__rendered {
      line-height: 34px;
      color            : $colorText;
      padding: 0 12px;
    }

  }

  .select2-results__option--highlighted[aria-selected],
  .select2-results__option--highlighted[data-selected] {
    color            : #fff;
    background-color : $colorPrimary;
  }

  .select2-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: .9em;

    .select2-search--dropdown {
      display: block;
      padding: 6px 12px;
      .select2-search__field {
        border: 1px solid #ccc;
        padding: 6px 12px;
      }
    }

    .select2-results__option {
      padding: 6px 12px;
    }

  }

}


.gform_description {
  display: block;
  margin-bottom: $gridGutter;
}
.gform_fields {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.gfield {
  margin-bottom: calc(#{$gridGutter}/2);
  &.hidden_label > label {
    display: none;
  }
  &.gform_validation_container {
    display: none;
  }
  &.gf_left_half, &.gf_right_half {
    width: calc(50% - calc(#{$gridGutter}/4));
    display: inline-block;
  }
  &.gf_left_half {
    margin-right: calc(#{$gridGutter}/4);
  }
  &.gf_right_half {
    margin-left: calc(#{$gridGutter}/4);

  }
  .clear-multi {
    display: flex;
    width: 100%;
  }
  ul.gfield_checkbox {
    padding: 0;
    list-style-type: none;
    li {
      display: flex;
      label {
        font-weight: $fontWeightNormal;
        font-size: .85em;
        flex-shrink: 1;
      }
    }
  }
}

.ginput_container_consent {
  display: flex;
  align-items: flex-start;
  label {
    font-weight: $fontWeightNormal;
    font-size: .85em;
    flex-shrink: 1;
  }
}

.woocommerce-form__label-for-checkbox,
.mailchimp-newsletter {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-weight: $fontWeightNormal;
  font-size: .9em;
  label {
    margin: 0;
    font-weight: $fontWeightNormal;
    font-size: .9em;
  }
}
