/* WordPress Native Gallery - No Gutenberg */

.gallery {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    .gallery-item {
      padding: 0 10px;
      margin: 10px 0;
      max-width: 50%;
      flex-basis: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
    @include up($small) {
      &.gallery-columns-1 {
        .gallery-item {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &.gallery-columns-3 {
        .gallery-item {
          max-width: 33.33333%;
          flex-basis: 33.33333%;
        }
      }
      &.gallery-columns-4 {
        .gallery-item {
          max-width: 25%;
          flex-basis: 25%;
        }
      }
      &.gallery-columns-5,
      &.gallery-columns-6,
      &.gallery-columns-7,
      &.gallery-columns-8,
      &.gallery-columns-9 {
        .gallery-item {
          max-width: 25%;
          flex-basis: 25%;
        }
      }
    }
    @include up($medium) {
      &.gallery-columns-5 {
        .gallery-item {
          max-width: 20%;
          flex-basis: 20%;
        }
      }
      &.gallery-columns-6 {
        .gallery-item {
          max-width: 16.66666%;
          flex-basis: 16.66666%;
        }
      }
      &.gallery-columns-7 {
        .gallery-item {
          max-width: 14.28571%;
          flex-basis: 14.28571%;
        }
      }
      &.gallery-columns-8 {
        .gallery-item {
          max-width: 12.5%;
          flex-basis: 12.5%;
        }
      }
      &.gallery-columns-9 {
        .gallery-item {
          max-width: 11.11111%;
          flex-basis: 11.11111%;
        }
      }
    }
  }