/*-----------------------*
 * GENERAL
 *-----------------------*/

form input[type="checkbox"] {
	border-color: $colorGrey;
	height: 20px;
	margin-right: 5px;
	width: 20px;
}

form textarea {
	font-family: inherit;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 50vh;
}

form.gform {
	input,
	option,
	button {
		font-family: $fontPrimary;
	}

	button {
		@include button;
	}
}

/*-----------------------*
 * GRID
 *-----------------------*/
.gform {
	&_fields {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(auto-fill, auto);
		grid-column-gap: 2%;
		grid-row-gap: 30px;

		.gfield {
			grid-column: 1 / -1;
			margin-bottom: 0;

			&--width-full {
				grid-column: span 12;
			}

			&--width-eleven-twelfths {
				grid-column: span 11;
			}

			&--width-five-sixths {
				grid-column: span 10;
			}

			&--width-three-quarter {
				grid-column: span 9;
			}

			&--width-two-thirds {
				grid-column: span 8;
			}

			&--width-seven-twelfths {
				grid-column: span 7;
			}

			&--width-half {
				grid-column: span 6;
			}

			&--width-five-twelfths {
				grid-column: span 5;
			}

			&--width-third {
				grid-column: span 4;
			}

			&--width-quarter {
				grid-column: span 3;
			}
		}
	}

	&_wrapper fieldset {
		background: 0 0;
		border: none;
		display: block;
		margin: 0;
		padding: 0;
	}

	&_wrapper legend {
		color: $colorTextDark;
		display: inline-block;
		font-weight: $fontWeightSemibold;
		margin-bottom: 18px;
		padding: 0;
	}

	&_required_legend {
		color: $colorGreyDark;
		opacity: 0.5;

		.gfield_required_asterisk {
			color: $colorWarning;
		}
	}

	.gfield_required {
		color: $colorWarning;
		display: inline-block;
		margin-left: 2px;

		&_asterisk {
			color: $colorWarning;
		}
	}

	@include down($medium) {
		.gform_fields {
			& .gform_fields {
				grid-column-gap: 0;
			}

			& .gfield:not(.gfield--width-full) {
				grid-column: 1 / -1;
			}
		}
	}
}

/*-----------------------*
 * STEPS
 *-----------------------*/
.gf_progressbar {
	&_title {
		font-weight: 400;
		margin-bottom: 5px;
		opacity: 0.5;
	}

	&_blue {
		background: $colorGreyLight;
		border-radius: $radius;
		margin-bottom: 16px;
		position: relative;
	}

	&_percentage {
		background-color: $colorPrimary !important;
		border-radius: $radius;
		color: $colorWhite;
		height: 21px;
		text-align: right;
		vertical-align: middle;

		&:not(.percentbar_100) {
			border-radius: $radius 0 0 $radius;
		}

		span {
			display: block;
			font-size: 13px;
			float: right;
			line-height: 21px;
			margin-left: $gridGutter * 0.8;
			margin-right: $gridGutter * 0.8;
			min-width: 20px;
			width: auto;
		}
	}
}

/*-----------------------*
 * SECTION
 *-----------------------*/
/* Section Break */
.gsection {
	margin-bottom: 0;
	&_title {
		color: $colorGreyDark;
		font-size: 12px;
		letter-spacing: 1px;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}
/* Field Description */
.gfield_description,
.gfield_post_tags_hint {
	font-size: 12px;
	line-height: 1.2;
	opacity: 0.5;
	margin-top: 5px;
}

/*-----------------------*
 * STANDARD FIELDS
 *-----------------------*/
/* Number */
.ginput_container_number {
	input {
		appearance: auto;
	}

	.instruction {
		color: $colorGreyDark;
		font-size: 12px;
		margin-top: 10px;
	}
}

/* DropDown */
.gform_wrapper select {
	font-family: $fontPrimary;
	appearance: auto;
}

/* Checkboxes & Radio Buttons */
.gfield-choice-input {
	display: inline-block;
	margin-top: 0;
	top: 0;
	vertical-align: middle;

	& + label {
		max-width: calc(100% - 32px);
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.gfield_checkbox {
	button[type="button"] {
		font-size: 12px !important;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1;
		margin-top: 16px;
		padding: 5px !important;
	}
}

.gfield_checkbox,
.gfield_radio {
	display: inline-grid;
	gap: 10px;
	width: 100%;

	label {
		display: inline-block;
		font-size: 14px;
		font-weight: normal;
	}

	input[type="text"] {
		margin-top: 16px;
	}
}

/* NAME */
.ginput_complex {
	display: flex;
	flex-flow: row wrap;

	&:not(.ginput_container_address)
		fieldset:not([style*="display:none"]):not(.ginput_full),
	&:not(.ginput_container_address)
		span:not([style*="display:none"]):not(.ginput_full) {
		padding-right: 1%;
	}

	span {
		flex: 1;

		@include down($medium) {
			flex: 0 0 100%;
			padding-left: 0;
			margin-bottom: 8px;
		}
	}

	label {
		font-size: 12px;
		margin-top: 4px;
	}
}

/* DATE */
.ginput_container_date {
	display: flex;
	align-items: center;
	align-content: flex-start;

	input {
		width: auto;
	}

	img.ui-datepicker-trigger {
		display: block;
		margin-left: 13px;
		max-width: 26px;
		max-height: 26px;
	}
}

/* Datepicker */
//@import "gravity-form/datepicker";

/* TIME */
.ginput_container_time {
	flex-basis: min-content;
	max-width: 64px;
	min-width: 64px;

	input {
		margin-left: 0;
		margin-right: 0;
		min-width: 100%;
	}
}

.gfield_time_hour label.hour_label,
.gfield_time_minute label.minute_label {
	display: block;
	font-size: 13px;
	margin: 0;
	padding-top: 5px;
}

.gfield_time_ampm,
.hour_minute_colon {
	line-height: 2;
	padding: 0 8px;
}

.gfield_time_ampm.below,
.hour_minute_colon.below {
	align-items: flex-start;
}

.gfield_time_minute {
	position: relative;
	flex-basis: min-content;
	max-width: 64px;
	min-width: 64px;
}
.gfield_time_hour input,
.gfield_time_minute input,
.gfield_time_ampm select {
	width: 100px;
}

/* ADDRESS */
.ginput_container_address {
	span {
		flex: 0 0 50%;
		margin-bottom: 8px;
	}
	.ginput_full {
		flex: 0 0 100%;
		&:not(:last-of-type) {
			margin-bottom: 8px;
		}
	}

	.ginput_left {
		padding-right: 1%;
	}

	.ginput_right {
		padding-left: 1%;
	}
}

/*-----------------------*
 * ADVANCED FIELDS
 *-----------------------*/

/* FILE */
.ginput_container_fileupload {
	input {
		width: 100%;
	}

	.gform_fileupload_rules {
		color: $colorGreyDark;
		font-size: 12px;
		margin-top: 5px;
	}

	.gform_drop_area {
		background: $colorGreyLight;
		border: 2px dashed $colorGrey;
		border-radius: $radius;
		gap: 10px;
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;
		padding: 32px;
		text-align: center;

		button {
			align-self: center;
		}
	}

	.gform_drop_instructions {
		font-size: 12px;
	}
}

/* LIST */
.ginput_list {
	.gfield_list_header,
	.gfield_list_group {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.gfield_header_item,
	.gfield_list_group_item {
		font-size: 12px;
		padding-top: 5px;
		flex-grow: 1;
		width: 0;
		word-break: break-word;
	}

	.gfield_list_group_item + .gfield_list_group_item {
		margin-left: 2%;
	}

	.gfield_list_group {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.gfield_list_icons {
		width: 48px;
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			font-size: 0;
			/* webpackIgnore: true */
			background: transparent url(../../images/default/icons/list-add.svg);
			border: none;
			width: 16px;
			height: 16px;
			opacity: 0.5;
			padding: 0;
			transition: opacity 0.5s ease-out;
			/* webpackIgnore: true */
			&.delete_list_item {
				margin-left: 5px;
				background-image: url(../../images/default/icons/list-remove.svg);
			}
		}
	}
}
