.menu-item-has-megamenu {
  position: static !important;
}

.sub-menu--megamenu {
  background-color: $colorWhite;
  border: none;
  display: none;

  @include up($large) {
    display: block;
  }
}

.megamenu {
  &::before {
    content: '';
    background-color: rgba(0,0,0, .2);
    display: block;
    height: 100vh;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &__container {
    @extend .wbcontainer;
    padding: 40px 16px;
  }
}

.sub-menu--megamenu.megamenu--1 {
  left: 0;
  position: fixed;
  right: 0;

  h3 {
    font-size: 1.25em;
  }

  .wp-block-columns {
    gap: 24px;
  }

  .megamenu__header {
    border-bottom: 1px solid $colorGreyLight;
    margin-bottom: 32px;
    padding-bottom: 8px;
    h2 {
      font-size: 2em;
      font-style: $fontWeightNormal;
      line-height: 1;
    }
  }

  .megamenu__product {
    align-items: stretch;
    gap: $gridGutter;

    .wp-block-group {
      width: 100%;
    }

    .wp-block-button__link {
      padding: 0;
    }
  }
}

.sub-menu--megamenu.megamenu--2 {
  left: 0;
  position: fixed;
  right: 0;

  .wp-block-cover {
    border-radius: 20px;

    &:hover {
      img {
        transform: scale(1.1);
      }
      a {
        color: $colorWhite;
      }
    }

    img {
      transition: .3s;
    }

    &__inner-container {
      align-items: end;
      display: grid;
      inset: 0;
      height: 100%;
      justify-content: end;
      position: absolute;
    }
  }

  .wp-block-heading {
    inset: 0;
    position: absolute;
    a {
      align-items: flex-end;
      display: grid;
      height: 100%;
      margin-left: auto;
      padding: 24px;
      text-align: initial;
      text-orientation: mixed;
      transform: rotate(-180deg);
      width: 100%;
      writing-mode: vertical-rl;
    }
  }
}

.sub-menu--megamenu.megamenu--3 {
  left: 0;
  position: fixed;
  right: 0;
  background-color: rgba(0,0,0, .2);
  height: 100vh;
  &::before {
    content: none;
  }

  .megamenu__container {
    background-color: $colorWhite;
    max-width: 980px;
    padding: 0;
  }

  .wp-block-column:first-child {
    padding-inline: 40px;
  }

  .wc-block-product-categories-list--depth-0 > li.wc-block-product-categories-list-item {
    display: grid;
    gap: $gridGutter;
  }

  .wc-block-product-categories-list--depth-0 > li.wc-block-product-categories-list-item > a {
    opacity: .4;
    padding: 0;
    &:hover {
      opacity: 1;
    }
  }

  .wc-block-product-categories-list--depth-0 > li.wc-block-product-categories-list-item > span {
    display: none;
  }

  .wc-block-product-categories-list--depth-1 {
    display: grid;
    grid-gap: 16px 40px;
    grid-template-columns: repeat(2, 1fr);
    li {
      display: flex;
      gap: 8px;
    }
    a {
      font-size: 2em;
      font-weight: $fontWeightSemibold;
      padding: 0;
    }
  }

  .wc-block-product-categories-list-item__name {
    line-height: 1;
  }

  .wc-block-product-categories-list-item-count {
    opacity: .4;
    font-weight: $fontWeightBold;
    &::before,
    &::after {
      display: none;
    }
  }

  .wp-block-cover {
    padding-bottom: 40px;
    .wp-block-cover__inner-container.is-layout-constrained.wp-block-cover-is-layout-constrained {
      width: 100%;
    }
  }

  a.wp-block-button__link.wp-element-button {
    color: $colorWhite;
    padding: 0;
    &:hover {
      color: $colorWhite;
      text-decoration: underline;
    }
  }
}

.sub-menu--megamenu.megamenu--4 {
  background-color: $colorWhite;
  left: 0;
  position: fixed;
  right: 0;

  .wp-block-columns {
    display: grid;
    gap: 60px;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    margin-inline: auto;
    max-width: 600px;
  }

  ul a {
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

  ul:not(:last-child) {
    margin-bottom: 40px;
  }

  .wp-block-column:first-child ul {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.sub-menu--megamenu.megamenu--5 {
  background-color: $colorWhite;
  left: 0;
  position: fixed;
  right: 0;

  .wp-block-column:first-child {
    display: grid;
    font-weight: $fontWeightSemibold;
  }

  ul:first-child {
    font-size: 2rem;
    line-height: 1.7;
  }

  ul:last-child {
    display: grid;
    gap: $gridGutter;
    margin-top: auto;
    a {
      opacity: .4;
      &:hover {
        opacity: 1;
      }
    }
  }

  .wp-block-cover__inner-container p {
    font-size: .875em;
    font-weight: $fontWeightSemibold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.sub-menu--megamenu.megamenu--6 {
  background-color: $colorWhite;
  left: 0;
  position: fixed;
  right: 0;

  h3 {
    opacity: .4;
  }

  .is-layout-flex {
    gap: $gridGutter;
  }

  .wp-block-post-excerpt__more-link {
    font-weight: $fontWeightSemibold;
  }

  a {
    padding: 0;
  }
}

.sub-menu--megamenu.megamenu--7 {
  background-color: $colorWhite;
  left: 0;
  position: fixed;
  right: 0;

  .megamenu {
    &__cta {
      border-top: 1px solid $colorGreyLight;
      margin-top: 40px;
      padding-top: 16px;
      .wp-block-button {
        width: 100%;
        .wp-block-button__link {
          @include buttonStyle(transparent, $colorPrimary, $colorText, none);
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }

  h3 {
    opacity: .4;
  }

  p, a {
    white-space: pre-wrap;
  }

  .wp-block-column:first-child ul:not(:last-child) {
    margin-bottom: 40px;
  }

  .wc-block-components-product-price {
    font-weight: $fontWeightSemibold;
  }

  .wp-block-button__link {
    padding: 0;
  }

  a.wp-block-button__link.wp-element-button {
    border: none;
    &:hover {
      color: $colorPrimary;
    }
  }

  .products-block-post-template .wc-block-grid__product-image a {
    display: flex;
  }
}