.pagination,
.woocommerce-pagination {
  ul {
    display: flex;
    justify-content: center;
    gap: $gridGutter / 2;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    .page-numbers {
      position: relative;
      display: block;
      padding: 12px 15px;
      margin-left: -1px;
      line-height: 1;
      color: $colorPrimary;
      background-color: $colorWhite;
      border: 1px solid $colorGrey;
      &.current,
      &:hover {
        color: $colorWhite;
        background-color: $colorPrimary;
        border-color: $colorPrimary;
      }
    }
    a, span {
      color: $colorPrimary;
      font-weight: $fontWeightSemibold;
    }
  }
}
