.select-hidden {
	display: none;
	padding-right: 10px;
	visibility: hidden;
}

.select {
	color: $colorText;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	position: relative;
	width: 100%;
}
.select-styled {
	background-color: $colorWhite;
	border: 1px solid $colorGrey;
	border-radius: $radius;
	bottom: 0;
	font-size: 14px;
	left: 0;
	padding-inline: 10px;
	position: absolute;
	right: 0;
	top: 0;

	&:after {
		border: 7px solid transparent;
		border-color: $colorGrey transparent transparent transparent;
		content: "";
		height: 0;
		position: absolute;
		right: 10px;
		top: 13px;
		width: 0;
	}

	&:hover {
		background-color: $colorGreyLight;
	}

	&:active,
	&.active {
		background-color: $colorGreyLight;

		&:after {
			border-color: transparent transparent $colorText transparent;
			top: 6px;
		}
	}
}

.select-options {
	background-color: $colorGreyLight;
	border: 1px solid $colorGrey;
	border-radius: $radius;
	border-top: none;
	box-shadow: 0 1px 10px $colorGreyLight;
	display: none;
	font-size: 14px;
	left: 0;
	list-style: none;
	margin: 3px 0 0;
	max-height: 30vh;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 90;

	li {
		border-top: 1px solid $colorGrey;
		margin: 0;
		padding: 8px 0;
		text-indent: 15px;

		&:hover,
		&.is-selected {
			background: $colorPrimary;
			color: $colorWhite;
		}

		&[rel="hide"] {
			display: none;
		}
	}
}
