.slidein {
	background: rgba($colorWhite, 1);
	bottom: 0;
	height: calc(100% - 68px);
	overflow: hidden;
	position: fixed;
	transition: transform $duration;
	width: 100vw;
	z-index: 9999;
	right: 0;
	transform: translate(100%, 0);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&.show {
		transform: translate(0, 0);
	}

	&-overlay {
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
	}

	&-no-scroll {
		overflow: hidden !important;
	}

	form.search-form {
		margin: 0 auto;
		padding: 10px;
		@include up($large) {
			font-size: 1.25em;
			min-width: 600px;
		}
		input {
			@include up($large) {
				padding: 15px;
			}
		}
	}
	&.sidesearch {
		height: 100vh;
		top: 0;
	}
	.fa-times {
		font-size: 2em;
	}
}

a[data-slidein-close] {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 20px 0 0 !important;
	z-index: 20;
	cursor: pointer;
	line-height: 1em;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: flex-end !important;
}
