.slidein {
  background: rgba(255,255,255,1);
  height: 100%;
  position: fixed;
  overflow: auto;
  transition: transform .3s;
  top: 0;
  width: 100vw;
  z-index: 100;
  right: 0;
  transform: translate(100%, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.show {
    transform: translate(0, 0);
  }
  &-overlay {
    //background: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  &-no-scroll {
    overflow: hidden !important;
  }

  &.sidesearch {
    background-color: $colorWhite;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0,0,0,.08);
    height: auto;
    left: 50%;
    margin: 8px auto;
    max-width: min(768px, calc(98vw - 24px));
    opacity: 0;
    padding: 16px;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 0;
    transform: translate(-50%, -30%);
    transition: .3s;
    &.show {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, 0);
    }
  }
}

[data-slidein-close] {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 0 !important;
  z-index: 20;
  font-size: 1.5em;
  cursor: pointer;
  line-height: 1;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  background: none;
  border: none;
}