/*
Custom style for admin panel
Author: Waga
Author URI: https://waga.it
*/
#optionsframework .group .section {
  padding: 10px 10px 25px;
}
.section .heading {
  font-size: 1.1em;
}
.section-info .heading {
  font-size: 1.4em;
}
.wp-core-ui .clearcache-button {
  margin-left: 10px;
}
/**********************************
 * BEHAVIORS METABOX
 **********************************/
div#behavior.postbox .behavior-images-options:before,
div#behavior.postbox .behavior-images-options:after {
  content: " ";
  display: table;
}
div#behavior.postbox .behavior-images-options:after {
  clear: both;
}
div#behavior.postbox .option-wrap {
  float: left;
}
div#behavior.postbox .option-wrap img.behavior-metabox-image-selected {
  border: 3px solid #666;
}
div#behavior.postbox .option-wrap span {
  line-height: 2em;
  text-transform: capitalize;
  display: block;
  background-color: #f9f9f9;
  margin: 0 3px;
}
/**********************************
 * ADMIN GALLERY BOX
 **********************************/
#imageContainer {
  border: 1px solid #DFDFDF;
  padding: 5px;
}
.deleteImg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}
.on > .deleteImg {
  display: inherit;
}
.containerImgGalleryAdmin {
  display: inline-block;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.uploadContainer {
  height: 30px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-top: 0;
}
.imgGalleryAdmin {
  width: 150px;
}
.mainContainer {
  width: 100%;
  transition: 0.2s ease-out;
}
.mainContainer.selected {
  min-height: 391px;
  width: 64%;
  float: left;
  transition: 0.40s ease;
}
#imageContainer.selected {
  width: 96.2%;
  float: left;
  min-height: 330px;
}
.uploadContainer.selected {
  width: 96.2%;
  float: left;
  margin-bottom: 20px;
  padding-right: 0;
}
#imageInfo {
  visibility: hidden;
  border: 1px solid #dfdfdf;
  background: #F9F9F9;
  min-height: 391px;
  float: left;
}
#imageInfo.active {
  visibility: visible;
  animation: slideInRight;
  -webkit-animation: slideInRight;
  -webkit-animation-duration: 0.40s;
  animation-duration: 0.40s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 35%;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 35%;
  }
}
#imageInfo .header {
  background: #F1F1F1;
  height: 82px;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px;
}
#imageInfo #imgThumb {
  display: none;
  float: left;
  width: 60px;
  border: 1px solid #dfdfdf;
  height: 60px;
}
#imageInfo #imgThumb.active {
  display: inherit;
}
#imageInfo #mainInfo {
  float: left;
  width: 59%;
}
#imgThumb img {
  width: 50px;
  border: 5px solid #fff;
}
#mainInfo p {
  text-align: left;
  margin: 0 10px 5px;
  font-size: 9px;
}
#mainInfo .imgName,
#imageTitle {
  font-weight: bold;
  margin-top: 0;
}
#mainInfo .upload,
#mainInfo .dimensions {
  color: #999999;
}
#imageInfo .body {
  display: none;
  padding: 10px;
}
#imageInfo .body.active {
  display: inherit;
}
#imageInfo .body label {
  float: left;
  font-style: italic;
  font-size: 10.5px;
}
#imageInfo .body input,
#imageInfo .body textarea {
  float: right;
  max-width: 350px;
  width: 65%;
}
#imageInfo p.title,
#imageInfo p.alt {
  min-height: 20px;
}
#imageInfo p.caption,
#imageInfo p.description {
  min-height: 60px;
}
#imageContainer.selected .containerImgGalleryAdmin {
  width: 100px;
  height: 100px;
}
#imageContainer.selected .imgGalleryAdmin {
  width: 100px;
}
#imageContainer.selected .selected .imgGalleryAdmin {
  width: 90px;
  border: 5px solid #1e8cbe;
}
#imageInfo .footer {
  height: 30px;
  border-top: 1px solid #dfdfdf;
  padding: 10px;
}
#imageInfo .footer button {
  display: none;
}
#imageInfo .footer.active button {
  display: inherit;
}
#imageInfo .footer #closeBtn {
  float: left;
}
#imageInfo .footer #updateBtn {
  float: right;
}
.acf-field-wcf-gallery {
  overflow: hidden;
}
