/*
Custom style for Theme Options panel
Version: 1.0
Author: Waga
Author URI: https://waga.it
*/
/* General rules */
div#optionsframework-wrap {
  margin: 0px auto;
  /* Vertical Tabbed Navigation */
}
div#optionsframework-wrap .optionsframework-header h2 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 15px;
  margin-bottom: 10px;
}
div#optionsframework-wrap div.optionsframework-content-wrapper:before,
div#optionsframework-wrap div.optionsframework-content-wrapper:after {
  content: " ";
  display: table;
}
div#optionsframework-wrap div.optionsframework-content-wrapper:after {
  clear: both;
}
div#optionsframework-wrap div.nav-tab-wrapper {
  float: left;
  width: 15%;
  padding: 0;
  margin: 0;
}
div#optionsframework-wrap div.nav-tab-wrapper ul {
  margin-top: 64px;
}
div#optionsframework-wrap div.nav-tab-wrapper .nav-tab {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 12px 15px 12px 40px;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: none !important;
  box-sizing: border-box;
  background-color: #f1f1f1;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-image: url("../images/icons/behaviour-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .layout-tab {
  background-image: url("../images/icons/layout-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .backgrounds-tab {
  background-image: url("../images/icons/backgrounds-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .style-tab {
  background-image: url("../images/icons/style-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .typography-tab {
  background-image: url("../images/icons/typography-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .topnav-tab {
  background-image: url("../images/icons/top-nav-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .header-tab {
  background-image: url("../images/icons/header-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .footer-tab {
  background-image: url("../images/icons/closure-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .postspages-tab {
  background-image: url("../images/icons/behaviour-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .blog-tab {
  background-image: url("../images/icons/blog-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .postmeta-tab {
  background-image: url("../images/icons/posts-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .social-tab {
  background-image: url("../images/icons/social-icon.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .customcss-tab {
  background-image: url("../images/icons/custom-css.svg");
}
div#optionsframework-wrap div.nav-tab-wrapper .nav-tab-active {
  background-color: #fff;
}
div#optionsframework-wrap #optionsframework-metabox {
  float: right;
  width: 85%;
}
#optionsframework {
  /* General Rules */
  /*
  .section-typography .wp-picker-container {
    margin-left: 5px;
    margin-top: 3px;
  }

  .controls .of-typography-weight {
    width: 100px;
    margin-left: 5px;
    float: left;
  }

  .controls .of-typography-face {
    width: 200px;
  }
  */
  /* Layout */
  /*
  .layout #section-waboot_page_width {
    border-right: none;
  }

  #section-waboot_page_width {
    width: 100%;
    border-right: none;
  }
  */
  /*
  #section-waboot_page_bgcolor {
    background-image: url("../images/style/page-color.png");
  }

  #section-waboot_topnav_bgcolor {
    background-image: url("../images/style/top-nav-color.png");
  }

  #section-waboot_header_bgcolor {
    background-image: url("../images/style/header-color.png");
  }

  #section-waboot_navbar_bgcolor {
    background-image: url("../images/style/navbar-color.png");
  }

  #section-waboot_banner_bgcolor {
    background-image: url("../images/style/banner-color.png");
  }

  #section-waboot_content_bgcolor {
    background-image: url("../images/style/content-color.png");
  }

  #section-waboot_bottom_bgcolor {
    background-image: url("../images/style/content-bottom-color.png");
  }

  #section-waboot_footer_bgcolor {
    background-image: url("../images/style/footer-color.png");
  }

  #section-waboot_closure_bgcolor {
    background-image: url("../images/style/closure-color.png");
  }
  */
  /* Backgrounds */
  /* Bootstrap */
  /* Typography */
  /* Top Nav */
  /* Header */
  /* Footer */
  /* Posts & Pages */
  /* Post Meta */
  /* Social */
  /* Custom CSS */
  /* Checkbox Switch */
}
#optionsframework * {
  box-sizing: border-box;
}
#optionsframework h3 {
  background-color: #222222;
  color: #f1f1f1;
  font-size: 24px;
}
#optionsframework .wp-picker-holder,
#optionsframework .wp-picker-holder *,
#optionsframework .wp-picker-container,
#optionsframework .wp-picker-container * {
  box-sizing: content-box;
}
#optionsframework .group {
  overflow: auto;
  padding-bottom: 0;
}
#optionsframework .section {
  width: 50%;
  min-height: 225px;
  box-sizing: border-box;
  padding: 25px;
  float: left;
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ddd;
}
#optionsframework .section p {
  text-align: center;
}
#optionsframework .section h4 {
  margin-bottom: 10px;
}
#optionsframework .section .heading {
  font-size: 18px;
  text-align: center;
  width: 100%;
}
#optionsframework .section .explain {
  width: 100%;
  max-width: 100% !important;
  text-align: center;
  display: block;
  float: none;
  margin-bottom: 15px;
}
#optionsframework .section .controls {
  width: 100% !important;
  min-width: 100% !important;
  text-align: center;
  padding: 4px 15px 0;
  box-sizing: border-box;
}
#optionsframework .section .check-wrapper,
#optionsframework .section .radio-wrapper {
  display: inline-block;
  margin: 5px;
}
#optionsframework .section .controls .option-wrap {
  display: inline-block !important;
}
#optionsframework .section .controls .option-wrap span {
  line-height: 2em;
  text-transform: capitalize;
  display: block;
  background-color: #f9f9f9;
  margin: 0 3px;
}
#optionsframework .section .controls .option-wrap img {
  margin: 0 3px 10px;
}
#optionsframework .section .controls img {
  display: inline-block !important;
  text-align: center;
  float: none !important;
}
#optionsframework .section .controls .of-radio-img-selected {
  border: 3px solid #666;
}
#optionsframework #section-waboot_custom_css .controls {
  text-align: left !important;
}
#optionsframework .section-info {
  width: 100%;
  border-right: none;
  clear: both;
  min-height: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 10px 10px 25px;
  background-color: #666;
  color: #fff;
}
#optionsframework .section-info h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
#optionsframework .section-color .heading,
#optionsframework .section-color .explain {
  text-align: left;
  padding-left: 15px;
}
#optionsframework .section-typography .heading,
#optionsframework .section-typography .explain {
  text-align: left;
  padding-left: 15px;
}
#optionsframework .wp-picker-holder {
  position: absolute;
  z-index: 99;
}
#optionsframework .wp-picker-container {
  float: left;
}
#optionsframework .screenshot {
  margin: 20px 0 0;
  width: 100%;
}
#optionsframework .screenshot .remove-image {
  display: none;
}
#optionsframework .layout .section {
  min-height: 0;
}
#optionsframework .layout .section:nth-child(even) {
  border-right: none;
}
#optionsframework .layout .section:nth-child(odd) {
  border-right: 1px solid #ddd;
  clear: both;
}
#optionsframework .layout #section-waboot_page_width,
#optionsframework .layout #section-waboot_page_bgcolor {
  border-right: none;
  width: 100%;
}
#optionsframework .layout .section-images {
  border-bottom: 0;
}
#optionsframework .layout .section-color .heading,
#optionsframework .layout .section-color .explain {
  text-align: center;
  padding-left: 0;
}
#optionsframework .layout .section-color .heading {
  display: none;
}
#optionsframework .layout .section-color .wp-picker-container {
  float: none;
}
#optionsframework .backgrounds .section:nth-child(2) {
  border-right: none;
}
#optionsframework .backgrounds .section:nth-child(3),
#optionsframework .backgrounds .section:nth-child(5),
#optionsframework .backgrounds .section:nth-child(8),
#optionsframework .backgrounds .section:nth-child(10),
#optionsframework .backgrounds .section:nth-child(12),
#optionsframework .backgrounds .section:nth-child(14),
#optionsframework .backgrounds .section:nth-child(16) {
  border-right: 1px solid #ddd;
}
#optionsframework .backgrounds .section:nth-child(4),
#optionsframework .backgrounds .section:nth-child(6),
#optionsframework .backgrounds .section:nth-child(9),
#optionsframework .backgrounds .section:nth-child(11),
#optionsframework .backgrounds .section:nth-child(13),
#optionsframework .backgrounds .section:nth-child(15) {
  border-right: none;
  border-bottom: 1px solid #ddd;
}
#optionsframework .backgrounds .section:nth-child(7) {
  border-right: none;
}
#optionsframework #section-waboot_body_bgimage {
  width: 100%;
}
#optionsframework #section-waboot_body_bgcolor {
  background-image: url("../images/style/body-background-color.png");
}
#optionsframework .style .section {
  width: 33.3333%;
}
#optionsframework .style .section {
  border-right: 1px solid #ddd;
}
#optionsframework .style .section:nth-child(4),
#optionsframework .style .section:nth-child(7) {
  border-right: none;
}
#optionsframework .typography .section {
  width: 100%;
}
#optionsframework .typography .section .font-family-selector,
#optionsframework .typography .section .font-style-selector,
#optionsframework .typography .section .font-charset-selector,
#optionsframework .typography .section .wp-picker-container {
  float: left;
  width: 49%;
  margin: 0 0 15px;
}
#optionsframework .typography .section .font-family-selector,
#optionsframework .typography .section .font-style-selector {
  margin-right: 2%;
}
#optionsframework .typography .section .font-style-selector,
#optionsframework .typography .section .font-charset-selector {
  padding: 10px 0;
  box-shadow: 0 0 0 1px #ddd;
}
#optionsframework .typography .section .font-style-selector {
  clear: left;
}
#optionsframework .typography .section .wp-picker-container .wp-color-result {
  margin: 0;
}
#optionsframework .typography .section .font-preview {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  clear: both;
  padding: 15px 0px;
}
#optionsframework .typography .section .font-preview p {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
#optionsframework .header .section {
  width: 100%;
}
#optionsframework .header .section:nth-child(4),
#optionsframework .header .section:nth-child(6),
#optionsframework .header .section:nth-child(8) {
  border-right: 1px solid #ddd;
  width: 50%;
}
#optionsframework .header .section:nth-child(5),
#optionsframework .header .section:nth-child(7),
#optionsframework .header .section:nth-child(9) {
  border-right: 0;
  width: 50%;
}
#optionsframework .footer .section {
  width: 100%;
}
#optionsframework .postspages .section-info {
  width: 100%;
  border-right: none;
}
#optionsframework .postspages .section:nth-child(6n+5) {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#optionsframework .postmeta .section:nth-child(even) {
  border-right: 1px solid #ddd;
}
#optionsframework .postmeta .section:nth-child(odd) {
  border-right: none;
}
#optionsframework .social .section:nth-child(odd) {
  border-right: 1px solid #ddd;
}
#optionsframework .social .section:nth-child(even) {
  border-right: none;
}
#optionsframework .social #section-waboot_social_position {
  width: 100%;
}
#optionsframework .social .section {
  background-position: 35px 35px;
}
#optionsframework .social .controls {
  text-align: left;
  padding-left: 80px;
}
#optionsframework .social #section-waboot_social_position .controls {
  text-align: center;
  padding-left: 0;
}
#optionsframework .social .section .heading,
#optionsframework .social .section .explain {
  text-align: left;
  padding-left: 80px;
}
#optionsframework #section-waboot_social_facebook {
  background-image: url("../images/social/facebook.png");
}
#optionsframework #section-waboot_social_twitter {
  background-image: url("../images/social/twitter.png");
}
#optionsframework #section-waboot_social_google {
  background-image: url("../images/social/googleplus.png");
}
#optionsframework #section-waboot_social_youtube {
  background-image: url("../images/social/youtube.png");
}
#optionsframework #section-waboot_social_pinterest {
  background-image: url("../images/social/pinterest.png");
}
#optionsframework #section-waboot_social_linkedin {
  background-image: url("../images/social/linkedin.png");
}
#optionsframework #section-waboot_social_instagram {
  background-image: url("../images/social/instagram.png");
}
#optionsframework #section-waboot_social_feedrss {
  background-image: url("../images/social/rss.png");
}
#optionsframework #section-waboot_custom_css {
  width: 100%;
  border-right: none;
}
#optionsframework .wb-onoffswitch {
  position: relative;
  width: 90px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: none;
  min-width: 0 !important;
  padding: 0px;
  margin: 0 auto 10px;
}
#optionsframework .wb-onoffswitch-checkbox {
  display: none;
}
#optionsframework .wb-onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
#optionsframework .wb-onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
#optionsframework .wb-onoffswitch-inner:before,
#optionsframework .wb-onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#optionsframework .wb-onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #2EA2CC;
  color: #FFFFFF;
}
#optionsframework .wb-onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
#optionsframework .wb-onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
#optionsframework .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-inner {
  margin-left: 0;
}
#optionsframework .wb-onoffswitch-checkbox:checked + .wb-onoffswitch-label .wb-onoffswitch-switch {
  right: 0px;
}
