.wp-block-table {
	margin-bottom: 40px;

	table {
		margin-bottom: 10px;
	}

	thead {
		background-color: $colorText;
		color: $colorWhite;
		text-align: left;
	}

	th,
	td {
		padding: 10px;
	}

	figcaption {
		color: $colorText;
		font-size: 14px;
		opacity: 0.5;
	}

	&.is-style-regular {
		thead,
		th {
			border: none;
		}

		td {
			border-color: $colorGrey;
		}
	}

	&.is-style-stripes {
		border: none;

		tbody {
			border: 1px solid $colorGrey;

			tr:nth-child(odd) {
				background-color: $colorGreyLight;
			}
		}
	}
}
