.waboot-inbox tr.loading {
  background-color: #ccc;
}
/** RECENT POST **/
.wbrw-column {
  overflow: hidden;
  float: left;
  width: 31%;
  margin-right: 3.5%;
}
.wbrw-column.last {
  float: right;
  margin-right: 0;
}
.wbrw-column .multiple-check {
  margin: 1em 0;
}
.wbrw-column .multiple-check ul {
  border: 1px solid #eee;
  padding: 10px;
  max-height: 110px;
  overflow: auto;
  margin-top: 0;
}
.wbrw-clear {
  clear: both;
}
