node_modules/
bower_components/
builds/
npm-debug.log
Movefile

############
## ASSETS
############
assets/cache/*.*
!assets/cache/.gitkeep
assets/dist/css/waboot-child.css
assets/dist/css/waboot-child.css.map
assets/dist/css/client-custom.css
assets/src/less/tmp_*.*
assets/src/less/theme-options-generated.less
assets/dist/css/*.*


############
## COMPONENTS ASSETS
############
components/**/node_modules
components/**/bower_components
components/**/bundle.js

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
*.codekit
Icon
Icon\n