node_modules/
bower_components/
builds/
npm-debug.log
Movefile

############
## ASSETS
############
assets/dist/css/*.*
!assets/dist/css/.gitkeep

assets/dist/js/*.*
!assets/dist/js/.gitkeep


############
## COMPONENTS ASSETS
############
components/**/node_modules
components/**/bower_components
components/**/bundle.js

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.idea/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
temp/
._*
.Trashes
.svn
*.codekit
Icon
Icon\n