.waboot-slideshow .owl-item div {
    /*height: 400px;*/
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.waboot-slideshow .owl-item{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.waboot-slideshow .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.waboot-slideshow .owl-nav .owl-prev,
.waboot-slideshow .owl-nav .owl-next {
    margin: -15px 15px 0;
    font-size: 30px;
    color: rgba(255,255,255,0.5);
}

.waboot-slideshow .owl-nav .owl-prev {
    float: left;
}
.waboot-slideshow .owl-nav .owl-next {
    float: right;
}

.waboot-slideshow .owl-dots {
    margin: 0 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.waboot-slideshow .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    margin: 0 3px;
}

.waboot-slideshow .owl-dots .owl-dot.active {
    background-color: rgba(255,255,255,1);
}