.catalog-filters {
  .catalog__filter {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom:0;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0 0 7px;
        text-transform: uppercase;
        opacity: .8;
        @include up($large){
          font-size: .9em;
        }
        input {
          margin-left: 0;
        }
      }
      ul {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    ul.filter__list {
      max-height: 200px;
      overflow-y: auto;
    }
  }
  .price-slider {
    min-width: 180px;
    margin: 20px 20px 40px;
  }
}

.catalog-filters {
  &__button {
    background-color: transparent;
    color: $colorPrimary;;
    border: 1px solid $colorGrey;
    text-align: center;
    margin: 0;
    @include up($medium) {
      display: none;
    }
  }
  &__close,
  &__apply {
    display: none;
    cursor: pointer;
  }
  @include down($medium){
    transition: all .5s ease;
    margin-bottom: 0 !important;
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 100%;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    height: -webkit-fill-available;
    &--opened {
      //height: 100vh;
      left: 0;
    }
    &__inner {
      width: 100%;
      //height: 100%;
      padding: $gridGutter*2 $gridGutter;
      overflow-y: auto;
      //display: grid;
      //grid-gap: 25px;
    }
    &__close {
      position: absolute;
      z-index: 20;
      right: 0;
      top: 0;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__apply {
      display: block;
      position: absolute;
      z-index: 20;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
      padding: 15px;
      font-size: 1em;
    }
  }
}

.woocommerce-ordering {
  @include down($medium) {
    width: 46%;
    select {
      height: 100%;
    }
  }
}


/* Catalalog Filters Header Option */

.catalog--layout-header {
  @include up($large) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .catalog-filters {
      flex-grow: 1;
      &__inner {
        display: flex;
        gap: 40px;
      }
    }
  }
  .catalog {
    &__filter {
      //margin-bottom: 0 !important;
      @include down($medium) {
        margin-bottom: 20px !important;
        border-bottom: 1px solid $colorGrey;
        padding-bottom: 20px;
      }
      position: relative;
      .dropdown__content {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        @include up($large) {
          position: absolute;
          background-color: #fff;
          z-index: 99;
          min-width: calc(100% + 30px);
          //left: -15px;
        }
        ul.filter__list {
          max-height: 180px;
          overflow: auto;
          margin: 10px 0;
          @include up($large) {
            margin: 10px;
          }
          flex-grow: 1;
          label {
            display: flex;
            flex-wrap: nowrap;
          }
        }
        .dropdown__apply {
          width: 100%;
        }
      }
      h4 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: $fontWeightNormal;
        cursor: pointer;
        &:after {
          content: 'Ë…';
          opacity: .7;
          margin-left: 10px;
        }
      }
    }

    &__loadmore {
      margin-bottom: $gridGutter;
      width: 100%;
    }

  }
}

