// Off canvas navigation
// --------------------------------------------------

@mixin offcanvas{
  display: none;
  &.in {
    display: block;
  }
}

.offcanvas {
  @include offcanvas;
}

.offcanvas-xs {
  @media (max-width: #{screen-xs-max}) {
    @include offcanvas;
  }
}


.offcanvas-sm {
  @media (max-width: #{$screen-sm-max}) {
    @include offcanvas;
  }
}

.offcanvas-md {
  @media (max-width: #{$screen-md-max}) {
    @include offcanvas;
  }
}

.offcanvas-lg {
  @include offcanvas;
}

.canvas-sliding {
  -webkit-transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
          transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
}

.offcanvas-clone {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
}